@mixin me-button {
    display: inline-block;
    padding: 14.5px 33px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    min-width: 210px;
    font-size: rem(20);
    font-weight: 600;
    min-height: 60px;
    font-family: hubl("$font");
    text-align: center;
    &:hover {
        &:before {
            border: none;
        }
    }

    @media (max-width: 580px) {
        font-size: rem(18);
        padding: 10px 25px;
        min-height: 0;
        min-width: auto;
    }
}

@mixin me-button--primary {
    border: 2px solid hubl("$cta_background");
    background-color: hubl("$cta_background");
    color: hubl("$cta_hover_background");
    &:hover {
        border-color: hubl("$cta_hover_dark");
        background-color: hubl("$cta_hover_dark");
        box-shadow: 0px 0px 40px 3.5px rgba(100, 22, 48, 0.18);
        transform: translateY(-3px);
    }
}

@mixin me-button--secondary {
    border: 2px solid #fff;
    background-color: transparent;
    color: hubl("$cta_hover_background");
    &:hover {
        background-color: #fff;
        color: hubl("$first_color");
        box-shadow: 0px 0px 39.56px 3.44px rgba(100, 22, 48, 0.32);
        transform: translateY(-3px);
    }
}

@mixin me-button--banner {
    padding: 10px 33px;
    min-height: 55px;
    border: 2px solid hubl("$cta_background");
    background-color: hubl("$cta_background");
    color: hubl("$cta_hover_background");
    &:hover {
        border-color: hubl("$cta_hover_dark");
        background-color: hubl("$cta_hover_dark");
        box-shadow: 0px 0px 39.56px 3.44px rgba(255, 255, 255, 0.42);
        transform: translateY(-3px);
    }
}

@mixin me-button--white {
    border: 2px solid #fff;
    background-color: #fff;
    color: hubl("$first_color");
    &:hover {
        box-shadow: 0px 0px 40px 3.5px rgba(100, 22, 48, 0.18);
        transform: translateY(-3px);
    }
}

a {
    &.cta_button {
        text-decoration: none;
        box-sizing: border-box !important;
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }
    &.me-cta-primary,
    &.me-cta-secondary,
    &.me-cta-banner,
    &.me-cta-white {
        @include me-button;
    }
    &.me-cta-primary {
        @include me-button--primary;
    }
    &.me-cta-secondary {
        @include me-button--secondary;
    }
    &.me-cta-banner {
        @include me-button--banner;
    }
    &.me-cta-white {
        @include me-button--white;
    }
    &.btn-filter {
        @extend .me-cta-primary;
        min-width: 0;
        font-size: rem(16);
        padding: 5px 27px;
        font-weight: 600;
        border-width: 1px;
        &:hover {
            background: transparent;
            color: hubl("$first_color");
            transform: none;
            box-shadow: none;
        }
        &.active {
            background: transparent;
            color: hubl("$first_color");
            box-shadow: none;
        }
    }
}