span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;

}

* {

    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

::selection {
    background: hubl("$second_color");
}

::-moz-selection {
    background: hubl("$second_color");
}

.row-fluid [class*="span"] {
    min-height: 0;
}

.header-container-wrapper {
    position: relative;
    z-index: 3;
}

.body-container-wrapper {
    position: relative;
    z-index: 2;
    margin-top: 70px;
}

body:not(.landing) .footer-container-wrapper {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}


@media (max-width: 1024px) {
    body:not(.landing) .body-container-wrapper {
        margin-bottom: 0 !important;
    }
}

body:not(.landing) .body-container-wrapper {
    background-color: #fff;
    // min-height: 100vh;
}

.container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
}

.row-fluid [class*="span"] {
    min-height: 0;
}

.text-center {
    text-align: center;
}

.slick-slider {
    margin-bottom: 0;

    .slick-track {
        margin-left: auto;
        margin-right: auto;
    }
}



//IOS video 
video::-webkit-media-controls-start-playback-button {
    display: none !important;
}

// IMG
img {
    max-width: 100%;
    height: auto;
}

// MAGNIFIC POPUP
.mfp-bg {
    background: #000;
    opacity: 0.9;
}

.mfp-wrap {
    .mfp-content {
        max-width: 1024px;
    }
}



.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.fade.in {
    opacity: 1;
}


/* COLUMNS BOOTSTRAP */

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0;
}

@media (min-width: 768px) {

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 992px) {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {

    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0;
    }
}

.hs-tools-menu {
    .hs-dropdown {
        li {
            a {
                &:before {
                    content: none;
                }
            }
        }
    }
}

body {
    line-height: 1.42857143;
    color: #404040;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    margin: 20px 0px;

    span {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: #8E00AD;
    }
}

p {
    margin: 20px 0px;
}

label {
    span {
        background-color: transparent;
    }
}

.hs_cos_flex-direction-nav {
    a {
        background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/bg_direction_nav.png');
    }
}

.row-fluid [class*="span"] {
    min-height: 0px;
}

.container {
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.footer-container-wrapper .footer ul li a i {
    transition: all 0.3s linear;
}

.footer-container-wrapper .footer ul li a i:hover {
    background-color: #bfbfbf;
}

body,
a,
h1,
h2,
h3,
h4,
h5,
p,
span,
div,
ul,
li,
input,
span,
textarea {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 18px;
    font-weight: 200;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;

    span {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 20px 0px;
}

textarea {
    padding: 8px;
}

.error {
    margin: 0;
}

.widget-type-header {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        span {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            color: #8E00AD;
        }
    }
}

header.header {
    .widget-type-logo {
        height: 70px;
        position: relative;
    }

    .widget-type-logo img.hs-image-widget {
        max-width: 206px;
        max-height: 60px;
        width: auto;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        z-index: 1;
    }
}

.widget-type-rich_text a:not(.cta_button) {
    color: #8E00AD;

    :hover {
        text-decoration: underline;
    }
}

.widget-type-form {
    .form-title {
        font-size: 33px;
        font-weight: bold;
        text-align: left;
        margin: 65px 0 25px 0;
        color: #8E00AD;
    }

    form .hs-form-required {
        display: none;

        form input {
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 18px;
            font-weight: 300;
            border: solid 1px #d6d5d5;
            margin-top: 8px;
            color: initial;
            font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
        }
    }

    .hs-form-field {
        margin-bottom: 15px;
    }

    form select {
        background-color: #4a4949;
        border: 0;
        outline: 0;
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 19px !important;
        font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-top: 0px;
        border-radius: 0;
        background-image: url('//cdn2.hubspot.net/hubfs/309194/Assets_MS/angle-down.png');
        background-repeat: no-repeat;
        background-position-x: 98%;
        background-position-y: 64%;
    }

    form textarea {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 300;
        border: solid 1px #d6d5d5;
        color: initial;
        margin-top: 8px;
        font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
        min-height: 130px;
    }

    form ul li {
        list-style-type: none;
        color: #fff;
    }

    form ul li.hs-form-checkbox {
        color: #404040;
    }

    form ul li.hs-form-booleancheckbox {
        color: #404040;
    }

    label {
        span {
            color: #fff;
            font-weight: 300;
        }

        position:relative;
    }

    h3 {
        font-size: 33px;
        font-weight: bold;
        text-align: left;
        margin: 65px 0 25px 0;
        color: #8E00AD;
    }

    form .hs-form-required {
        display: none;
    }

    .home-contact-section .widget-type-form label {
        color: #fff;
    }

    form input {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        color: #fff;
        font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    }

    form input[type="submit"] {
        border-bottom: none;
        font-size: 18px;
    }

    form textarea {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 38px;
        font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
        min-height: 130px;
    }

    form ul li {
        list-style-type: none;
    }
}

footer {
    border-top: none;
}

.feedreader_box {
    margin-top: -3px;
}

.footer-info .widget-type-form {
    form {
        margin-top: 30px;

        .hs-error-msgs {

            a,
            label {
                color: #fff;
                font-size: 16px;
            }
        }
    }

    .form-title {
        display: none;
    }

    form input {
        color: #fff;
        border-radius: 0;
    }

    form div:first-of-type div:first-of-type div:first-of-type input:first-of-type {
        margin-top: 37px;
    }

    ::-webkit-input-placeholder {
        color: #fff;
        font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    }

    ::-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    }

    ::-ms-input-placeholder {
        color: #fff;
        font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    }

    form {
        margin-top: 30px;
    }
}

.hs-form-checkbox-display span {
    padding-left: 5px;
    color: white;
}


/*    .contact-page .widget-type-form .form-title{
        margin-top: 45px;
        margin-bottom: 24px;
        font-size: 31px;
        color: #ffc400;
        text-align: left;
        font-weight: 600;
    }    
    
    .contact .widget-type-form form input{
        border: none;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 38px;
    }
    .contact .widget-type-form form div:first-of-type div:first-of-type div:first-of-type input:first-of-type{
        margin-top: 10.4px;
    }
    
    .contact .widget-type-form form ::-webkit-input-placeholder {
   color: #fff;
    font-family: 'Houschka Pro',sans-serif;
}

.contact .widget-type-form form ::-moz-placeholder {  Firefox 18- 
   color: #fff;  
   font-family: 'Houschka Pro',sans-serif;
}

.contact .widget-type-form form ::-moz-placeholder {   Firefox 19+ 
   color: #fff;  
   font-family: 'Houschka Pro',sans-serif;
}

.contact .widget-type-form form ::-ms-input-placeholder {  
   color: #fff;  
   font-family: 'Houschka Pro',sans-serif;
}
    .contact .hs-form-field {
        margin-bottom: initial;
    }

    
    .contact-page .widget-type-form form input{
        border: solid 1px #d6d5d5;
        margin-top:8px;
        color: initial;
    }
    .contact-page .hs-form-field{
        margin-bottom: 15px;
    }
    
    .contact .widget-type-form form textarea{
        border: none;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 38px;
    }
    
    
    .contact-page .widget-type-form form textarea{
        border: solid 1px #d6d5d5;
        margin-top:8px;
        color: initial;
    }
    .content-landing .widget-type-form .form-title{
        display: none;
    }
    .content-landing .landing-social-sharing{
        margin-top: 15px;
        margin-bottom: 30px;
    }
.side-bar-blog ::-webkit-input-placeholder {
   color: #626262;
    font-family: 'Houschka Pro',sans-serif;
}

.side-bar-blog :-moz-placeholder {  Firefox 18- 
   color: #626262;  
   font-family: 'Houschka Pro',sans-serif;
}

.side-bar-blog ::-moz-placeholder {   Firefox 19+ 
   color: #626262;  
   font-family: 'Houschka Pro',sans-serif;
}

.side-bar-blog :-ms-input-placeholder {  
   color: #626262;  
   font-family: 'Houschka Pro',sans-serif;
}
.side-bar-blog .widget-type-form form input{
    border-bottom: solid 1px #ffc400;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #626262;  
}
.side-bar-blog .widget-type-form form input[type="submit"]{
    background-color: #ffc400;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
    padding: 4.5px 20px;
    border: solid 2px #ffc400;
}
.side-bar-blog .widget-type-form form input[type="submit"]:hover{
    background-color: white;
    color: #ffc400;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
    padding: 4.5px 20px;
    border:solid 2px #ffc400;  
}
.side-bar-blog .widget-type-form form .hs_submit input{
    color: #fff; 
    margin-top: 20px;
}
.side-bar-blog .widget-type-form form .hs_submit input:hover{
    color: #ffc400; 
}


.side-bar-blog .widget-type-form .form-title {
    font-size: 24px;
    font-weight: normal;
}
*/

a,
.button,
.yellow-button,
.hs-button {
    -webkit-appearance: none;
}

a,
a:visited,
a:focus,
a:hover,
a:active,
input:focus,
input:active,
input:hover,
input:visited,
input,
button:focus,
button:active,
button:hover,
button:visited,
button {
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.gray-hover:hover a {
    color: #75787b !important;
}

.padding-zero {
    padding: 0px;
}





h1 {
    font-size: 58px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    color: #404040;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

h3 {
    font-size: 30px;
    color: #404040;
    font-weight: normal;
}

h4 {
    font-size: 26px;
    color: #404040;
    font-weight: normal;
}

.hs_cos_wrapper_type_rich_text {
    h1 {
        font-size: 42px;
        color: #404040;
        text-decoration: none;
        text-transform: none;
        text-align: left;
        font-weight: normal;
    }

    h2 {
        font-size: 36px;
        color: #404040;
        text-decoration: none;
        text-transform: none;
        text-align: left;
        font-weight: normal;
    }

    h3 {
        font-size: 30px;
        color: #404040;
        font-weight: normal;
    }

    h4 {
        font-size: 26px;
        color: #404040;
        font-weight: normal;
    }

    p {
        margin-top: 0px;
    }

    a:not(.cta_button) {
        color: #8E00AD;

        &:hover {
            text-decoration: underline;
        }
    }

    a.cta_button {
        text-decoration: none;

        p,
        span,
        strong {
            color: inherit;
        }

        &:hover {
            text-decoration: none;
        }
    }

    blockquote {
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        text-align: center;
        margin-bottom: 20px;

        &:before {
            content: "\f10d";
            font-family: "FontAwesome";
            color: #8E00AD;
            display: inline-block;
            padding-right: 10px;
            font-size: 25px;
            position: relative;
            top: 0px;
            line-height: 0;
        }

        &:after {
            content: "\f10e";
            font-family: "FontAwesome";
            color: #8E00AD;
            display: inline-block;
            padding-left: 10px;
            font-size: 25px;
            position: relative;
            bottom: -10px;
            line-height: 0;
        }

        p {
            display: inline;
        }
    }

    ul {
        list-style: none;
        padding-left: 40px;
        margin-bottom: 20px;

        li {
            position: relative;
            margin-bottom: 6px;

            &:before {
                content: "\f00c";
                font-family: FontAwesome;
                color: #8E00AD;
                position: absolute;
                background-image: none;
                width: 16px;
                height: 16px;
                background-position: center;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    ol {
        margin-bottom: 20px;
        counter-reset: li;
        list-style: none;
        padding-left: 40px;

        li {
            margin-bottom: 6px;
            position: relative;

            &:before {
                color: #8E00AD;
                counter-increment: li;
                content: counter(li);
                position: absolute;
                width: 16px;
                background-position: center;
                left: -25px;
                top: 50%;
                display: block;
                font-size: 20px;
                transform: translateY(-50%);
                vertical-align: middle;
                height: 32px;
            }
        }
    }
}

.secondary-header {
    text-align: center;
}

.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 77px;
    /*margin-top: 125px;*/
    cursor: pointer;
    position: absolute;
    left: 50%;
    /* px swiruje na submarket/market pages, bo jest tam absolutna maska */
    top: auto;
    bottom: 50px;
    margin-left: -10px;
}

.individual-project-page .mouse_scroll {
    top: auto;
}

.about-us .mouse_scroll {
    /* fix dla strony about-us z mniejszym headerem */
    top: 400px
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 5px 4px;
    width: 13px;
    height: 13px;
}

.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    animation: mouse-scroll 1.5s infinite;
    -webkit-animation: mouse-scroll 1.5s infinite;
    -moz-animation: mouse-scroll 1.5s infinite;
}

.unu {
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}

.doi {
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
}

.trei {
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
}

.mouse {
    height: 34px !important;
    width: 20px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-animation: mouse-wheel 1.5s linear infinite;
    -moz-animation: mouse-wheel 1.5s linear infinite;
    animation: mouse-wheel 1.5s linear infinite;
}

.hs_notification_frequency_ span {
    color: rgb(64, 64, 64) !important;
    font-weight: 300;
    font-size: 16px;
}

form input[type="radio"]:checked+span:after {
    background-color: #203FA4;
    left: -28px;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.footer {
    background-color: #393939;
    height: 67px;
    color: #fff;
    position: relative;
}

.widget-type-text {
    a {
        color: #fff;
        transition: all 0.3s linear;

        &:hover {
            color: #8E00AD;
            ;
        }
    }
}

.footer-info form.hs-form .hs-form-field .input input[type="checkbox"].hs-input+span:before {
    background-color: transparent !important;
}

.footer .copy {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    line-height: 67px;
}

.footer .links {
    text-align: right;
}

.footer .links a {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    line-height: 67px;
    padding: 0px 5px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer .links a:hover {
    color: #8E00AD;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer .scroll-top {
    height: 67px;
    width: 67px;
    background-color: #203FA4;
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    text-align: center;
}

.footer .scroll-top i {
    font-size: 44px;
    color: #fff;
    line-height: 67px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer .scroll-top:hover i {
    line-height: 45px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer-info {
    background-color: hubl("$second_color");
    padding-bottom: 30px;
}

.footer-info h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 25px 0px 30px 0px;
    color: #fff;
}

.footer-info h4 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 300;
}

.footer-info .hs-rss-title {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 300;
}

.footer-info p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 300;
}

.footer-info .hs-rss-date {
    font-size: 16px;
    color: #fff;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: 300;
    border-bottom: solid 1px #fff;
    display: block;
}

.footer-info .hs-rss-byline {
    opacity: 1;
}

.social-footer {
    background-color: #203FA4;
}

.social-footer .container.position {
    position: relative;
}

.social-footer ul {
    text-align: center;
}

.social-footer ul li {
    padding: 20px 0px;
    margin: 0px 65px;
    display: inline-block;
}

.social-footer ul li a {}

.social-footer ul li a i {
    color: #fff;
    font-size: 45px;
}

.social-footer .text {
    font-weight: lighter;
    font-size: 24px;
    margin-top: 6px;
    color: #fff;
}

.social-footer .text span {
    font-weight: lighter;
    font-size: 24px;
    color: #fff;
}

.social-footer .text {
    position: relative;
    min-height: 85px;
}

.social-footer .text .hs_cos_wrapper_type_text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -5px;
    font-weight: 300;
}

.social-footer .triangle {
    position: absolute;
    bottom: -30px;
    right: 26%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 24.5px 0 24.5px;
    border-color: #203FA4 transparent transparent transparent;
}

.header .slicknav_nav {
    padding-bottom: 10px;
}

.slicknav_nav {
    background-color: #393939;
}

.header--white .slicknav_nav {
    background-color: #fff;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;

    &.slick-prev {
        left: 48px !important;

        &:before {
            content: '';
            background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 30px;
            height: 58px;
            display: block;
        }
    }

    &.slick-next {
        right: 48px !important;

        &:before {
            content: '';
            background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
            background-repeat: no-repeat;
            background-size: cover;
            transform: scaleX(-1);
            width: 30px;
            height: 58px;
            display: block;
        }
    }
}



.mask {
    position: absolute;
    background: rgba(black, .3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.svg-converted path,
.svg-converted polygon {
    fill: #8E00AD;
}

.svg-converted circle,
.svg-converted rect {
    stroke: #8E00AD;
}

.third-section {
    background-color: rgba(32, 63, 164, 0.05);

    img {
        margin-top: -340px;
    }

    h2 {
        color: #1F3EA4;
        text-transform: none;
        font-size: 24px;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    h3 {
        color: #1F3EA4;
        text-transform: none;
        font-size: 24px;
    }

    .hs_cos_wrapper_type_rich_text ul li {
        padding-left: 0px;
        margin-top: 2px;
        margin-bottom: 2px;
        color: #404040;
    }

    .hs_cos_wrapper_type_rich_text ul li:before {
        font-size: 30px;
        top: 0px;
        content: "•";
        color: #626262 !important;
    }

    @media(max-width:1300px) {
        img {
            margin-top: -295px;
        }
    }

    @media(max-width:1200px) {

        img {
            margin-top: -250px;
        }
    }

    @media(max-width:1100px) {

        img {
            margin-top: -190px;
        }

    }

    @media(max-width:972px) {

        img {
            margin-top: -150px;
        }

    }

    @media(max-width:860px) {

        img {
            margin-top: -100px;
        }

    }

    @media(max-width:500px) {

        img {
            margin-top: -50px;

        }

    }

    @media(max-width:768px) {

        img {
            margin-bottom: 50px;
        }
    }

}

.four-section {
    padding: 50px 0px;

    h2 {
        color: #203FA4;
        font-size: 24px;
        text-transform: none;
        margin-bottom: 30px;
        margin: auto;
    }

    p {
        color: #404040;
        font-size: 16px;
        max-width: 460px;
        margin: auto;
        text-align: center;
        margin-bottom: 50px !important;
        margin-top: 30px;
    }

    .me-icon h2 {
        color: #8E01AD !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    @media(max-width:768px) {
        p {
            margin-top: 50px;
        }
    }
}

.footer-container-wrapper {
    background-color: #fff !important;
    color: #404040 !important;

    h4 {
        color: #203FA4 !important;
        font-size: 24px;
    }
}

.turbo-mercuric {
    ul {
        li {
            font-size: 16px !important;
            font-weight: 400 !important;
        }
    }
}

.slicknav_nav {
    background: transparent;
}

header.header-standard .slicknav_menu .slicknav_nav .hs-menu-wrapper>ul {
    width: 100%;
    min-height: 1px;
}

header.header-standard .slicknav_menu .slicknav_nav {
    background-color: transparent;
}

.turbo-mercuric header.header-standard .slicknav_menu .mobile-menu--mask {
    background-color: transparent !important;
}

.turbo-mercuric header.header-standard .slicknav_menu {
    background-color: transparent !important;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

.turbo-mercuric .slicknav_nav ul {
    margin-top: 0px !important;

}

.turbo-mercuric header.header-standard .slicknav_menu .slicknav_nav .hs-menu-wrapper>ul {
    background-color: white !important;
    padding-top: 20px !important;
}

.turbo-mercuric header.header-standard .slicknav_menu .slicknav_nav {
    top: 70px !important;
}

.turbo-mercuric header.header-standard .slicknav_menu .slicknav_nav li.hs-menu-item>a {
    padding: 15px 55px !important;
    color: #404040;
}

.turbo-mercuric header.header-standard .slicknav_menu .slicknav_nav li.hs-menu-depth-1 ul li a {
    color: #292935 !important;
}

.turbo-mercuric header.header-standard .slicknav_menu .slicknav_nav li.hs-menu-item>a>a {
    color: #292935 !important;
}

.turbo-mercuric header.header-standard .slicknav_menu .slicknav_nav li.hs-menu-item>a>a {
    color: #292935 !important;
}

.turbo-mercuric .slicknav_nav li.slicknav_open {
    border-bottom: 0px !important;
}

.body-container-wrapper {
    margin-bottom: 0px !important;
}

.footer--main-block img {
    max-width: 147px;
    margin-bottom: 20px;
}

.footer--bottom .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
    padding: 0px 10px;
    border-right: 1px solid #626262;
    font-size: 16px;
    line-height: 1;
}

.arrow div {
    margin-left: -60px;
    margin-top: -4px;
}

@media(max-width:1120px) {
    .arrow div {
        margin-left: -50px;
    }
}

@media(max-width:1050px) {
    .arrow div {
        margin-left: 0px;
    }
}

@media(max-width:700px) {
    .arrow div {
        display: none !important;
    }

    .footer--bottom .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
        border: none !important;
    }
}

.footer--links-block form .hs-form-field {
    margin-top: 0px !important;
}

footer form input[type=text],
footer form input[type=email],
footer form input[type=tel],
footer form input[type=password],
footer form input[type=number],
footer form input[type=tel] {

    padding: 5px 0px;

}

footer .cta_button {
    background-color: transparent !important;
    color: #203FA4 !important;
    border: 2px solid #203FA4 !important;
    font-size: 12px !important;
    padding: 7.5px 15px !important;
    min-width: 100px !important;
    min-height: 20px !important;
    margin-top: 20px !important;
    border-radius: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.turbo-mercuric .widget-type-form form input {
    color: #626262 !important;
}

.footer-get p {

    margin-bottom: 30px !important;

}

.footer--links-block form input[type=submit] {

    background-color: transparent;
    color: #203FA4 !important;
    border: 2px solid #203FA4;
    font-size: 12px;
    padding: 7.5px 15px;
    min-width: 100px;
    min-height: 20px;
    margin-top: 20px;

}

.footer--links-block form input[type=submit]:hover {

    color: white !important;
}

.fab:before {

    font-family: FontAwesome;
    color: white;

}

footer i {
    font-style: normal;
    font-size: 17px;
}

.me-footer-social-icons li {
    background-color: #203FA4;
    border-radius: 100px;
    padding: 3px 5px !important;
    margin-right: 5px;
}

.me-footer-social-icons li a {
    height: 20px;
    width: 20px;
    text-align: center;
}

.me-footer-social-icons ul li {
    font-size: 17px !important;
}

footer .row-number-15 {
    float: left;
}

.footer-container-wrapper .me-footer-social-icons li a {
    color: white !important;
}

.footer-container-wrapper .me-footer-social-icons li a:hover {
    color: white;
}

.third-section {
    display: none;
}

.sect {
    margin-top: 50px;
    margin-bottom: 50px;
}

.arrow-up-wrapper {
    display: none !important;
}

.testi {
    background-color: rgba(32, 63, 164, 0.05);
    background-image: url("https://cdn2.hubspot.net/hubfs/2617658/%E2%80%9E.png");
    background-position: 28% 650%;
    background-repeat: no-repeat;
    padding: 50px 0px;
    padding-bottom: 100px;
    margin-bottom: 45px;
}

.me-testimonials-slide .content p {
    color: #203FA4;
    font-size: 18px;
    font-style: italic;
    max-width: 800px;
    margin: auto;
    font-weight: 500;
}

.me-testimonials-slider .pagination-element .description {
    opacity: 1;
}

.me-testimonials-slider .pagination-element .description h5 {
    margin-top: 10px;
}

.me-testimonials-slider .pagination-element .description h5,
.me-testimonials-slider .pagination-element .description p {
    font-size: 16px;
    text-transform: none;
    color: #404040;
}

.me-testimonials-slider .pagination-element .avatar {
    margin-bottom: 0px !important;
}

a.me-cta-secondary {
    min-height: 30px !important;
    padding: 5px 30px !important;
}

.me-big {
    margin-bottom: 30px;
}

.testi {


    @media(max-width: 600px) {

        .slick-arrow.slick-prev,
        .slick-arrow.slick-next {
            display: none !important;
        }



    }

    ul li:before {
        top: 2px;
        left: 5px;
        color: rgba(0, 0, 0, 0.15);
        font-size: 20px;
    }

    .slick-dots li button:before {}

    .slick-dots li button:before {
        opacity: 0;
    }

    .slick-dots li.slick-active button:before {
        opacity: 1 !important;
        content: "•";
        position: absolute;
        top: 9px;
        left: 6px;
        width: 10px;
        height: 15px;
        text-align: center;
        vertical-align: middle;
        font-size: 22px;
        color: #203FA4;
    }

    .testi ul li:before {
        font-size: 20px;
        top: 3px;
    }

    .slick-arrow.slick-next:before {


        background-image: url("https://cdn2.hubspot.net/hubfs/2617658/arrowleft.png") !important;
        width: 30px !important;
        height: 30px !important;
        background-size: contain !important;

    }

    .slick-arrow.slick-prev:before {
        background-image: url("https://cdn2.hubspot.net/hubfs/2617658/arrowleft.png") !important;
        width: 30px !important;
        height: 30px !important;
        background-size: contain !important;
    }
}

.me-text-image-cta {
    text-align: center;
}

.me-icon .column-text-cta {
    box-shadow: none !important;
}

.me-text-image-cta .column-text-cta:hover {
    transition: all 0.3s linear;
}

.me-text-image-cta .column-text-cta .cta_button {

    background-color: transparent;
    color: #203FA4;
    border: 2px solid #203FA4;
    font-size: 12px;
    padding: 7.5px 15px;
    min-width: 100px;
    min-height: 20px;
    margin-top: 20px;


}

.me-text-image-cta .column-text-cta .cta_button:hover {
    background-color: #203FA4;
    color: white;
    -webkit-box-shadow: 0px 0px 39.56px 3.44px rgba(100, 22, 48, 0.32);
    -moz-box-shadow: 0px 0px 39.56px 3.44px rgba(100, 22, 48, 0.32);
    box-shadow: 0px 0px 39.56px 3.44px rgba(100, 22, 48, 0.32);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
}

.me-cta-secondary {
    font-weight: 700 !important;
}

.turbo-mercuric form .hs-error-msgs li label {
    margin-top: 35px;
}

.hs-email {
    margin-bottom: 35px !important;
}

.hs_notification_frequency_ {
    margin-top: 25px !important;
}

.turbo-mercuric form input[type=submit]:hover,
.me-cta-secondary:hover,
.me-cta-primary:hover {
    background-color: #203FA4 !important;
    color: white !important;
}

.me-testimonials-slider .pagination-element .avatar {
    width: 82px;
    height: 82px;
}

.turbo-mercuric .footer-container-wrapper footer p,
.turbo-mercuric .footer-container-wrapper footer a {
    font-weight: 300;
}

.fab {
    color: white !important;
}

.footer-container-wrapper form input {
    border-bottom: 1px solid #203FA4;
}

.footer--main-block .hs_cos_wrapper_type_rich_text {
    font-weight: 300;
    font-size: 16px;
}

.brd a {
    color: white;
}

.person-container .hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_module {
    width: 25%;
}

// .homepage #banner-background-image .home-body #offer-background-image {
//     background-color: #741c8b;
// }

.homepage {
    .offer-form .hs-form-field {
        margin-bottom: 15px !important;
    }

    .offer-form {
        // background-color: #8E24AA;
        background-color: #741c8b;
        padding: 15px;
        // border-radius: 50px;
        padding-bottom: 30px;
    }

    #offer-background-image .offer-form h3.form-title {
        text-align: center;
        max-width: 100%;
        font-size: 28px;
    }

    #offer-background-image .offer-section-text {
        background-color: transparent;
    }

    .widget-type-form.offer-form {
        border-radius: 20px;
    }

    #offer-background-image h3 {
        line-height: 1.5;
    }

    .offer-form .actions a.hs-button.primary,
    .offer-form .actions input.hs-button.primary {
        background-color: #fb8c00;
        border: 3px solid #fff;
    }

    &.turbo-mercuric .widget-type-form form input {
        color: #fff !important;
    }

    .offer-form select {
        margin-top: 0 !important;
    }
}

// @media (max-width: 1139px) and (min-width: 768px){
//     .homepage{
//         .row-fluid [class*="span"] {
//             margin-left: 2.127659574%;
//         }
//     }
// }


@media (max-width: 1080px) {
    .homepage {
        .span7.offer-section-text {
            width: 100% !important;

            h3 {
                text-align: center;
            }
        }

        #offer-background-image {
            .offer-form {
                margin: 20px 0px;
            }
        }
    }
}

@media (min-width: 1081px) {
    .row-fluid .span7 {
        width: 57.264957265% !important;
        *width: 57.2117657756383% !important;
    }
}

@media (max-width: 1139px) and (min-width: 768px) {
    .row-fluid .span7 {
        width: 57.182320438000005% !important;
        *width: 57.129128948638304% !important;
    }
}

@media(max-width:992px) {
    .person-container .hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_module {
        width: 50%;
    }
}

@media(max-width:768px) {

    .person-container .hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_module {
        width: 100%;
    }
}

@media(max-width:992px) {

    .cta-header {

        display: none !important;
    }


}


@media(max-width: 991px) {
    .turbo-mercuric {

        .footer-container-wrapper {

            .footer--main-block,
            .footer--post-block,
            .footer--links-block,
            .footer-get {
                margin-left: 0;
                width: 50%;
                padding-right: 15px;
            }

            .footer--links-block {
                form {
                    max-width: 320px;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .turbo-mercuric {

        .footer-container-wrapper {

            .footer--main-block,
            .footer--post-block,
            .footer--links-block,
            .footer-get {
                margin-left: 0;
                width: 100%;
                padding-right: 0;
            }
        }
    }

}

.logo-bar-background {
    height: auto !important;
    background: inherit !important;

    .hs_cos_wrapper {
        height: auto !important;
        padding: 10px;
    }

    img {
        margin: 0;
    }
}

#gray-placeholder {
    background: #f5f5f5;
    // height: 100px;

}

#brand-logos {
    .row-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .span3 {
        width: calc(100%/4);
        margin-left: 0;
        float: left;
        padding: 10px;

        &>div {
            margin: 0 !important;
        }
    }
}

@media (min-width: 768px) and (max-width: 1080px) {
    #offer-background-image .offer-form {
        width: 100%;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    #offer-background-image .offer-section-text {

        h1,
        h3 {
            max-width: 100%;
        }
    }
}