body.turbo-mercuric.same-logo {
    .header-transparent>div {
        background-color: #fff;
    }

    .body-container-wrapper {
        margin-top: 90px;
    }
}

.turbo-mercuric {

    .overflow-hidden {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .header-container-wrapper {
        z-index: 4;

        &.popup-fallback {
            z-index: 2;
        }
    }

    header {
        >div {
            transition: all .3s ease-in-out;
            position: fixed;
            width: 100% !important;
        }

        // Header after scroll
        .header-white {
            background-color: hubl("$headerBG");
            box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, .25);
        }

        nav {
            height: 100%;
            background-color: transparent;

            .me-container {
                >div {
                    height: 90px;
                    display: flex !important;
                    justify-content: space-between;
                    align-items: center; // Logo

                    >div {
                        &:nth-of-type(2) {
                            margin-left: auto;
                        }
                    }

                    .logo {
                        a {
                            &:before {
                                display: none;
                            }
                        }

                        img {
                            width: 140px !important;
                        }
                    }

                    // Modal
                    >div {
                        &:last-child {
                            position: fixed;
                            top: 0;
                            left: 0;
                            width: 100vw;
                            height: 100vh;
                            z-index: 2;
                            background: linear-gradient(57deg, hubl("$second_color") 20%, hubl("$first_color") 80%);
                            overflow-y: scroll;
                            opacity: 0;
                            visibility: hidden;
                            transition: opacity 0.5s, visibility 0s 0.5s; // Open

                            &.open {
                                opacity: 1;
                                visibility: visible;
                                transition: opacity 0.5s;

                                .menu-modal {
                                    >div {
                                        opacity: 1;
                                        transform: rotateX(0deg);
                                    }
                                }
                            }

                            // On close
                            &.close {
                                .menu-modal {
                                    >div {
                                        transform: translateY(25%) rotateX(-35deg);
                                    }
                                }
                            }

                            // Modal window
                            .menu-modal {
                                height: 100%;
                                min-height: 100vh;
                                padding: 100px 0;
                                display: flex;
                                align-items: center; //justify-content: center;

                                >div {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center; //justify-content: space-around;
                                    opacity: 0.4;
                                    transform: translateY(-25%) rotateX(35deg);
                                    transition: transform 0.5s, opacity 0.5s;
                                }
                            }

                            // Logo
                            .widget-type-logo {
                                a {
                                    &:before {
                                        display: none;
                                    }
                                }

                                img {
                                    // width: 200px !important;
                                }
                            }

                            // Menu 
                            .widget-type-menu {
                                padding: 100px 0 0;

                                ul {
                                    display: flex;
                                    flex-direction: column;
                                    text-align: center;

                                    li.hs-menu-item {
                                        a {
                                            font-size: rem(25);
                                            color: white;
                                            position: relative;

                                            &:before {
                                                display: none;
                                                content: '';
                                            }
                                        }

                                        &:before {
                                            display: none;
                                        }

                                        &.hs-item-has-children {
                                            >a {
                                                position: relative;

                                                &:after {
                                                    position: absolute;
                                                    content: '+';
                                                    padding-left: 5px;
                                                }
                                            }

                                            .hs-menu-children-wrapper {
                                                display: none;
                                                position: static;
                                                opacity: 1;
                                                visibility: visible;
                                                overflow: hidden;

                                                .hs-menu-depth-2 {
                                                    a {
                                                        font-size: rem(20);
                                                        font-weight: 200;
                                                    }
                                                }

                                                .hs-menu-depth-3 {
                                                    a {
                                                        font-size: rem(16);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    // HEADERY NOWE
    header {

        .section-top {
            border-bottom: 1px solid #ebebeb;

            .me-container>.span12>div>.row-fluid {
                display: flex;
                justify-content: space-between;

                &:before,
                &:after {
                    content: none;
                }

                >div {
                    width: auto !important;
                    float: none !important;
                    margin: 0 !important;
                }
            }

            @media (max-width: 849px) {
                margin-left: 0;
                width: 100%;
                float: none;
            }

        }

        &.header-scroll,
        &.permanent-white {
            >div {
                box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, .25);
            }
        }

        &.header-standard {
            .cta_button {
                padding-left: 30px;
                padding-right: 30px;
                min-width: 70px;
                background-color: white;
                color: #203FA4;
                border: 3px solid #203FA4;
                min-height: 30px !important;
                padding-top: 5px !important;
                padding-bottom: 5px !important;
                font-size: 14px !important;
                font-weight: 700 !important;
            }

            @media(max-width:1100px) {

                .cta_button {

                    padding-left: 15px !important;
                    padding-right: 15px !important;

                }

            }

            @media(max-width:1020px) {
                .cta_button {
                    display: none;
                }
            }

            .section-main {
                max-height: 70px;

                >div>div {
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    align-items: center;
                    min-height: 70px;

                    &:before,
                    &:after {
                        content: none;
                    }

                    >div {
                        width: auto;
                    }

                    .logo {
                        min-width: 120px;
                        max-width: 200px;
                        padding: 10px 0;

                        img {
                            max-height: 70px;
                            width: 140px !important;
                        }
                    }
                }
            }

            a {
                &:hover {
                    &:before {
                        display: none;
                    }
                }
            }

            >div {
                background-color: hubl("$headerBG");
            }

            .header-main-content {
                >div {
                    height: 70px;

                    >div {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        height: 70px;
                    }
                }

                .advanced-menu-header,
                .search-opt,
                .language-switcher,
                .cta-header {
                    width: auto;
                    margin: 0;
                }

                .cta-header {
                    display: none;

                    @media (min-width: 650px) {
                        display: block;
                    }

                    .hs-cta-wrapper {
                        padding-left: 30px;

                        @media (max-width: 450px) {
                            // margin-left: 15px;
                            padding-left: 15px;
                        }
                    }
                }

                .lang-opts {
                    position: relative;

                    #lang-current {
                        font-weight: 600;
                        padding-left: 30px;

                        @media (max-width: 450px) {
                            // margin-left: 15px;
                            padding-left: 15px;
                        }
                    }

                    .lang_switcher_class {
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;

                        ul {
                            li {
                                &:before {
                                    display: none;
                                }

                                a {
                                    &:hover {
                                        color: hubl("$first_color");
                                    }
                                }
                            }
                        }
                    }

                    .globe_class {
                        background: none;
                        width: 0;
                        height: 0;

                        .lang_list_class {
                            left: auto;
                            right: -30px;
                            transform: translate(0);
                        }
                    }

                    &:hover,
                    &:active {
                        cursor: pointer;

                        .lang_list_class {
                            display: block;
                        }
                    }
                }

                .advanced-menu-header {
                    .hs-menu-wrapper {
                        a {
                            transition: inherit;
                        }

                        >ul {
                            display: flex;

                            li {
                                a {
                                    font-size: 16px;
                                    color: hubl("$dark");
                                    font-weight: 600;

                                    &:hover {
                                        color: #8E01AD;
                                        text-decoration: underline;
                                    }
                                }

                                &.hs-menu-item {
                                    &.hs-menu-depth-1 {
                                        >a {
                                            display: block;
                                            padding: 20px 15px;
                                            font-weight: 400;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-decoration: none;
                                            max-width: 100% !important;

                                            @media (max-width: 1100px) {
                                                padding: 20px 10px;
                                            }
                                        }

                                        .hs-menu-children-wrapper {
                                            box-shadow: 0px 5px 29.05px 5.95px rgba(0, 0, 0, 0.19), 0px 5px 9.9px 0.1px rgba(0, 0, 0, 0.19);
                                            background-color: #fff;
                                            border-radius: 6px;
                                            border-radius: 0px;
                                            padding: 20px 0;
                                            min-width: 260px;
                                        }

                                        >.hs-menu-children-wrapper {
                                            z-index: 1;
                                        }
                                    }

                                    &.hs-menu-depth-2 {
                                        a {
                                            width: 100%;
                                            padding: 10px 45px 10px 35px;
                                        }

                                        &.hs-item-has-children {
                                            position: relative;

                                            &:after {
                                                position: absolute;
                                                right: 30px;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                content: '+';
                                            }
                                        }

                                        >.hs-menu-children-wrapper {
                                            left: calc(100% + 15px) !important;
                                            top: -20px;

                                            &:before,
                                            &:after {
                                                position: absolute;
                                                content: '';
                                            }

                                            &:after {
                                                top: 36px;
                                                border-top: 7px solid transparent;
                                                border-bottom: 7px solid transparent;
                                                border-right: 10px solid #ffffff;
                                                left: -9px;
                                            }

                                            &:before {
                                                left: -15px;
                                                top: 0;
                                                background-color: transparent;
                                                width: 15px;
                                                height: 100%;
                                            }
                                        }
                                    }
                                }

                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .slicknav_menu {
                display: none;
            }

            @media (max-width: 991px) {
                .advanced-menu-header {
                    display: none;
                }

                .slicknav_menu {
                    display: block;
                    background-color: #fff;

                    @media (max-width: 649px) {
                        margin-left: 15px;
                    }

                    @media (max-width: 450px) {
                        margin-left: 5px;
                    }

                    .slicknav_btn {
                        background-color: #fff;
                        margin-right: 0;
                        padding-right: 0;
                        float: right;
                    }

                    .slicknav_icon-bar {
                        background-color: hubl("$dark");
                        width: 24px;
                        display: block;

                        &:nth-of-type(2) {
                            width: 20px;
                            margin-left: 4px;
                        }
                    }

                    .mobile-menu--mask {
                        display: none;
                        position: fixed;
                        background-color: rgba(0, 0, 0, .4);
                        top: 0px;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    .slicknav_nav {
                        position: fixed;
                        z-index: 4;
                        overflow-y: scroll;
                        top: 0px;
                        left: 0;
                        height: 100%;

                        .dl-back {
                            display: none;
                        }

                        .slicknav_row {
                            &:hover {
                                color: inherit;
                                border-radius: 0px;
                                background-color: inherit;
                            }
                        }

                        &.preventDefault {
                            display: none !important;
                        }

                        a {
                            &:hover {
                                background-color: inherit;
                                color: inherit;
                            }
                        }

                        .hs-menu-wrapper {
                            >ul {
                                background-color: hubl("$dark");
                                min-height: 100vh;
                                position: relative;
                                padding-top: 50px;
                                padding-bottom: 20px;

                                .mobile-menu--exit {
                                    position: absolute;
                                    top: 10px;
                                    right: 10px;
                                    width: 30px;
                                    height: 30px;

                                    &:before {
                                        font-family: FontAwesome;
                                        color: rgba(#fff, .7);
                                        text-align: center;
                                        content: '\f00d';
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        width: inherit;
                                        height: inherit;
                                    }
                                }
                            }

                            .cta-element {
                                .cta-header {
                                    margin-left: 0;
                                    display: inline-block;

                                    @media (min-width: 650px) {
                                        display: none
                                    }

                                    script {
                                        display: none;
                                    }

                                    .cta_button {
                                        text-align: center;
                                        display: inline-block;
                                        line-height: 30px;
                                        min-height: 0;

                                        &:hover {
                                            border-radius: 30px;
                                        }
                                    }
                                }
                            }
                        }

                        li {
                            display: block;
                            float: none;

                            &:before {
                                display: none;
                            }

                            &.hs-menu-item {
                                >a {
                                    margin: 0;
                                    padding: 15px 25px;
                                    position: relative;
                                    display: block;
                                    min-width: 260px;
                                    white-space: normal;
                                    line-height: 1;

                                    >a {
                                        padding: 0;
                                        line-height: 1.5;
                                        white-space: normal;
                                    }

                                    .slicknav_arrow {
                                        position: absolute;
                                        margin: 0;
                                        right: 8px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        width: 24px;
                                        height: 24px;
                                        line-height: 24px;
                                        text-align: center;
                                    }
                                }
                            }

                            &.hs-menu-depth-1 {
                                ul {
                                    display: block;
                                    position: relative;

                                    li {
                                        &:first-of-type {
                                            a {
                                                padding-top: 10px;
                                            }
                                        }

                                        a {
                                            color: rgba(#fff, .7);
                                            padding-left: 35px;
                                        }
                                    }
                                }
                            }

                            &.hs-menu-depth-2 {
                                ul {
                                    li {
                                        &:first-of-type {
                                            a {
                                                padding-top: 10px;
                                            }
                                        }

                                        a {
                                            padding-left: 45px;
                                        }

                                    }
                                }

                                >ul {
                                    background: rgba(255, 255, 255, .03);
                                    left: 0 !important;
                                }
                            }

                            &.hs-menu-depth-3 {
                                a {
                                    padding-left: 25px !important;
                                }
                            }

                            &.slicknav_open {
                                ul {
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }

            &--logo-only {

                .section-main>div>div {
                    justify-content: center;
                }
            }
        }
    }
}

.footer {
    background-color: #393939;
    height: 67px;
    color: #fff;
    position: relative;
}

.widget-type-text a {
    color: #fff;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.widget-type-text a:hover {
    color: #8E00AD;
}

.footer-info form.hs-form .hs-form-field .input input[type="checkbox"].hs-input+span:before {
    background-color: transparent !important;
}

.footer .copy {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    line-height: 67px;
}

.footer .links {
    text-align: right;
}

.footer .links a {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    line-height: 67px;
    padding: 0px 5px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer .links a:hover {
    color: #8E00AD;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer .scroll-top {
    height: 67px;
    width: 67px;
    background-color: #203FA4;
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    text-align: center;
}

.footer .scroll-top i {
    font-size: 44px;
    color: #fff;
    line-height: 67px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer .scroll-top:hover i {
    line-height: 45px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer-info {
    background-color: #4a4949;
    padding-bottom: 30px;
}

.footer-info .legal-consent-container span {
    color: #fff;
}

.footer-info h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 25px 0px 30px 0px;
    color: #fff;
}

.footer-info h4 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 300;
}

.footer-info .hs-rss-title {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 300;
}

.footer-info p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 300;
}

.footer-info .hs-rss-date {
    font-size: 16px;
    color: #fff;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: 300;
    border-bottom: solid 1px #fff;
    display: block;
}

.footer-info .hs-rss-byline {
    opacity: 1;
}

.social-footer {
    background-color: #203FA4;
}

.social-footer .container.position {
    position: relative;
}

.social-footer ul {
    text-align: center;
}

.social-footer ul li {
    padding: 20px 0px;
    margin: 0px 65px;
    display: inline-block;
}

.social-footer ul li a i {
    color: #fff;
    font-size: 45px;
}

.social-footer .text {
    font-weight: lighter;
    font-size: 24px;
    margin-top: 6px;
    color: #fff;
}

.social-footer .text span {
    font-weight: lighter;
    font-size: 24px;
    color: #fff;
}

.social-footer .text {
    position: relative;
    min-height: 85px;
}

.social-footer .text .hs_cos_wrapper_type_text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -5px;
    font-weight: 300;
}

.social-footer .triangle {
    position: absolute;
    bottom: -30px;
    right: 26%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 24.5px 0 24.5px;
    border-color: #203FA4 transparent transparent transparent;
}

.header .slicknav_nav {
    padding-bottom: 10px;
}

.slicknav_nav {
    background-color: #393939;
}

.header--white .slicknav_nav {
    background-color: #fff;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.slick-arrow.slick-prev {
    left: 48px;
}

.slick-arrow.slick-prev:before {
    content: '';
    background-image: url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png?t=1528467441493");
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    width: 30px;
    height: 58px;
    display: block;
}

.slick-arrow.slick-next {
    right: 48px;
}

.slick-arrow.slick-next:before {
    content: '';
    background-image: url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png?t=1528467441493");
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 30px;
    height: 58px;
    display: block;
}

.mask,
.separator--contact__mask {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.svg-converted path,
.svg-converted polygon {
    fill: #8E00AD;
}

.svg-converted circle,
.svg-converted rect {
    stroke: #8E00AD;
}

.menu-black .slicknav_nav a {
    color: #404040;
}

.header--white .slicknav_nav a {
    color: #404040;
}

.menu-black .slicknav_nav ul {
    background-color: #fff;
}

.menu-black .fixed .slicknav_nav a {
    color: #fff;
}

.slicknav_menu {
    display: none;
    position: fixed;
    top: 13px;
    z-index: 1000;
    right: 0px;
    background-color: transparent;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.slicknav_nav {
    width: 100%;
    max-height: -webkit-calc(100vh - 57px);
    max-height: -moz-calc(100vh - 57px);
    max-height: calc(100vh - 57px);
    overflow: auto;
}

.slicknav_nav .slicknav_arrow {
    margin: 0 0 0 .4em;
    font-size: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    top: -2px;
    left: 20px;
    color: transparent;
}

span.slicknav_arrow:before {
    content: "";
    background-image: url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/show.png?t=1528467441493");
    position: absolute;
    height: 21px;
    width: 21px;
    right: 0;
    top: 0;
    display: block;
}

.slicknav_nav li.slicknav_open {
    padding-bottom: 10px;
    border-bottom: none;
}

.slicknav_nav li.slicknav_open>a>span.slicknav_arrow:before {
    content: "";
    background-image: url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/hide.png?t=1528467441493");
    position: absolute;
    height: 21px;
    width: 21px;
    right: 0;
    top: 0;
    display: block;
}

span.slicknav_arrow:after {
    content: "";
    background-image: url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/hide.png?t=1528467441493");
    position: absolute;
    visibility: hidden;
    height: 21px;
    width: 21px;
    right: 0;
    top: 0;
    display: block;
}

.header--white .slicknav_nav .slicknav_row:hover {
    background: #fff;
    color: #404040;
}

.header--white .slicknav_nav a:hover {
    background: transparent;
}

.slicknav_btn {
    background-color: transparent;
}

.slicknav_menu .slicknav_icon-bar {
    width: 1.7em;
    height: 0.15em;
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: .35em;
}

.slicknav_nav .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper {
    position: initial;
}

.slicknav_nav ul {
    margin: 13px 0px 0 0px;
    padding-left: 20px;
    background-color: #393939;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    background-color: transparent;
}

.header-container-wrapper .header-container.container-fluid {
    padding: 0
}


.home-body {
    #offer-background-image h3 {
        margin-top: 30px;
    }
}

.homepage #banner-background-image {
    background-color: #8E24AA;

    #offer-background-image {
        background-color: #8E24AA;
    }
}

.logo-bar-background {
    .span3.widget-span.widget-type-custom_widget {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .hs_cos_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;

        p:nth-child(1) {
            margin-bottom: 0;
        }

        p:nth-child(2) {
            padding-left: 10px !important;
        }
    }
}

.home-header {
    background-color: #fff;
}

.homepage .accordion_icon {
    background-color: #8E24AA;
    color: #8E24AA;
}

.homepage {
    .offer-form {
        .hs-error-msgs {
            margin-top: 5px;

            li label {
                margin: 0;
                font-weight: 400;
            }
        }

        .hs-form-field {
            margin: 15px 0 10px 0;
        }

        select {
            display: block;
            visibility: visible;
            opacity: 1;
            color: #000;
            background-color: #fff;
            border-radius: 4px;
        }

        .hs-email {
            margin-bottom: 15px !important;
        }

        .hs-company {
            padding-right: 0;
        }

        a.hs-button.primary,
        input.hs-button.primary {
            padding-left: 30px;
            padding-right: 30px;
            display: inline-block;
            min-width: 70px;
            background-color: white;
            color: #203FA4;
            border: 3px solid #203FA4;
            min-height: 30px !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            font-size: 14px !important;
            font-weight: 700 !important;
            border-radius: 50px;
            font-family: Open Sans, Helvetica, Arial, sans-serif;
            text-align: center;
            transition: all 0.3s ease 0s;
            min-height: 60px;
            line-height: 21px;
            margin-top: 15px;

            &:hover {
                background-color: #203FA4;
                color: #fff;
                -webkit-box-shadow: 0px 0px 39.56px 3.44px rgba(100, 22, 48, 0.32);
                -moz-box-shadow: 0px 0px 39.56px 3.44px rgba(100, 22, 48, 0.32);
                box-shadow: 0px 0px 39.56px 3.44px rgba(100, 22, 48, 0.32);
                -webkit-transform: translateY(-3px);
                -moz-transform: translateY(-3px);
                -ms-transform: translateY(-3px);
                -o-transform: translateY(-3px);
                transform: translateY(-3px);
            }
        }


    }
}