.turbo-mercuric {
	.body-container-wrapper {
	    margin-bottom: 0px !important;
	}

	.me-section {
	    margin-bottom: 90px;

	    @media (max-width: 767px) {
	        margin-bottom: 40px;
	    }

	    &--first {
	        margin-top: 90px;

	        @media (max-width: 767px) {
	            margin-top: 60px;
	        }
	    }

	    &--padding {
	        padding-top: 90px;
	        padding-bottom: 90px;

	        @media (max-width: 767px) {
	            padding-bottom: 40px;
	            padding-bottom: 40px;
	        }
	    }

	    @media (max-width: 767px) {
	        .row-depth-1 {

	            & > div > .widget-span {
	                margin-bottom: 20px;

	                &:last-of-type {
	                    margin-bottom: 0;
	                }
	            }
	        }
	    }
	}

	.me-container {
	    max-width: 1170px;
	    padding: 0 15px;
	    width: 100%;
	    margin: 0 auto;
	    
	    &.header-container {
	        max-width: 1585px;
	    }

	   	&--big {
			max-width: 1920px;
			padding: 0 15px;
			width: 100%;
			margin: 0 auto;
	   	}

	   	&--small {
	   		max-width: 940px;
		    padding: 0 15px;
		    width: 100%;
		    margin: 0 auto;
	   	}

	   	&--smaller {
	   		max-width: 740px;
		    padding: 0 15px;
		    width: 100%;
		    margin: 0 auto;
	   	}

	   	&--half {
		    max-width: 585px;
		    padding: 0 15px;
		    width: 100%;
		    margin: 0 auto;
	   	}
	}


	.header-container-wrapper {
	    position: relative;
	    z-index: 3;
	    min-height: 0;
	}

	.body-container-wrapper {
	    position: relative;
	    z-index: 2;
	    margin-top:70px;
	}

	.footer {
	    background-color: #393939;
	    height: 67px;
	    color: #fff;
	    position: relative;
	}

	.widget-type-text {
	    a {
	        color: #fff;
	        transition: all 0.3s linear;
	        &:hover {
	            color: #8E00AD;;
	        }
	    }
	}

	.footer-info form.hs-form .hs-form-field .input input[type="checkbox"].hs-input + span:before{
	    background-color: transparent!important;
	}

	.footer .copy {
	    font-size: 15px;
	    color: #fff;
	    font-weight: 300;
	    line-height: 67px;
	}

	.footer .links {
	    text-align: right;
	}

	.footer .links a {
	    font-size: 15px;
	    color: #fff;
	    font-weight: 300;
	    line-height: 67px;
	    padding: 0px 5px;
	    -webkit-transition: all 0.3s linear;
	    -o-transition: all 0.3s linear;
	    transition: all 0.3s linear;
	}

	.footer .links a:hover {
	    color: #8E00AD;
	    text-decoration: none;
	    -webkit-transition: all 0.3s linear;
	    -o-transition: all 0.3s linear;
	    transition: all 0.3s linear;
	}

	.footer .scroll-top {
	    height: 67px;
	    width: 67px;
	    background-color: #203FA4;
	    position: absolute;
	    right: 0px;
	    bottom: 0px;
	    cursor: pointer;
	    text-align: center;
	}

	.footer .scroll-top i {
	    font-size: 44px;
	    color: #fff;
	    line-height: 67px;
	    -webkit-transition: all 0.3s linear;
	    -o-transition: all 0.3s linear;
	    transition: all 0.3s linear;
	}

	.footer .scroll-top:hover i {
	    line-height: 45px;
	    -webkit-transition: all 0.3s linear;
	    -o-transition: all 0.3s linear;
	    transition: all 0.3s linear;
	}

	.footer-info {
	    background-color: hubl("$second_color");
	    padding-bottom: 30px;
	}

	.footer-info h3 {
	    font-weight: bold;
	    font-size: 20px;
	    margin: 25px 0px 30px 0px;
	    color: #fff;
	}

	.footer-info h4 {
	    font-size: 16px;
	    color: #fff;
	    margin-bottom: 5px;
	    font-weight: 300;
	}

	.footer-info .hs-rss-title {
	    font-size: 16px;
	    color: #fff;
	    margin-bottom: 5px;
	    font-weight: 300;
	}

	.footer-info p {
	    font-size: 16px;
	    color: #fff;
	    margin-bottom: 25px;
	    font-weight: 300;
	}

	.footer-info .hs-rss-date {
	    font-size: 16px;
	    color: #fff;
	    padding-bottom: 15px;
	    margin-bottom: 15px;
	    font-weight: 300;
	    border-bottom: solid 1px #fff;
	    display: block;
	}

	.footer-info .hs-rss-byline {
	    opacity: 1;
	}

	.social-footer {
	    background-color: #203FA4;
	}

	.social-footer .container.position {
	    position: relative;
	}

	.social-footer ul {
	    text-align: center;
	}

	.social-footer ul li {
	    padding: 20px 0px;
	    margin: 0px 65px;
	    display: inline-block;
	}

	.social-footer ul li a {}

	.social-footer ul li a i {
	    color: #fff;
	    font-size: 45px;
	}

	.social-footer .text {
	    font-weight: lighter;
	    font-size: 24px;
	    margin-top: 6px;
	    color: #fff;
	}

	.social-footer .text span {
	    font-weight: lighter;
	    font-size: 24px;
	    color: #fff;
	}

	.social-footer .text {
	    position: relative;
	    min-height: 85px;
	}

	.social-footer .text .hs_cos_wrapper_type_text {
	    position: absolute;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    transform: translateY(-50%);
	    margin-top: -5px;
	    font-weight: 300;
	}

	.social-footer .triangle {
	    position: absolute;
	    bottom: -30px;
	    right: 26%;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 34px 24.5px 0 24.5px;
	    border-color: #203FA4 transparent transparent transparent;
	}

	.header .slicknav_nav {
	    padding-bottom: 10px;
	}

	.slicknav_nav {
	    background-color: #393939;
	}

	.header--white .slicknav_nav {
	    background-color: #fff;
	}

	.slick-arrow {
	    position: absolute;
	    top: 50%;
	    width: auto;
	    height: auto;
	    transform: translateY(-50%);
	    z-index: 1;
	    &.slick-prev {
	        left: 48px!important;
	        &:before {
	            content: '';
	            background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
	            background-repeat: no-repeat;
	            background-size: cover;
	            width: 30px;
	            height: 58px;
	            display: block;
	        }
	    }
	    &.slick-next {
	        right: 48px!important;
	        &:before {
	            content: '';
	            background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
	            background-repeat: no-repeat;
	            background-size: cover;
	            transform: scaleX(-1);
	            width: 30px;
	            height: 58px;
	            display: block;
	        }
	    }
	}



	.mask {
	    position: absolute;
	    background: rgba(black, .3);
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	}

	.svg-converted path,
	.svg-converted polygon {
	    fill: #8E00AD;
	}

	.svg-converted circle,
	.svg-converted rect {
	    stroke: #8E00AD;
	}

	.third-section{
	    background-color:rgba(32,63,164,0.05);
	    img{
	        margin-top:-340px;
	    }
	    h2{
	        color:#1F3EA4;
	        text-transform:none;
	        font-size:24px;
	        font-weight:700;
	        margin-top:50px;
	        margin-bottom:50px;
	    }
	    h3{
	        color:#1F3EA4;
	        text-transform:none;
	        font-size:24px;
	    }
	    .hs_cos_wrapper_type_rich_text ul li{
	        padding-left:0px;
	        margin-top:2px;
	        margin-bottom:2px;
	        color:#404040;
	    }
	    .hs_cos_wrapper_type_rich_text ul li:before{
	        font-size:30px;
	        top:0px;
	        content:"•";
	        color:#626262!important;
	    }
	    @media(max-width:1300px){
	        img{
	            margin-top:-295px;
	        }
	    }
	    @media(max-width:1200px){

	        img{
	            margin-top:-250px;
	        }
	    }
	    @media(max-width:1100px){

	        img{
	            margin-top:-190px;
	        }  

	    }
	    @media(max-width:972px){

	        img{
	            margin-top:-150px;
	        }  

	    }
	    @media(max-width:860px){
	        
	          img{
	               margin-top: -100px;
	          }

	    }
	    @media(max-width:500px){
	            
	        img{
	               margin-top: -50px;
	              
	          }

	    }
	    @media(max-width:768px){

	        img{
	            margin-bottom:50px;
	        }
	    }
	}

	.four-section{
	    padding:50px 0px;
	    h2{
	        color:#203FA4;
	        font-size:24px;
	        text-transform:none;
	        margin-bottom:30px;
	        margin:auto;
	    }
	    p{
	        color:#404040;
	        font-size:16px;
	        max-width:460px;
	        margin:auto;
	        text-align:center;
	        margin-bottom:50px!important;
	        margin-top:30px;
	    }
	    .me-icon h2{
	        color:#8E01AD!important;
	        padding-top:20px!important;
	        padding-bottom:20px!important;
	    }
	    @media(max-width:768px){
	        p{
	            margin-top:50px;
	        }
	    }
	}

	.footer-container-wrapper{
	    background-color:#fff!important;
	    color:#404040!important;
	    h4{
	        color:#203FA4!important;
	        font-size:24px;
	    }
	}

	.slicknav_nav{
	    background:transparent;
	}
	header.header-standard .slicknav_menu .slicknav_nav .hs-menu-wrapper > ul{
	    width:100%;
	    min-height:1px;
	}
	header.header-standard .slicknav_menu .slicknav_nav{
	    background-color:transparent;
	}

	.body-container-wrapper{
	    margin-bottom:0px!important;
	}
	.footer--main-block img{
	        max-width:147px;
	        margin-bottom:20px;
	}
	.footer--bottom .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a{
	    padding: 0px 10px;
	        border-right: 1px solid #626262;
	    font-size: 16px;
	    line-height:1;
	}
	.arrow div{
	    margin-left:-60px;
	    margin-top:-4px;
	}

	@media(max-width:1120px){
	    .arrow div{
	    margin-left:-50px;
	}
	}
	@media(max-width:1050px){
	    .arrow div{
	        margin-left:0px;
	    }
	}
	@media(max-width:700px){
	    .arrow div{
	        display:none!important;
	    }
	    .footer--bottom .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a{
	        border:none!important;
	    }
	}
	.footer--links-block form .hs-form-field{
	    margin-top:0px!important;
	}
	footer form input[type=text],footer form input[type=email],footer form input[type=tel],footer form input[type=password],footer form input[type=number],footer form input[type=tel]{

	    padding:5px 0px;

	}
	footer .cta_button{
	    background-color: transparent!important;
	    color: #203FA4!important;
	    border: 2px solid #203FA4!important;
	    font-size: 12px!important;
	    padding: 7.5px 15px!important;
	    min-width: 100px!important;
	    min-height: 20px!important;
	    margin-top: 20px!important;
	        border-radius: 50px;
	    font-weight: 700;
	    margin-bottom: 20px;
	}
	.turbo-mercuric .widget-type-form form input{
	    color:#626262!important;
	}
	.footer-get p{
	    
	    margin-bottom:30px!important;

	}
	.footer--links-block form input[type=submit]{

	    background-color:transparent;
	    color:#203FA4!important;
	    border: 2px solid #203FA4;
	    font-size: 12px;
	    padding: 7.5px 15px;
	    min-width:100px;
	    min-height:20px;
	    margin-top:20px;

	}
	.footer--links-block form input[type=submit]:hover{

	       color:white!important;
	}
	.fab:before{

	    font-family:FontAwesome;
	    color:white;

	}
	footer i{
	    font-style:normal;
	    font-size:17px;
	}
	.me-footer-social-icons li{
	    background-color:#203FA4;
	    border-radius:100px;
	    padding:3px 5px !important;
	    margin-right:5px;
	    display: inline-block;
	    line-height: 25px;
	}
	.me-footer-social-icons li a{
	    height:20px;
	    width:20px;
	    text-align:center;
	    display: inline-block;
	    line-height: 1;
	}
	.me-footer-social-icons ul li{
	    font-size:17px!important;
	}
	footer .row-number-15{
	    float:left;
	}
	.footer-container-wrapper .me-footer-social-icons li a{
	    color:white!important;
	}
	.footer-container-wrapper .me-footer-social-icons li a:hover{
	    color:white;
	}
	.third-section{
	    display:none;
	}
	.sect{
	    margin-top:50px;
	    margin-bottom:50px;
	}
	.arrow-up-wrapper{
	    display:none!important;
	}
	.testi{
	    background-color:rgba(32,63,164,0.05);
	    background-image:url("https://cdn2.hubspot.net/hubfs/2617658/%E2%80%9E.png");
	    background-position:  28% 650%;
	    background-repeat:no-repeat;
	    padding:50px 0px;
	    padding-bottom:100px;
	    margin-bottom:45px;
	}
	.me-testimonials-slide .content p{
	    color:#203FA4;
	    font-size:18px;
	    font-style:italic;
	    max-width:800px;
	    margin:auto;
	    font-weight:500;
	}
	.me-testimonials-slider .pagination-element .description{
	    opacity:1;
	}
	.me-testimonials-slider .pagination-element .description h5{
	    margin-top:10px;
	}
	.me-testimonials-slider .pagination-element .description h5, .me-testimonials-slider .pagination-element .description p{
	    font-size:16px;
	    text-transform:none;
	    color:#404040;
	}
	.me-testimonials-slider .pagination-element .avatar{
	    margin-bottom:0px!important;
	}
	a.me-cta-secondary{
	    min-height:30px!important;
	    padding: 5px 30px!important;
	}
	.me-big{
	    margin-bottom:30px;
	}

	.testi{ 
	    @media(max-width:600px){
	        .slick-arrow.slick-prev, .slick-arrow.slick-next{
	            display:none!important;
	        }
	    }

	    ul li:before{
	        top:2px;
	        left:5px;
	        color:rgba(0,0,0,0.15);
	        font-size:20px;
	    }
	  	.slick-dots li button:before{
	    	opacity:0;
	  	}

		.slick-dots li.slick-active button:before{
			opacity: 1 !important;
			content: "•";
			position: absolute;
			top: 9px;
			left: 6px;
			width: 10px;
			height: 15px;
			text-align: center;
			vertical-align: middle;
			font-size: 22px;
			color:#203FA4;
		}

		.testi ul li:before{
			font-size:20px;
			top:3px;
		}

		.slick-arrow.slick-next:before{
		    background-image:url("https://cdn2.hubspot.net/hubfs/2617658/arrowleft.png")!important;
		    width:30px!important;
		    height:30px!important;
		    background-size:contain!important;
		}

		.slick-arrow.slick-prev:before{
		    background-image:url("https://cdn2.hubspot.net/hubfs/2617658/arrowleft.png")!important;
		    width:30px!important;
		    height:30px!important;
		    background-size:contain!important;
		}
	}

	.me-text-image-cta{
	    text-align:center;
	}
	.me-icon .column-text-cta{
	    box-shadow:none!important;
	}
	.me-text-image-cta .column-text-cta:hover{
	    transition: all 0.3s linear;
	}

	.me-text-image-cta .column-text-cta .cta_button{
	    background-color: transparent;
	    color: #203FA4;
	    border: 2px solid #203FA4;
	    font-size: 12px;
	    padding: 7.5px 15px;
	    min-width: 100px;
	    min-height: 20px;
	    margin-top: 20px;
	}

	.me-text-image-cta .column-text-cta .cta_button:hover{
	        background-color: #203FA4;
	    color: white;
	    -webkit-box-shadow: 0px 0px 39.56px 3.44px rgba(100, 22, 48, 0.32);
	    -moz-box-shadow: 0px 0px 39.56px 3.44px rgba(100, 22, 48, 0.32);
	    box-shadow: 0px 0px 39.56px 3.44px rgba(100, 22, 48, 0.32);
	    -webkit-transform: translateY(-3px);
	    -moz-transform: translateY(-3px);
	    -ms-transform: translateY(-3px);
	    -o-transform: translateY(-3px);
	    transform: translateY(-3px);
	}
	.me-cta-secondary{
	    font-weight:700!important;
	}

	.hs-email{
	    margin-bottom:35px!important;
	}
	.hs_notification_frequency_{
	    margin-top:25px!important;
	}

	.me-testimonials-slider .pagination-element .avatar{
	    width:82px;
	    height:82px;
	}

	.fab{
	    color:white!important;
	}

	.footer-container-wrapper form input{
	    border-bottom: 1px solid #203FA4;
	}

	.footer--main-block .hs_cos_wrapper_type_rich_text{
	    font-weight:300;
	    font-size:16px;
	    line-height: 1.7;
	    display: inline-block;
	}

	.brd a{
	    color:white;
	}

	.person-container .hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_module{
	    width:25%;
	}

    @media(max-width:992px){
      	.person-container .hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_module{
            width:50%;
        }
     }

    @media(max-width:768px){
        .person-container .hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_module{
            width:100%;
        }
    }

	@media(max-width:992px){
	    .cta-header{

	        display:none!important;
	    }
	}

	header.header-standard > div {
		box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.25);
	}

	.header-container-wrapper, .footer-container-wrapper {
		.row-fluid [class*="span"] {
			min-height: 0;
		}
	}

	header {
		text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    line-height: 1.5;

		@import "__buttons.scss";

		a {
			transition: all .3s linear;
		}
	}

	footer {
		text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    padding-top: 35px;
	    margin-top: 35px;
	    border-top: 1px solid #eee;

		@import "__forms.scss";
		@import "__buttons.scss";

		form {
			label, span {
				font-size: 16px;
				font-weight: 300;
				margin-bottom: 0;
			}

			span {
				color: #404040;
			}
		}

		a {
			transition: all .3s linear;
		}
	}

	.me-footer-blog-feed {
	    list-style: none;

	    li {
	        margin-bottom: 15px;

	        &:before {
	            display: none;
	        }
	        
	        a {
	            padding: 0;
	            color: #404040;
	            &:hover {
	                color: hubl("$first_color");
	                &:before {
	                    display: none;
	                }
	            }
	        }
	    }
	    p {
	        margin: 0;
	        &.date {
	            color: hubl("$secondary_text");
	            font-size: 16px;
	        }
	    }
	}

}

@import "__header.scss";
@import "__footer.scss";

.turbo-mercuric{
    ul{
        li{
                font-size: 16px!important;
                font-weight: 400!important;
        }
    }
}

.turbo-mercuric form .hs-error-msgs li label{
    // margin-top:35px;
}

.turbo-mercuric form input[type=submit]:hover, .me-cta-secondary:hover, .me-cta-primary:hover{
    background-color: #203FA4!important;
    color: white!important;
}

.turbo-mercuric .footer-container-wrapper footer p, .turbo-mercuric .footer-container-wrapper footer a{
    font-weight:300;
}

.turbo-mercuric header.header-standard .slicknav_menu .mobile-menu--mask{
    background-color:transparent!important;
}
.turbo-mercuric header.header-standard .slicknav_menu{
    background-color:transparent!important;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
}
.turbo-mercuric .slicknav_nav ul{
    margin-top:0px!important;
    
}
.turbo-mercuric header.header-standard .slicknav_menu .slicknav_nav .hs-menu-wrapper > ul{
    background-color:white!important;
    padding-top:20px!important;
}

.turbo-mercuric header.header-standard .slicknav_menu .slicknav_nav{
    top:70px!important;
}
.turbo-mercuric header.header-standard .slicknav_menu .slicknav_nav li.hs-menu-item > a{
    padding:15px 55px!important;
    color:#404040;
}
.turbo-mercuric header.header-standard .slicknav_menu .slicknav_nav li.hs-menu-depth-1 ul li a{
    color:#292935!important;
}
.turbo-mercuric header.header-standard .slicknav_menu .slicknav_nav li.hs-menu-item > a > a{
    color:#292935!important;
}
.turbo-mercuric header.header-standard .slicknav_menu .slicknav_nav li.hs-menu-item > a > a{
      color:#292935!important;
}
.turbo-mercuric .slicknav_nav li.slicknav_open{
    border-bottom:0px!important;
}

@media(max-width: 991px) {
    .turbo-mercuric {

        .footer-container-wrapper {

            .footer--main-block,
            .footer--post-block,
            .footer--links-block,
            .footer-get {
                margin-left: 0;
                width: 50%;
                padding-right: 15px;
            }

            .footer--links-block {
                form {
                    max-width: 320px;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .turbo-mercuric {

        .footer-container-wrapper {

            .footer--main-block,
            .footer--post-block,
            .footer--links-block,
            .footer-get {
                margin-left: 0;
                width: 100%;
                padding-right: 0;
            }
        }
    }

}