.about-us-3{
	
	// TOP SECTION
	.top-section{
		margin: 95px 0px;
		.widget-type-rich_text {
		 	text-align: left;
		 	padding-top: 25px;
		 	padding-right: 100px;
		 	@media(max-width: 767px){
		 		padding-right: 0px;
		 	}
		 	h4{
		 		font-size: rem(20);
		 		color: hubl("$first_color");
		 		margin-bottom: 25px;
		 	}
            h2 {
                margin-bottom: 30px;
            }
            p,
            li,
             {
                color: hubl("$second_font_color");
                font-size: rem(18);
                line-height: 25px;
                margin-bottom: 40px;
            }
        }
    }
	//COLOR SECTION
	.color-section{
		background-color: hubl("$first_color");
		text-align: center;
		padding: 100px 0px 45px 0px;
		.icon-list-wrapper > span{
			display: flex;
			justify-content: space-between;
			flex-wrap:wrap;
			margin-top: 0px;
			@media(max-width: 795px){
				justify-content: space-around;
			}
			.icon-list {
				margin: 0px 5px 30px;
				display: flex;
				max-width: 335px;
				align-items: flex-start;
				width: 100%;
				text-align: left;

				i,p,li,span,a,h2,h3,h4,h5,h6{
					color: #fff;
				}
				i{
					font-size: 80px;
				}
				p,li,span{
					font-size: 16px;
				}
				h5{
					font-size: 20px;
					font-weight: 400;
					margin-bottom: 5px;
				}
				li:before{
					color: #fff;
				}
				a:hover:before{
					border-color: #fff;

				}
				.icon-wrapper{
					margin-right: 15px;
				}
			}
		}
	}
	// TEAM SECTION
	.team-photo-box-wrapper>span {
	    &>div {
	        display: block;	    
	    }
	}

	.team-photo-box {
	    .box {
	        display: block;	 
	    }
	}
	.timeline-container{
		max-width: 1060px;
		margin: 80px auto 50px auto;
		.widget-type-rich_text{
			margin-top: 0px;
			text-align: center;
			margin-bottom: 65px;
			h2{
				margin-bottom: 45px;
			}
			p{
				color: hubl("$second_font_color");
			}
		}
	}
	// GRADIENT SECTION
	.gradient-section{
		background: linear-gradient(57deg, hubl("$second_color") 20%, hubl("$first_color") 80%);
		padding: 65px 0px;
		.brands-slider-wrapper {
	        margin: 0px 0px;
	        padding-bottom: 65px;
	        border-bottom: 1px solid #fff;
	        .slick-arrow{
	            display: none!important;
	        }
	        .slick-dots {
	            bottom: -40px;
	            li:before {
	                display: none;
	            }

	            li {
	                width: 7px;
	                height: 7px;
	                button {
	                    width: 7px;
	                    height: 7px;
	                    &:before {
	                        width: 7px;
	                        height: 7px;
	                        content: '';
	                        opacity: .25;
	                        border-radius: 50%;
	                        background-color: #fff;
	                    }
	                }
	                &.slick-active button:before{
	                	opacity: 1;
	                }
	            }
	        }
	    }
		.widget-type-rich_text{
			margin-top: 95px;
			text-align: center;
			margin-bottom: 35px;
			h5{
				font-size: rem(20);
				font-weight: 400;
				margin-bottom: 15px;
			}
			h2{
				margin-bottom: 60px;
			}
		}
	}
}