.about-us {

    .top-text-wrapper {
        padding: 90px 0px 75px 0px;
        h2 {}
        h4 {
            font-weight: 400;
            color: hubl("$first_color");
            font-size: rem(20);
            margin-bottom: 20px;
        }
        h5 {
            font-weight: 400;
            color: hubl("$first_color");
            margin-bottom: 10px;
        }
        p,
        ul,
        ol {
            color: hubl("$secondary_text");
        }
        .text-item-1 {
            @media(max-width: 767px) {
                margin-bottom: 20px;
            }
        }
        .text-item-2 {
            padding-right: 15px;
            @media(max-width: 767px) {
                padding-right: 0px;
                margin-top: 20px;
            }
        }
        .text-item-3 {
            padding-left: 15px;
            @media(max-width: 767px) {
                padding-left: 0px;
                margin-top: 20px;
            }
        }
    }

    .image-wrapper {
        margin-bottom: 92px;
        .photo-3d-effect{
            @media (max-width: 767px){
                margin-bottom: 30px;
                img{
                    margin: 0 auto;
                }
            }
        }
    } // SLIDER WRAPPER
    .testimonials-slider {
        margin-top: 15px;
        // display: none; // roboczo
        .slick-arrow{
             display: none!important;
        }
    } 
    // COUNTER WRAPPER
    .counter-section-wrapper {
        margin: 50px 0px 90px 0px;
        display: flex;
        background-color: hubl("$first_color");
        color: #fff;
        &>div {
            &:first-child {
                width: 40%;
                .row-fluid {
                    height: 100%;
                }
                @media (max-width: 1024px) {
                    display: none;
                }
            }
            &:last-child {
                width: 60%;
                @media (max-width: 1024px) {
                    width: 100%;
                }
            }
        }
        .widget-type-rich_text {
            h5 {
                font-weight: 300;
                margin-bottom: 20px;
            }
            h2 {}
        }
        .image {
            height: 100%;
            background-size: cover;
            background-position: left center;
        }
        .counter-section {
            width: 100%;
            padding: 105px 15px 65px 60px;
            max-width: 975px;
            @media (max-width: 1024px) {
                padding: 105px 15px 65px 15px;
                max-width: 1024px;
            }
        }
    } 
    // TIMELINE 
    .timeline-item-wrapper {
        margin-bottom: 95px;
        // overflow: hidden;
        .timeline-item h3{
            margin-top: -8px;
        }
    } 
    // BOTTOM TEXT
    .text-bottom {
        padding: 95px 0px;
        text-align: center;
        border-bottom: 1px solid #e0e0e0;

        .widget-type-rich_text {
             max-width: 700px;
        margin: 0 auto;
        width: 100%;
        float: none;
            h2 {
                font-weight: 600;
                margin-bottom: 30px;
            }
            p,
            ol,
            ul {
                color: hubl("$second_font_color");
                font-size: rem(18);
            }
        }
    } 
    //CERTIFICATNION SLIDER
    .brands-slider-wrapper {
        margin: 85px 0px 185px 0px;
        .slick-arrow{
            display: none!important;
        }
        .slick-dots {
            bottom: -90px;
            li:before {
                display: none;
            }

            li {
                width: 7px;
                height: 7px;
                button {
                    width: 7px;
                    height: 7px;
                    &:before {
                        width: 7px;
                        height: 7px;
                        content: '';
                        opacity: .25;
                        border-radius: 50%;
                        background-color: hubl("$first_color");
                    }
                }
                &.slick-active button:before{
                	opacity: 1;
                }
            }
        }
    }
}