.about-us-2{

	// TOP SECTION
	.top-section{
		margin: 80px 0px;
		.widget-type-rich_text {
		 	text-align: center;
            h2 {
                margin-bottom: 40px;
            }
            p,
            li,
             {
                color: hubl("$second_font_color");
                font-size: rem(18);
                line-height: 25px;
            }
        }
        // SIMPLE SLIDER 
        .simple-slider-wrapper{
        	margin-top: 25px;
        	margin-bottom: 25px;
        	.slick-dots {
	            bottom: -20px;
	            li:before {
	                display: none;
	            }

	            li {
	                width: 7px;
	                height: 7px;
	                button {
	                    width: 7px;
	                    height: 7px;
	                    &:before {
	                        width: 7px;
	                        height: 7px;
	                        content: '';
	                        opacity: .25;
	                        border-radius: 50%;
	                        background-color: hubl("$dark");
	                    }
	                }
	                &.slick-active button:before{
	                	opacity: 1;
	                }
	            }
	        }
        }
	}
	//COLOR SECTION
	.color-section{
		background-color: hubl("$first_color");
		text-align: center;
		padding: 90px 0px 60px 0px;
		.widget-type-rich_text {
		 	text-align: center;
            h2 {
                margin-bottom: 40px;
            }        
       	}
		.icon-list-wrapper > span{
			display: flex;
			justify-content: space-between;
			flex-wrap:wrap;
			margin-top: 80px;
			@media(max-width: 795px){
				justify-content: space-around;
			}
			.icon-list {
				margin: 0px 5px 30px;
				display: flex;
				max-width: 335px;
				align-items: flex-start;
				width: 100%;
				text-align: left;

				i,p,li,span,a,h2,h3,h4,h5,h6{
					color: #fff;
				}
				i{
					font-size: 80px;
				}
				p,li,span{
					font-size: 16px;
				}
				h5{
					font-size: 20px;
					font-weight: 400;
					margin-bottom: 5px;
				}
				li:before{
					color: #fff;
				}
				a:hover:before{
					border-color: #fff;

				}
				.icon-wrapper{
					margin-right: 15px;
				}
			}
		}
	}
	// TEAM SECTION
	.team-section{
		margin: 85px 0px 55px;
		 .widget-type-rich_text {
		 	text-align: center;
		 	margin-bottom: 75px;
            h2 {
                margin-bottom: 40px;
            }
            p,
            li,
             {
                color: hubl("$second_font_color");
                font-size: rem(18);
                line-height: 25px;
            }
        }
	}
}