.company {
    .top-photo-section {
        img {
            width: 100%!important;
            height: auto;
            @media (max-width: 768px) {
                // width: auto!important;
                margin: 0 auto 15px;
                display: block;
            }
        }
    }
    .top-text-section {
        padding-top: 60px;
        .first {
            h2 {
                font-size: 41px;
                font-weight: 400;
            }
        }
        .second {
            @media (max-width: 768px) {
                margin-top: 30px
            }
            h3 {
                color: hubl("$first_color");
                font-size: 20px;
                padding-bottom: 15px;
            }
            p {
                color: hubl("$secondary_text");
            }
        }
    }
    .icon-wrapper {
        .text-wrapper {
            text-align: center;
            max-width: 220px;
        }
    }
    .icon-boxes {
        padding: 90px 0;
        @media (max-width: 449px) {
            padding-bottom: 70px;
        }
        >div>span {
            display: flex;
            flex-wrap: wrap;
            >div {
                @media (min-width: 768px) {
                    width: 33%;
                    border-right: 1px solid hubl("$lightGrey");
                    &:nth-of-type(1n+4) {
                        border-top: 1px solid hubl("$lightGrey");
                    }
                    &:nth-of-type(3n+3) {
                        border-right: 0;
                    }
                }
                @media (min-width: 450px) and (max-width: 767px) {
                    width: 50%;
                    &:nth-of-type(1n+3) {
                        border-top: 1px solid hubl("$lightGrey");
                    }
                    &:nth-of-type(2n+1) {
                        border-right: 1px solid hubl("$lightGrey");
                    }
                }
                @media (max-width: 449px) {
                    width: 100%;
                    border-top: 1px solid hubl("$lightGrey");
                    &:first-of-type {
                        border-top: 0px;
                    }
                }
                .icon-list-company {
                    width: 100%;
                }
            }
        }
    }
    .parallax-mirror {
        z-index: 3!important;
        height: 500px!important;
    }
}