.contact {
	// ***************
	// ** CONTACT 1 **
	// ***************
    &.contact-1 {
    	.content-wrapper{
    		text-align: center;
    		padding: 100px 0px;
    		h2{
    			font-weight: 400;
    			font-size: 52px;
    			margin-bottom: 55px;
    		}
    		h4{
				font-weight: 400;
				font-size: 20px;
				color: hubl("$first_color");
                margin-bottom: 10px;
    		}
    	}
    	.widget-type-form{
    		margin: 0 auto;
    		display: block;
            max-width: 946px;
            float: none;
            .hs-form-field{
                margin-bottom: 40px;
                display: block;
            }
            form input[type=submit]{
                margin-top: 30px;
                padding: 17.5px 70px;
                min-width: 210px;
            }
    	}
    }
	// ***************
	// ** CONTACT 2 **
	// ***************
    &.contact-2 {
       
    }
    // ***************
    // ** CONTACT 3 **
    // ***************
    &.contact-3 {
        .main-content{
            min-height: 100vh;
        }
       .widget-type-rich_text{
            h2, h1{
                font-weight: 400;
                font-size: 52px;
                margin-bottom: 35px;
            }
            h4{
                font-weight: 400;
                font-size: 20px;
                color: hubl("$first_color");
                margin-bottom: 10px;
            }
            p{
                color:  hubl("$second_font_color");
                font-size: rem(18);
            }
        }
        .map-wrapper{
            margin-left: 0px!important;
            width: 50%!important;
            padding-left: 15px;
            @media(max-width: 767px){
                width: 100% !important;
                padding-left: 0px;
            }
        }
        .half-container-wrapepr{
            width: 50%!important;
            @media(max-width: 767px){
                width: 100% !important;
            }
            .half-container{
                padding-top: 90px;
                padding-bottom: 80px;
                margin-right: 0px;
                margin-left: auto;
                float: none;
                width: 100% !important;
                @media(max-width: 767px){
                    max-width: 100% !important;
                }
            }
            .custom-social-icon-wrapper{
                margin: 25px 0px 64px 0px;
                span{
                    .custom-social-icon{
                        margin-right: 20px;
                        margin-bottom: 20px;

                    }
                }
            }
            .form-heading{
                h2{
                    margin-bottom: 5px;
                }
            }
        }
    }
    // ***************
    // ** CONTACT 4 **
    // ***************
    &.contact-4 {

        header nav .container > div .hamburger{
            div{
                background: hubl("$dark");
            }
        }
        .body-container-wrapper{
            margin-top: 90px;
        }
        .content-wrapper{
            padding: 100px 0px;
            h1, h2{
                font-weight: 400;
                font-size: 52px;
                margin-bottom: 35px;
            }
            h4{
                font-weight: 400;
                font-size: 20px;
                color: hubl("$first_color");
                margin-bottom: 10px;
            }
        }
        .left{
            &> div{
                margin-right: 17px;
                @media (max-width: 767px){
                    margin-right: 0px;

                }
            }
            h2{
                margin-bottom: 5px;
            }
        }
        .right{
            & > div{
                margin-left: 17px;
                @media (max-width: 767px){
                    margin-left: 0px;
                    margin-top: 60px;
                }
            }
           .widget-type-rich_text{
            p{
                color: hubl("$second_font_color");
                font-size: rem(18);
                &:last-child{
                    margin-bottom: 40px;
                }
            }
           }
        }
    }
} 