.error-404 {
    &.ms-browser {
        .svg-animation-error {
            svg {
                height: 235px;
            }
        }
    }
    .body-container-wrapper {
        background: linear-gradient(57deg, hubl("$second_color") 20%, hubl("$first_color") 80%);
        color: #fff;
        .error-body {
            padding: 130px 0 75px;
        }
        .error-heading {
            h1 {
                font-size: rem(300);
                font-weight: 900;
                text-align: center;
                line-height: 0.8;
                margin-bottom: 40px;
                @media (max-width: 600px){
                    font-size:rem(110);
                    // font-weight: 700;
                }
            }
        }
        .widget-type-rich_text {
            h2 {
                font-weight: 700;
                margin-bottom: 10px;
            }
            h5 {
                font-size: rem(25);
                font-weight: 400;
                margin-bottom: 20px;
            }
        }
    }
    .svg-animation-error {
        svg {
            display: block;
            max-width: 500px;
            float: none;
            margin: 0 auto 20px;
            overflow: visible;
        }
        .st0 {
            display: none;
            stroke: #FFFFFF;
            stroke-miterlimit: 10;
        }
        .st1 {
            display: none;
        }
        .st2 {
            display: inline;
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 2;
            stroke-miterlimit: 10;
        }
        .st3 {
            display: inline;
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 2.2129;
            stroke-miterlimit: 10;
        }
        .st4 {
            display: inline;
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 1.9642;
            stroke-linecap: round;
            stroke-miterlimit: 10;
        }
        .st5 {
            display: inline;
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 2.0856;
            stroke-miterlimit: 10;
        }
        .st6 {
            display: inline;
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 2.086;
            stroke-miterlimit: 10;
        }
        .st7 {
            display: inline;
            opacity: 0.3;
            fill: #FFFFFF;
        }
        .st8 {
            display: inline;
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 2.5;
            stroke-linecap: round;
            stroke-miterlimit: 10;
        }
        .st9 {
            display: inline;
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st10 {
            display: inline;
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 1.9;
            stroke-linecap: round;
            stroke-miterlimit: 10;
        }
        .st11 {
            fill: #FFFFFF;
        }
        .opacity {
            opacity: 0.3;
        }
        .st13 {
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 3;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st14 {
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 2.3294;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st15 {
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 2.6249;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st16 {
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 2.5127;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st17 {
            opacity: 0.3;
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 2.5127;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .planet,
        .opacity,
        .opacity-reverse {
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            transform-origin: 50% 50%;
        }
        .planet {
            animation-name: star;
            animation-duration: 50s;
            transform-origin: 31.7px 31.7px;
        }
        .opacity {
            animation-name: opacity;
            animation-duration: 7s;
        }
        .opacity-reverse {
            animation-name: opacity-reverse;
            animation-duration: 7s;
        }
        // .rocket {
        //     animation-iteration-count: infinite;
        //     animation-timing-function: linear;
        //     // transform-origin: 50% 50%;
        //     transform-origin: 290px 160px;
        //     animation-delay: 3s;
        //     animation-name: shakeThat;
        //     animation-duration: 7s;
        //     transform: translate3d(0,0,0);
        // }
    }
    // @keyframes im-out {
    //     90% {
    //         transform: scale(3.5);
    //     }
    //     100% {
    //         transform: translate(400px, -4000px) rotate(360deg),
    //     }
    // }
    @keyframes opacity-reverse {
        50% {
            opacity: 0.3;
        }
    }
    @keyframes opacity {
        50% {
            opacity: 1;
        }
    }
    @keyframes star {
        50% {
            transform: rotate(360deg);
        }
    }
    @keyframes shakeThat {
        from {
            transform: translate3d(0,0,0) rotate(0deg) translateX(2px) rotate(0deg);
        }
        to {
            transform: translate3d(0,0,0) rotate(360deg) translateX(2px) rotate(-360deg);
        }
    }
}
body {
    &:not(.ff){
        .rocket {
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            // transform-origin: 50% 50%;
            transform-origin: 290px 160px;
            animation-delay: 3s;
            animation-name: shakeThat;
            animation-duration: 7s;
            transform: translate3d(0,0,0);
        }
    }
}
