.home {
    .featured-items-section {
        padding: 100px 0;
        @media (max-width: 800px) {
            padding: 100px 0 70px;
        }
    }
    .feature-items-wrapper {
        >span {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            >div {
                width: 50%;
                max-width: 315px;
                @media (max-width: 800px) {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    .expertise-section {
        padding: 90px 0;
        h5 {
            font-weight: 300;
            margin: 0 0 15px 0;
            color: hubl("$secondary_text");
            span {
                font-weight: 400;
            }
            a {
                font-weight: 400;
            }
        }
        h4 {
            font-weight: 300;
            color: hubl("$secondary_text");
        }
        h3 {
            font-weight: 400;
            margin: 0 0 35px 0;
        }
        .icon-list-section {
            margin-top: 70px;
            >span {
                display: flex;
                flex-wrap: wrap;
                >div {
                    width: 25%;
                    @media (max-width: 1024px) {
                        width: 50%;
                        margin-top: 10px;
                    }
                    @media (max-width: 600px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}