.me-157-three-columns-2{
	.border{
		border:1px solid #ebebeb;
		border-radius:10px;
		margin-bottom:50px;
		.me-feature-box{
			padding-top:20px;
			padding-left:20px;
		}
	}
		.column-text-cta{
			
			h2{
				max-width:1000px;
				margin-top:0px;
			}

		} 
	.second-section{
		
		padding:100px 0px;
		
		h2{
			font-size:41px;
		}
		h5{
			color: #ed145b;
			margin-bottom:5px;
		}
		.svg-icon{
			max-width:50px;
		}
		p, .content{
			font-size:16px;
			color:#b7b7b7;
			font-weight:300;
		}
		.feature-box{
			margin-bottom:40px;
		}
		.widget-type-linked_image{
			text-align:center;
		}
		@media(max-width:768px){
			.list-feature-box{
				
				padding-top:20px;

			}
			.feature{
				text-align:center;
				.content{
					margin:auto;
					max-width:300px;
					margin-top:20px;
				}
			}
		}


	}
	.group-section{
		padding:100px 0px;


		.group-element{
			padding-top:75px;
		}

		h2{
			font-size:41px;
			margin-bottom:50px;
		}
		p{
			color:#b7b7b7;
			font-size:18px;
			font-weight:300;
		}
		.cta_button{

			background-color:#ed145b;
			color:white;
			border-color:#ed145b;
			margin-top:50px;

		}

		@media(max-width:768px){
			.row-fluid{

				  display: -webkit-box;
				    display: -moz-box;
				    display: box;

				    -webkit-box-orient: vertical;
				    -moz-box-orient: vertical;
				    box-orient: vertical;

				.span5{
					  -webkit-box-ordinal-group: 1;
					    -moz-box-ordinal-group: 1;
					    box-ordinal-group: 1;
				}
				.span7{
					  -webkit-box-ordinal-group: 2;
					    -moz-box-ordinal-group: 2;
					    box-ordinal-group: 2;
				}
				.widget-type-linked_image{
						
					text-align:center;
					margin-bottom:20px;
				}

			}
		}
	}
	.contact-banner{
		.cta_button{

			background-color:#ed145b;
			color:white;
			border-color:#ed145b;


		}
	}
	.list-feature-box{
		padding-top:70px;
	}
	.second-section{
		h2{
			letter-spacing:-0.5px;
		}
}
	.feature-box{
		h3{
			font-size:20px!important;
		}
	}
	.body-container-wrapper{
	padding-top:0px!important;
	}
	.hero-banner2{
		background-color:#292935;
	}
	.bot-section{
		padding:100px 0px;
		.column-text-cta {
			p{
				color:#b7b7b7;
			}
			h2{
			    color: #000000;
			    font-size:25px!important;
			}
		}
	}
	.lef{
		padding-right:20px
	}
	.righ{
		padding-left:20px;
	}
	.cent{
		padding-right:10px;
		padding-left:10px;
	}

	.feature-box{
		.span10{
			padding-left:30px;
			padding-right:30px;
		}
	
	}
	.second-section{
		img{
			margin-left:auto;
			margin-right:auto;
	
		}
		h4{
			font-size:20px;
			color:#ed145b;
		}
	}
	.footer-section{
		background-color:#ed145b;
		.column-text-cta{
			padding-top:50px;
			padding-bottom:50px;
			h2, .h4{
				max-width:1000px;
				font-size:51px;
				color:white;
			}
			p{
				color:white;
			}

			.cta_button{
				color:white;
				border-color:white;
			}
			.subheading{
				color:white;
				font-size:20px;
				margin-bottom:20px;
				display:block;
			}
		}
	}
		@media(max-width:768px){
			.lef,.righ,.cent{
				padding-right:10px;
				padding-left:10px
			}
			.span4{
				padding-bottom:50px;
			}
			
	}
	@media(max-width:768px){
		.second-section{
					img{
						max-width:500px;
					}
				}
		}

}