.me-154-two-columns3-filters{
	
.hs-menu-wrapper.hs-menu-flow-vertical > ul li.hs-menu-depth-1 > a{
	width: auto;
    color:#171717;
}
.sidebar-submenu .hs-menu-wrapper.hs-menu-flow-vertical li a{
	    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: visible;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 16px;
    color:#171717;
}
.sidebar-submenu .hs-menu-wrapper.hs-menu-flow-vertical li a.active{
    background-color:#f2f4f9;
} 
.hs-menu-wrapper.hs-menu-flow-vertical > ul li a{
	padding: 20px 25px;
    text-decoration: none;
}
.sidebar-submenu .hs-menu-wrapper.hs-menu-flow-vertical > ul li.hs-item-has-children ul.hs-menu-children-wrapper{
	visibility: visible;
    opacity: 1;
    position: static;
    top: 0;
    left: 0px;
    display: none;
}
.hs-menu-wrapper.hs-menu-flow-vertical > ul li.hs-item-has-children ul.hs-menu-children-wrapper{
	    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 180px;
}
/*.sidebar-submenu li.hs-item-has-children > a:after{
    font-family: 'ClickrayIcons';
    content: "\e90e";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    color:#ed2164;
}*/

.hs-menu-wrapper.hs-menu-flow-vertical ul{
	 
	list-style: none;
    margin: 0;
}
.active ul{
	display:block!important;
}
ul li:before{
    display:none;
}
.sidebar-submenu{

         a:hover:before{
            border-bottom:none;
        }
      /*  a {
          &::after {
            content: " pseudo element";
            opacity: 0;
          }

          &:hover {
          &::after {
            opacity: 1;
          }
        }
    }*/
   } 


.hs-menu-children-wrapper li a{
    
    padding-left:50px!important;

}
.case-study-1 .sidebar-submenu ul li a.active-child{
        background-color: #f2f4f9;
    color: #171717;
}
.sidebar-submenu{
    padding-bottom:30px;
}
}