.me-122-pricing-3{
	.first-section{
	h1{
		text-align:center;

	}
	.widget-type-rich_text{
		text-align:center;
		max-width:350px;
		margin:auto;
		font-size:16px;
	}
	.slick-initialized {
		.slick-slide{
			display:inline-block;
			text-align:center;
		}
	}
	.client-logo-slider{
		padding-top:50px;
		border-top:1px solid #ebebeb;
	}
}
.second-section {
  color: #fff;
  padding: 70px 0;
  background-color: hubl("$first_color"); 

   .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; 

}
.slick-slide{
	visibility:hidden;
	transition: 0.3s all linear;
	transform: translateX(-300px) scale(0.1);

}
.elo1,.elo2{
	visibility:visible;
	opacity:0.7;
	transform:scale(0.9);
	z-index:1;
}
.elo1{
	transform: translateX(-300px) scale(0.9);

}
.elo2{
	transform: translateX(300px) scale(0.9);

}
.slick-center{
		visibility:visible;
	transform:scale(1.0);
	opacity:1;
	z-index:3;
	position:relative;
	z-index:3;
}
}
}