.portfolio-single-1 {
    .content {
    	padding: 100px 0px;
        .main-image {
        	margin-bottom: 70px;
        }
        .text-section {
        	p,li{
        		color: hubl("$second_font_color");
        		font-weight: 300;
        	}
            li{
                padding-bottom: 10px;
            }
        	h4{
				font-size: rem(25);
				margin-bottom: 15px;
        	}
      		h5{
				margin-bottom: 15px;
				font-size: rem(20);
				font-weight: 400;
      		}
        	.text-flex-wrapper > span{
        		display: flex;
        		flex-wrap: wrap;
        		@media(max-width: 767px){
        			margin-top: 40px;
        		}
        		& > div{
        			width: 50%;
        			margin-bottom: 30px;
        			@media(max-width: 486px){
	            		width: 100%;
	            	}
        		}
        		p,a{
        			hyphens: auto;
        		}
        	}
        }
        .image-section {
        	margin-top: 64px;
        	.photo-3d-effect{
            	@media(max-width: 767px){
            		margin-bottom: 30px;
            	}
            }
            .column-wrapper {
            	.photo-3d-effect{
            		margin-bottom: 30px;
            	}
            }
        }
    }
}