.portfolio-1{

	.menu-label{
		display: none;
	}
	.menu-title{
		margin: 10px 30px 10px 10px;
		line-height: 36px;
		font-size: rem(25);
		@media (max-width: 767px){
			display: block;
			width: 100%;
		}
		@media (max-width: 486px){
			display: none!important;	
		}

	}
	.category-wrapper{
		display: flex;
		justify-content: center;
		& > span{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding: 60px 0px;
			@media (max-width: 767px){
				justify-content: flex-start;
			}
			& > div{
				@media (max-width: 486px){
					width: 100%;
				}
			}
			.category-name-filter{
				margin: 10px;
				min-width: 110px;
				border: 1px solid hubl("$first_color");
				background-color: hubl("$first_color");
				color: #fff;
				text-align: center;
				cursor: pointer;
				border-radius: 25px;
				line-height: 36px;
				transition: 0.3s all linear;
				&.active{
					background-color: transparent;
					color: hubl("$first_color");
				}
				&:hover{
					background-color: transparent;
					color: hubl("$first_color");
				}
			}		
		}
		& > span:first-child{
			width: auto;
		}
	} 
	.portfolio-item-filter-wrapper {
	    background-color: #fff;
	}

	.portfolio-pagination{
		ul{
			padding: 45px 0px;
			display: flex;
			justify-content: center;
			li{
				margin: 0 8px;
				&:before{
					display: none;
				}
				a{
					font-size: rem(16);
					line-height: 40px;
					border: 1px solid hubl("$lightGrey");
					min-width: 40px;
					display: block;
					text-align: center;
					border-radius: 5px;
					color: hubl("$main_font_color");
					transition: 0.3s all linear;
					&:before{
						display: none;
					}
					&:hover{
						border-color: hubl("$first_color");
					}
				}
				&.disabled{
					display: none;
				}
				&.active{
					a{
						border-color: hubl("$first_color");
						background-color:hubl("$first_color");
						color: #fff;
					}
				}
			}
		}
	}
}