.product {
    .icons-section {
        padding: 100px 0;
        >div>div {
            display: flex;
            @media (max-width: 1024px) {
                flex-direction: column;
                >div {
                    width: 100%;
                    margin: 0;
                    .content-main {
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .image-right,
    .content-left {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin: 0;
    }
    .image-right {
        padding-left: 30px;
        img {
            margin-top: 40px;
        }
    }
    .content-left {
        .icon-list-company {
            width: 100%;
            text-align: left;
            .icon-wrapper {
                align-items: flex-start;
                padding: 25px 0;
                h2 {
                    margin: 15px 0;
                }
                i {
                    font-size: rem(40);
                }
            }
            .text-wrapper {
                p {
                    margin: 0;
                    font-size: rem(18);
                }
                margin: 0 0 15px;
            }
        }
        .content-main {
            max-width: 585px;
            padding: 0 15px;
            h5 {
                font-weight: 400;
                margin-bottom: 15px;
            }
            .featured-boxes-wrapper {
                padding: 70px 0 30px;
                @media (max-width: 767px) {
                    padding: 30px 0 10px;
                }
                >span {
                    display: flex;
                    flex-wrap: wrap;
                    >div {
                        width: 50%;
                        @media (min-width: 551px) {
                            &:nth-of-type(2n+1) {
                                padding-right: 35px;
                            }
                            &:nth-of-type(2n+2) {
                                padding-left: 35px;
                            }
                        }
                        @media (max-width: 550px) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}