.services-2 {
    .services-intro {
        padding: 95px 0;
        h5 {
            margin-bottom: 25px;
            font-weight: 400;
        }
        h3 {
            margin-bottom: 50px;
        }
        .icon-section-top {
            >span {
                display: flex;
                flex-wrap: wrap;
                >div {
                    width: 50%;
                    @media (max-width: 500px) {
                        width: 100%;
                    }
                }
            }
            .icon-list-company {
                width: 100%;
                float: none;
                transition: .5s linear all;
                i,
                p,
                a,
                li,
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    transition: .3s linear all;
                }
                .icon-wrapper {
                    align-items: flex-start;
                }
                h2 {
                    margin: 30px 0 20px;
                    color: hubl("$main_font_color");
                }
                >a {
                    &:hover {
                        &:before {
                            content: none;
                        }
                    }
                }
                &:hover {
                    cursor: pointer;
                    background-color: hubl("$first_color");
                    box-shadow: 0px 7px 29.12px 2.88px rgba(197, 198, 200, 0.39);
                    i,
                    p,
                    a,
                    li,
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        color: #fff;
                    }
                }
            }
        }
    }
    .color-section {
        background-color: hubl("$first_color");
        text-align: center;
        h3 {
            padding: 60px 0;
            color: #fff;
        }
    }
    .testimonials-slider {
        padding-bottom: 90px;
    }
    .testimonials-main-slider {
        margin: 50px auto 70px auto;
        max-width: 450px;
        padding: 0px;
        width: 100%;
        .content {
            margin-top: 25px;
            padding: 0 20px;
        }
    }
    .testimonials-nav-slider {
        margin: 0 auto;
        max-width: 1170px;
        padding: 0 15px;
        width: 100%;
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #e8e9ed;
            position: absolute;
            top: 130px;
            left: 50%;
            transform: translateX(-50%);
        }
        .slick-list {
            padding: 0px!important;
        }
    }
}