.services {
    .top-text-section {
        padding-top: 60px;
        .first {
            h2 {
                font-size: 41px;
                font-weight: 400;
            }
        }
        .second {
            @media (max-width: 767px) {
                margin-top: 35px
            }
            h3 {
                color: hubl("$first_color");
                font-size: 20px;
                padding-bottom: 15px;
            }
            p {
                color: hubl("$second_font_color");
            }
        }
    }
    .accordion-wrapper {
        >span>div {
            &:last-of-type {
                .accordion-panel {
                    .header {
                        border-bottom: 0px;
                    }
                }
            }
        }
    }
    .panel-heading {
        display: inline-block;
    }
    .what-we-do-section .what-we-do-single .text p,
    .top-text-section .second p,
    .pricings .widget-type-rich_text p,
    .question-v2 .left .widget-type-rich_text p,
    .accordion-panel .body p,
    .accordion-panel .body span,
    .accordion-panel .body ul,
    .accordion-panel .body ol {
        font-size: rem(18);
    }
}