.team-5 {
    .top-section {
        text-align: center;
        padding: 85px 0px 70px 0px;
        .widget-type-rich_text {
            h2 {
                margin-bottom: 40px;
            }
            p,
            ul,
            ol {
                color: hubl("$second_font_color");
                font-size: rem(18);
                line-height: 25px;
            }
        }
    }


    .single-person-row-wrapper>span {
        display: flex;
        flex-wrap: wrap;
        &>div {
            width: 50%;
            @media (max-width: 767px) {
                width: 100%;
            }
            .single-person-row {
                min-height: 535px;
                &>div {
                    @media (min-width: 1024px) and (max-width: 1450px) {
                        width: 100%;
                        justify-content: flex-start;
                    }
                }
                @media (min-width: 1024px) and (max-width: 1450px) {
                     .avatar{
                        height: 350px;
                        order: 0;
                      }
                      .content{
                        margin-left: 0px;
                        margin-right: 0px;
                      } 
                }
                .description-wrapper{
                    p{
                        color: #fff;
                    }
                }
            }
            &.featured-item-wrapper {
                width: 100%;
            }
        }
    }


    .form-wrapper {
        padding: 90px 0px 70px 0px;
        h4 {
            color: hubl("$first_color");
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            margin-bottom: 10px;
        }
        h2 {
            font-weight: 400;
            text-align: center;
            margin-bottom: 60px;
        }
        form {
            max-width: 950px;
            width: 100%;
            margin: 0 auto;
            .hs_submit {
                text-align: center;
                margin-bottom: 30px;
            }
            .hs-form-field {
                margin-bottom: 40px;
                display: block;
                @media (max-width: 767px) {
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }
}