.team-4 {
    .top-section {
        text-align: center;
        padding: 85px 0px 70px 0px;
                   h2 {
                margin-bottom: 40px;
            }
            p,
            ul,
            ol {
                color: hubl("$second_font_color");
                font-size: rem(18);
                line-height: 25px;
            }
           
        
    }
    .color-wrapper{
        margin-top: 60px;
        background-color: hubl("$first_color");
    }
    .form-wrapper {
        padding: 90px 0px 70px 0px;
        h4 {
            color: #fff;
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            margin-bottom: 10px;
        }
        h2 {
            color: #fff;
            font-weight: 400;
            text-align: center;
            margin-bottom: 60px;
        }
        form {
            max-width: 950px;
            width: 100%;
            margin: 0 auto;
            .hs_submit {
                text-align: center;
                margin-bottom: 30px;
            }
            .hs-form-field {
                margin-bottom: 40px;
                // display: block;
                @media (max-width: 767px) {
                    // display: inline-block;
                    width: 100%;
                }
            }
        }

    }
}