.team-single-1 {

    .top-section {

        min-height: 100vh;
        height: 100%;
        overflow: hidden;
        @media (max-width: 1024px){
        	height: auto;
        	overflow: auto;
        }
        &>div:first-child {}
    }
    .about-me-content{
        p{
            &:last-child{
                margin-bottom: 50px;
            }
        }
    }
}