.team-single-2 {

    .body-container-wrapper {
        margin-top: 100px; // czekam na heder
    }

    .custom-social-icon-wrapper>span {
        margin-top: 20px;
        margin-bottom: 80px;
        &>div {
            margin-right: 15px;
            margin-bottom: 15px;
        }
    }
    .top-section {
        display: flex!important;
        float: none!important;
        flex-wrap: wrap;

        &>div {
            width: 50%;
            @media (max-width: 1024px) {
                width: 100%;
            }
            &:last-child {
                .row-fluid {
                    height: 100%;
                }
                @media (max-width: 1024px) {

                    order: -1;
                }
            }
        }
        .half-container {
            margin-left: auto;
            margin-right: 0px;
            padding-right: 35px;
            @media (max-width: 1024px) {
                max-width: 100%;
                padding-right: 15px;
            }
        }
        .about-me-content {
            padding-top: 70px;
            @media (max-width: 1024px) {
                padding-top: 0px;
            }

            small {
                color: hubl("$first_color");
                font-size: rem(20);
                display: inline-block;
                margin-bottom: 25px;
                @media (max-width: 1024px) {
                    margin-top: 25px;
                }
            }

            h1,
            h2 {
                font-size: rem(52);
                margin-bottom: 30px;
            }

            p,
            ol,
            ul {
                font-size: rem(18);
                color: hubl("$secondary_text");
                &:last-child{
                    margin-bottom: 40px;
                }
            }

            blockquote {
                font-size: rem(20);
                line-height: rem(23);
                font-style: italic;
                margin-bottom: 45px;
            }
        }
        .social-lable,  
        .skill-lable {
            span {
                font-size: rem(25);
                margin-top: 5px;
                display: block;
            }
        } 
    }
    .skill-progress-bar-wrapper {
        margin-bottom: 40px;
    }

    .avatar-wrapper {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        @media (max-width: 1024px) {
            background: none!important;
            padding: 0px 15px;
        }
        img {
            display: none;

            @media (max-width: 1024px) {
                display: block;
                margin: 0 auto;
            }
        }
        &.normal{
            background: none!important;
            img{
                display: block;
            }
        }
    }
    .color-section {
        background-color: hubl("$first_color");
        text-align: center;
        h3 {
            color: #fff;
            margin: 50px 60px;
        }
    }
}