.team-2 {
    .top-section {
        text-align: center;
        padding: 85px 0px 70px 0px;
        .widget-type-rich_text {
            h2 {
                margin-bottom: 40px;
            }
            p,
            ul,
            ol {
                color: hubl("$second_font_color");
                font-size: rem(18);
                line-height: 25px;
            }
        }
    }

    .single-person-row-wrapper > span{
        & > div{
            margin-bottom: 100px;
            @media (max-width: 767px){
                margin-bottom: 50px;
            }
        }
        .single-person-row{
            min-height: 510px;
            .avatar{
                border-radius: 0px;
                
            }
            .tilt{
                   
                transition: 0.3s box-shadow;
                &:hover{
                    box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.2);
                }
            }
            .social{
                li{
                    margin-right: 15px;
                }
                a{
                    background-color: hubl("$first_color");
                    border: 1px solid hubl("$first_color");
                    width: 53px;
                    height: 53px;
                    display: block;
                    border-radius: 50%;
                    text-align: center;
                    i{
                        line-height: 53px;
                        color: #fff;
                        font-size: rem(28);
                    }
                    &:hover{
                        background-color: transparent;
                        i{
                            color: hubl("$first_color");
                        }
                    }
                }
            }
        }
    }

    .color-wrapper{
        background-color: hubl("$first_color");
    }
    .form-wrapper {
        padding: 90px 0px 70px 0px;
        h4 {
            color: #fff;
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            margin-bottom: 10px;
        }
        h2 {
            color: #fff;
            font-weight: 400;
            text-align: center;
            margin-bottom: 60px;
        }
        form {
            max-width: 950px;
            width: 100%;
            margin: 0 auto;
            .hs_submit {
                text-align: center;
                margin-bottom: 30px;
            }
            .hs-form-field {
                margin-bottom: 40px;
                // display: block;
                @media (max-width: 767px) {
                    // display: inline-block;
                    width: 100%;
                }
            }
        }
    }
}