.team-single-3 {


    .top-section {
        text-align: center;
        padding: 85px 0px 70px 0px;
        h1,
        h2 {
            font-size: rem(52);
            margin-bottom: 40px;
            font-weight: 600;
        }

        p,
        ol,
        ul {
            font-size: rem(20);
            color: hubl("$second_font_color");
        }
        br{
             @media (max-width: 767px){
                display: none;
             }
        }
    }

    .image-wrapper {
        margin-bottom: 100px;
        .photo-3d-effect {
            @media (max-width: 767px) {
                margin-bottom: 30px;

                img {
                    margin: 0 auto;
                }
            }
        }
        @media (max-width: 767px) {
            margin-bottom: 50px;
        }
    }
    .custom-social-icon-wrapper>span {
        margin-top: 20px;
        margin-bottom: 80px;
        &>div {
            margin-right: 15px;
            margin-bottom: 15px;
        }
    }
    .skill-progress-bar-wrapper {
        margin-bottom: 40px;
        span {
            div:first-child {
                h6 {
                    margin-top: 25px;
                }
            }
        }
    }
    .social-lable,
    .skill-lable {
        span {
            font-size: rem(25);
            display: block;
        }
    }
    .bottom-text {
        padding-right: 20px;
        @media (max-width: 767px) {
            padding-right: 0px;
            margin-bottom: 30px;
        }
        h5 {
            color: hubl("$first_color");
            font-weight: 400;
            margin-bottom: 15px;
        }
        h2 {
            margin-bottom: 55px;
        }
        p,
        ol,
        ul {
            color: hubl("$second_font_color");
            font-size: rem(18);
        }
    }
    .color-section {
        background-color: hubl("$first_color");
        text-align: center;
        h3 {
            color: #fff;
            margin: 50px 60px;
        }
    }

    .portfolio-item-v2-wrapper span {
        margin: 65px 0px;
    }
}