.three-columns-2{
	.second-section{
		h2{
			letter-spacing:-0.5px;
		}
}
	.feature-box{
		h3{
			font-size:20px!important;
		}
	}
	.body-container-wrapper{
	padding-top:0px!important;
	}
	.hero-banner2{
		height:300px;
		background-color:#292935;
	}
	.bot-section{
		padding:100px 0px;
		.column-text-cta {
			p{
				color:#b7b7b7;
			}
			h2{
			    color: #000000;
			    font-size:25px!important;
			}
		}
	}
	.lef{
		padding-right:20px
	}
	.righ{
		padding-left:20px;
	}
	.cent{
		padding-right:10px;
		padding-left:10px;
	}

	.feature-box{
		.span10{
			padding-left:30px;
			padding-right:30px;
		}
	
	}
	.second-section{
		img{
			margin-bottom:80px;
			margin-left:auto;
			margin-right:auto;
	
		}
		h4{
			font-size:20px;
			color:#ed145b;
		}
	}
	.footer-section{
		background-color:#ed145b;
		.column-text-cta{
			padding-top:50px;
			padding-bottom:50px;
			h2{
				max-width:1000px;
				font-size:51px;
			}
			.cta_button{
				color:white;
				border-color:white;
			}
			.subheading{
				color:white;
				font-size:20px;
				margin-bottom:20px;
				display:block;
			}
		}
	}
		@media(max-width:768px){
			.lef,.righ,.cent{
				padding-right:10px;
				padding-left:10px
			}
			.span4{
				padding-bottom:50px;
			}
			
	}
	@media(max-width:767px){
		.second-section{
					img{
						max-width:500px;
					}
				}
		}

}