.two-columns-2{
	.two-columns-bottom{
		padding:100px 0px;
	}
	.group-section{
		.column-text-cta{
			
			margin-top:30px;

		}
	}
	.column-text-cta{
	
		p{
			font-size:18px;
			font-weight:300;
		}
		h2{
			max-width:300px;
			margin-top:30px;
		}
		 .cta_button{
		 	margin-top:40px;
		 }
		 .subheading{
		 	font-size:18px;
		 }
	}
		@media(max-width:767px){
			.row-fluid{

				  display: -webkit-box;
				    display: -moz-box;
				    display: box;

				    -webkit-box-orient: vertical;
				    -moz-box-orient: vertical;
				    box-orient: vertical;

				.span6.widget-type-custom_widget{
					  -webkit-box-ordinal-group: 2;
					    -moz-box-ordinal-group: 2;
					    box-ordinal-group: 2;
				}
				.span6.image{
					  -webkit-box-ordinal-group: 1;
					    -moz-box-ordinal-group: 1;
					    box-ordinal-group: 1;
				}
				.widget-type-linked_image{
						
					text-align:center;
					margin-bottom:20px;
				}

			}
		}
	
}