.two-columns-1{
	[class^="cr-icon-"], [class*=" cr-icon-"]{
		font-size:50px;
	}
		.column-text-cta{
			
			h2{
				max-width:1000px;
				margin-top:0px;
			}

		} 
	.second-section{
		
		padding:100px 0px;
		
		h2{
			font-size:41px;
		}
		.svg-icon{
			max-width:50px;
		}
		p, .content{
			font-size:18px;
			color:#b7b7b7;
			font-weight:300;
		}
		.feature-box{
			margin-bottom:40px;
		}
		.widget-type-linked_image{
			text-align:center;
		}
		@media(max-width:768px){
			.list-feature-box{
				
				padding-top:20px;

			}
			.feature{
				text-align:center;
				.content{
					margin:auto;
					max-width:300px;
					margin-top:20px;
				}
			}
		}


	}
	.group-section{
		padding:100px 0px;


		.group-element{
			padding-top:75px;
		}

		h2{
			font-size:41px;
			margin-bottom:50px;
		}
		p{
			color:#b7b7b7;
			font-size:18px;
			font-weight:300;
		}
		.cta_button{

			background-color:#ed145b;
			color:white;
			border-color:#ed145b;
			margin-top:50px;

		}

		@media(max-width:767px){
			.row-fluid{

				  display: -webkit-box;
				    display: -moz-box;
				    display: box;

				    -webkit-box-orient: vertical;
				    -moz-box-orient: vertical;
				    box-orient: vertical;

				.span5{
					  -webkit-box-ordinal-group: 1;
					    -moz-box-ordinal-group: 1;
					    box-ordinal-group: 1;
				}
				.span7{
					  -webkit-box-ordinal-group: 2;
					    -moz-box-ordinal-group: 2;
					    box-ordinal-group: 2;
				}
				.widget-type-linked_image{
						
					text-align:center;
					margin-bottom:20px;
				}

			}
		}
	}
	.contact-banner{
		.cta_button{

			background-color:#ed145b;
			color:white;
			border-color:#ed145b;


		}
	}
	.list-feature-box{
		padding-top:70px;
	}

}