.two-columns-4{
	.pad{
		padding:100px 0px;
	}
	.hero-banner2{
		height:300px;
		background-color:#292935;
	}
	.counter-section-wrapper{
		margin-top:0px;
		margin-bottom:0px;
	}
	.column-text-cta{
		img{
			margin-bottom:40px;
		}
		h2{
			max-width:1000px;
		}
	}
	.bottom-section{
		.widget-type-rich_text{
			
			p{
				margin-bottom:50px
			}
		}
		padding:100px 0px;

		.column-text-cta h2{
			max-width:1000px;
			font-size:51px;
		}
		.cta_button{
			text-transform:uppercase;
			margin-bottom:30px;
			font-size:16px;
			width:100%;
			text-align:left;
		}
		p{
			color:#b7b7b7;
			font-size:16px;
		}
		h5{
			text-transform:uppercase;
			text-align:center;
			font-size:16px;
			margin:20px 0px;
		}
		hr {
		    display: block;
		    height: 1px;
		    border: 0;
		    border-top: 1px solid #f2f2f2;
		    margin: 1em 0;
		    padding: 0; 
		}
		@media(min-width:768px){
			.right-background:before{
				    background-image: url(https://cdn2.hubspot.net/hubfs/685080/pexels-photo-205316.png);
				    content: "";
				    display: block;
				    width: 50%;
				    background-repeat: no-repeat;
				    height: 600px;
				    background-position: left center;
				    position: absolute;
				    right: 0px;


			}
		}
		@media(min-width:1790px){
			.right-background:before{
				background-position: right center;
			}
		}
	}
}