.landing-2{

	.hero-banner-text-image{
		.container{
			 .right{				
			  top: -20px;


			}
		}
	}

	.header-wrapper{
		margin-top: 80px;
		margin-bottom: 55px;
		h4{
			color: hubl("$first_color");
			font-weight: 400;
			font-size: 20px;
				margin-bottom: 18px;
		}
		h2{
			font-weight: 400;
		}
	}
	.icon-list-section > span{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
		justify-content: space-between;
		
		& > div{
			max-width: 240px;
			width: 100%;
			margin-bottom: 55px;
			@media (max-width: 1024px){
				max-width: 48%;
				margin: 0px auto 50px auto; 
				.icon-list{
					text-align: center;
				}
			}
			@media (max-width: 600px){
				max-width: 100%;
			}
		}
		.icon-list {

            .list-section{
                padding-left: 0px;
                h4{
                    font-size: rem(20);
                    margin-bottom: 10px;
                }
                p,ul,ol{
                    font-size: rem(18);
                    color: hubl("$secondary_text");
                }
            }  
            i{
                	font-size: 50px;
                } 
        }
	}

	.color-wrapper{
		min-height: 800px;
		background-color: hubl("$first_color");
		padding: 80px 0px 80px 0px;

	}
	.form-wrapper{
		h4{
			font-weight: 400;
			color: #fff;
			margin-bottom: 8px;
				font-size: rem(20);
		}
		h2{
			font-weight: 400;
			color: #fff;	
			margin-bottom: 30px;		
		}
		form .hs-form-field {
		    margin: 35px 0 40px 0;
		    display: inline-block;
		    width: 100%;
		}
		input[type="submit"]{
			border-width: 1px;

			
                        min-width: 210px;
                        min-height: 60px;
                        border-radius: 50px;
                        text-align: center;
                        line-height: 54px;
                        padding: 0px 50px;
                
		}
	}
	.question{
		padding: 90px 0 90px;
		.widget-type-rich_text{
			margin-bottom: 35px;
			h4{
				color: hubl("$first_color");
				font-weight: 400;
				font-size: rem(20);
				margin-bottom: 20px;
			}
			h2{
				font-weight: 400;
				line-height: rem(52);
				margin-bottom: 30px;

			}
			p{
				color: hubl("$second_font_color");
		}

		}
		
	}
	&.aniamtion-off{
		.hero-banner-text-image{
			padding: 45px 0px;
			height: auto!important;
			.container{
				display: block;
				.left{
					width: 100%;
				}
				.right{
					transform: translateY(0);
					width: 100%!important;
					position: static!important;

					img{
						margin: 40px auto 0px auto!important;
					}
				}
			}
		}
		.icon-list-section > span{
			& > div{
				@media (max-width: 767px){
					width: 100%;
					.icon-list{
						text-align: center;
					}
				}
			}

		}
		.widget-type-space{
			display: none!important;
		}
		.body-container-wrapper .span6{
			width: 100% !important;
		}
	}
}