.landing-1 {
    .hero-banner-text-image {
        margin-bottom: 205px;
        @media (max-width: 1024px){
        	margin-bottom: 80px;
        }
    }
    .header-wrapper {
        margin-top: 0px;
        margin-bottom: 55px;
        h4 {
            color: hubl("$first_color");
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 20px;
        }
        h2 {
            font-weight: 400;
            line-height: 1.1;
        }
    }
    .icon-list-section>span {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
        padding-left: 40px;
        justify-content: space-between;
         @media (max-width: 767px) {
                padding-left: 0px;
            }
        &>div {
            width: 48%;
            margin-bottom: 55px;
            @media (max-width: 486px) {
                width: 100%;
            }
        }
        .icon-list {
            padding: 0px 30px;
             @media (max-width: 767px) {
                padding: 0px;
            }
            i{
                font-size: rem(48);
            }
            .list-section{
                h4{
                    font-size: rem(20);
                    margin-bottom: 10px;
                }
                p,ul,ol{
                    font-size: rem(18);
                    font-weight: 300;
                    color: hubl("$secondary_text");
                }
            }   
        }
    }
    .form-wrapper {
        border-top: 1px solid #ebebeb;
        padding-top: 85px;
        h4 {
            color: hubl("$first_color");
            font-weight: 400;
            font-size: 20px;
            text-align: center;
        }
        h2 {
            font-weight: 400;
            text-align: center;
        }
        .widget-type-form{
            width: 100%;
            max-width: 945px;
            margin: 55px auto 90px auto;
            display: block;
            float: none;
            .hs-form-field{
                margin-bottom: 40px;
                display: block;
                @media (max-width: 767px){
                    display: inline-block;
                    width: 100%;
                }
            }
            .hs_submit{
                text-align: center;
                input[type=submit]{
                    margin-top: 60px;
                }
            }
        }
    }
}