.landing-3{
	.content{
		p{
			font-size: rem(18);
		}
	}
	.hs_cos_wrapper_type_form{
		form{
            > div{
                margin-bottom: 10px;
                    display: inline-block;
                    width: 100%;
                
            }
		}
    }
}