.landing-4 {
    .body-container-wrapper{
        margin-top: 90px;
    }
    .hero-banner-no-image {
        .container {
            transition: 0.3s all linear;
            transform: translateY(-120px);
        }
    }
    .container-video-wrapper{
		transform: translateY(-255px);
		.stl-product-video-slide {
	        margin: 0 auto;
	        width: 100%;
	        width: 95%;
	        max-width: 695px;
	        height: 460px; 
	        border: 3px solid #fff;
	        border-radius: 5px; 
            background-color: #fff;
              box-shadow: 0px 9px 21.84px 2.16px rgba(197, 198, 200, 0.29);
	        @media (max-width: 700px){
	        	min-width: 95%;
	        }
	        &__mask {
	            opacity: 1;
	            visibility: visible;
	           // background: rgba(0,0,0, 0.3); 
               background: hubl_rgba('$dark',.78);
	        }
	        &__button {
                a{
	             cursor: pointer;

                }
                img{
                  display: block;
                }  

	        }
	        &:hover {
	            .stl-product-video-slide__mask {
	                background: hubl_rgba('$dark',.88);

	            }
	        }
            a{
                cursor: pointer;
                &:before{
                    display: none;
                }
            }
	    }
	}
    .icon-list-section span{
    	margin-top: -170px;
    	display: flex;
    	margin-bottom: 80px;
    	flex-wrap: wrap;
    	& > div{
    		width: 33.33%;
    		@media (max-width: 1024px){
    			width: 50%;
    			margin-bottom: 60px;
    		}
    		@media (max-width: 767px){
    			width: 100%;
    		}
    	}
    	.icon-list {
    		display: flex;
    		margin: 0 auto;
    		max-width: 350px;
    		.icon-wrapper{
    			min-width: 70px;
    			margin-right: 20px;
                text-align: center;
                i{
                    font-size: 50px;
                }
    		}
             h4{
                    font-size: rem(20);
                    margin-bottom: 10px;
                }
                p,ul,ol{
                    font-size: rem(18);
                    color: hubl("$secondary_text");
                }
    	}
    }
    .color-section {
        background-color: hubl("$first_color");
        padding: 57px 0px;
    }
    .form-wrapper{
    	padding: 90px 0px 70px 0px;
    	h4{
			color: hubl("$first_color");
			font-weight: 400;
			font-size: 20px;
			text-align: center;
			margin-bottom: 10px;
		}
		h2{
			font-weight: 400;
			text-align: center;
			margin-bottom: 60px;
		}
		form{
			max-width: 950px;
			width: 100%;
    		margin: 0 auto;
    		.hs_submit{
    			text-align: center;
                margin-bottom: 30px;
    		}
            .hs-form-field{
                margin-bottom: 40px;
                display: block;
                @media (max-width: 767px){
                    display: inline-block;
                    width: 100%;
                }
            }
		}
    }
}



