.me-206-landing {

    .top-section {
        margin-bottom: 40px;
    }

    .me-tab-panels-wrapper {

        .container {
            max-width: 1000px;
        }
    }

    .form-section {

        form {

            .hs-submit {
                margin-top: 30px;
                text-align: center;
            }
        }
    }
}