.typ-3 {

    .content {
        text-align: center;
        padding: 175px 0px 70px 0px;
        h1 {
            font-weight: 400;
            margin-bottom: 40px;
            i {
                color: hubl("$first_color");
                font-size: rem(40);
                padding-right: 20px;
                @media (max-width: 600px) {
                    padding-right: 0px;
                    display: block;
                    margin: 0 auto 30px auto;
                    font-size: rem(60);
                }
            }
        }
        p{
            color: hubl("$secondary_text");
            font-size: rem(18);
        }
        .hs-cta-wrapper{
            a{
                margin-top: 30px;
            }
        }

    }

    .stl-product-video-slide {
        max-width: 690px;
        width: 100%;
        margin: 60px auto 0px auto;
        border-radius: 5px;
         box-shadow: 0px 9px 21.84px 2.16px rgba(197, 198, 200, 0.29);
        @media (max-width: 1200px){
            width: 100%;
            min-width: 690px;
        }
         @media (max-width: 750px){
            width: 100%;
            min-width: 100%;
        }

         &__mask {
                opacity: 1;
                visibility: visible;
               background: hubl_rgba('$dark',.78)

            }
            &__button {
                a{
                 cursor: pointer;

                }
                img{
                  display: block;
                }  

            }
            &:hover {
                .stl-product-video-slide__mask {
                   background: hubl_rgba('$dark',.88)
                }
            }
            a{
                cursor: pointer;
                &:before{
                    display: none;
                }
            }
    }

    .color-section {
        background-color: hubl("$first_color");
        color: #fff;
        padding: 70px 0px;
        text-align: center;
    }
    .square-box-wrapper>span {
        &>div {
            width: 25%;
            @media (max-width: 1250px) {
                width: 50%;
            }
            @media (max-width: 600px) {
                width: 100%;
            }
        }
    }
}








