.typ-1{
	.body-container-wrapper{
        margin-top: 85px;
    }
	.content{
		min-height: 100vh;
		text-align: center;
		padding: 90px 0px 40px 0px;
		h1{
			font-weight: 400;
			margin-bottom: 40px;
			i{
				color: hubl("$first_color");
				font-size: rem(40);
				padding-right: 20px;
				@media (max-width: 600px){
					padding-right: 0px;
					display: block;
					margin: 0 auto 30px auto;
					font-size: rem(60);
				}
			}
		}
		.widget-type-rich_text{
			p,ul,span{
				font-size: rem(18);
				color: hubl("$second_font_color");
			}
		}
		.hs-cta-wrapper{
			a{
				 margin: 35px auto 50px auto;
                    min-width: 210px;
                    border-radius: 50px;
                    text-align: center;
                    line-height: 54px;
                    padding: 0px 50px;
			}
		}
		
	}	
}