.typ-2 {
    .body-container-wrapper{
        margin-top: 55px;
    }
    .flex-wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &>div {
            width: 50%;
            padding: 0 20px;
            @media (max-width: 1024px) {
                width: 100%;
            }
        }
    }
    .content {
        min-height: calc(100vh - 95px);
        padding: 90px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left {
        text-align: center;
        padding-right: 10px;
        @media (max-width: 1024px) {
            padding-right: 0px;
        }
    }


    .right {
        text-align: left;
        padding-left: 10px;
        @media (max-width: 1024px) {
            text-align: center;
            margin-top: 30px;
            padding-left: 0px;
        }
        h1 {
            font-weight: 400;
            margin-bottom: 40px;
            i {
                color: hubl("$first_color");
                font-size: rem(40);
                padding-right: 20px;
                @media (max-width: 600px) {
                    padding-right: 0px;
                    display: block;
                    margin: 0 auto 30px auto;
                    font-size: rem(60);
                }
            }
        }
        .widget-type-rich_text {
            p,
            ul,
            span {
                font-size: rem(18);
                color: hubl("$second_font_color");
            }
        }
        .hs-cta-wrapper {
            a {
                margin: 35px auto 80px auto;
                    margin: 35px auto 80px auto;
                    min-width: 210px;
                    border-radius: 50px;
                    text-align: center;
                    line-height: 54px;
                    padding: 0px 50px;
            }
        }
    }
}