.case-study-blog {
    .job-contact-section {
        .text {
            @media (min-width: 1024px) {
                padding-top: 130px;
            }
        }
    }
    .listing-tag-filters {
        margin-top: 60px;
        h3 {
            @extend p.big;
            margin-right: 30px;
            @media (max-width: 500px) {
                display: none;
            }
        }
        .block {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                padding: 5px 10px;
                &:before {
                    content: none;
                }
                .filter-link-count {
                    display: none;
                }
                a {
                    @extend .btn-filter;
                    border-width: 1px;
                    min-height: 0;
                }
            }
            @media (max-width: 500px) {
                width: 100%;
                max-width: 360px;
                justify-content: center;
                li {
                    width: 100%;
                    a {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
    .post-listing {
        padding: 60px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    article {
        &.post-item {
            width: 31.578947368%;
            max-width: 360px;
            margin-top: 15px;
            margin-bottom: 15px;
            @media (min-width: 851px) {
                &:nth-of-type(3n+1) {
                    margin-right: 1.315789473%;
                }
                &:nth-of-type(3n+2) {
                    margin-left: 1.315789473%;
                    margin-right: 1.315789473%;
                }
                &:nth-of-type(3n+3) {
                    margin-left: 1.315789473%;
                }
            }
            @media (max-width: 850px) and (min-width: 601px) {
                width: 48%;
                &:nth-of-type(2n+1) {
                    margin-right: 2%;
                }
                &:nth-of-type(2n+2) {
                    margin-left: 2%;
                }
            }
            @media (max-width: 600px) {
                width: 100%;
            }
            .post-flipper {
                transition: .6s linear;
                position: relative;
                height: 360px;
                width: 100%;
                .front,
                .back {
                    transition: inherit;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                .front {
                    .image-wrapper {
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 100%;
                        height: 100%;
                    }
                }
                .back {
                    padding: 20px;
                    background-color: hubl("$dark");
                    position: relative;
                    .wrapper {
                        padding: 25px 0;
                        text-align: center;
                        h3,
                        p {
                            a {
                                color: #fff;
                                &:before {
                                    content: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .ajax-button-wrapper {
        display: none;
        text-align: center;
        margin-bottom: 60px;
        position: relative;
        .loading-overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            width: 100%;
            height: 100%;
            svg {
                fill: hubl("$first_color");
                margin: 0 auto;
                display: block;
                max-width: 100px;
            }
        }
        a {
            min-width: 210px;
        }
    }
    section {
        &.next-prev-case-studies {
            height: 390px;
            width: 100%;
            display: flex;
            >a {
                flex-basis: 50%;
                flex-grow: 1;
                position: relative;
                overflow: hidden;
                &:hover {
                    h3 {
                        color: hubl("$first_color");
                    }
                    .background-holder {
                        transform: scale(1.05);
                    }
                }
            }
            @media (max-width: 650px) {
                flex-wrap: wrap;
                >a {
                    flex-basis: 100%;
                }
            }
            .background-holder {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transition: .3s linear transform;
            }
            .case-single {
                height: 100%;
                position: relative;
                .mask {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background-color: hubl_rgba("$dark", .78);
                }
                h3 {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    text-align: center;
                    padding: 10px 15px;
                    font-weight: 300;
                    color: #fff;
                    transition: .3s color linear;
                }
            }
        }
    }
    &.website {
        .listing-tag-filters {
            display: flex;
            justify-content: center;
            align-items: center;
            .filter-buttons>span {
                display: flex;
                justify-content: space-between;
                >div {
                    margin: 5px 10px;
                }
            }
        }
        .post-listing>div>span {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            >div {
                width: 31.578947368%;
                max-width: 360px; 
                @media (min-width: 851px) {
                    &:nth-of-type(3n+1) {
                        margin-right: 1.315789473%;
                    }
                    &:nth-of-type(3n+2) {
                        margin-left: 1.315789473%;
                        margin-right: 1.315789473%;
                    }
                    &:nth-of-type(3n+3) {
                        margin-left: 1.315789473%;
                    }
                }
                @media (max-width: 850px) and (min-width: 601px) {
                    width: 48%;
                    &:nth-of-type(2n+1) {
                        margin-right: 2%;
                    }
                    &:nth-of-type(2n+2) {
                        margin-left: 2%;
                    }
                }
                @media (max-width: 600px) {
                    width: 100%;
                }
                .post-item {
                    width: 100%; 
                    margin-top: 7.5px;
                    margin-bottom: 7.5px;
                    &.invis {
                        display: none !important;
                    }
                }
            }
        }
    }
}

.case-study-blog-single {
    .sidebar {
        h3 {
            @extend p.big;
            font-weight: 500;
        }
        &--item {
            margin-bottom: 80px;
            h3 {
                margin-bottom: 20px;
            }
            p {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            &.company {
                margin-bottom: 40px;
                p {
                    &:last-of-type {
                        margin-bottom: 20px;
                    }
                }
            }
            &.last {
                margin-bottom: 20px;
            }
        }
    }
    .blog-section {
        .video-blog-wrapper {
            position: relative;
            margin: 40px 0;
            transition: .3s linear all;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
                background: linear-gradient(to bottom, hubl_rgba("$dark", 0) 0%, hubl_rgba("$dark", 0.78) 100%);
            }
            &:before {
                content: '';
                position: absolute;
                width: 80px;
                height: 80px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url('https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Mercuric/Blog%20-%20Case%20Study/play-button.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 4;
                opacity: .8;
                transition: inherit;
            }
            &:hover {
                cursor: pointer;
                &:before {
                    opacity: 1;
                }
            }
            &.no-bg {
                &:after,
                &:before {
                    opacity: 0; // z-index: -3;
                }
                &.mouseover {
                    &:after,
                    &:before {
                        z-index: -3;
                    }
                }
            }
        }
        video {
            display: block;
            position: relative;
            width: 100%;
        }
    }
    .case-study-single-wrapper {
        >div>div {
            display: flex;
            @media (min-width: 768px) {
                justify-content: space-between;
            }
            @media (max-width: 767px) {
                flex-wrap: wrap;
                .sidebar,
                .main {
                    width: 100%;
                }
            }
            .sidebar,
            .main {
                padding: 80px 0;
                @media (max-width: 767px) {
                    padding: 40px 0;
                }
                p,
                li {
                    color: hubl("$second_font_color");
                }
                ul {
                    padding-top: 15px;
                }
                li {
                    margin-bottom: 15px;
                }
            }
            .sidebar {
                @media (min-width: 768px) {
                    flex: 1 0 230px;
                    margin: 0 0 0 30px;
                    max-width: 330px;
                }
                @media (min-width: 992px) {
                    flex: 1 0 330px;
                }
                .company-facts {
                    padding: 0;
                    margin: 10px 0 40px;
                    .text-wrapper {
                        padding-left: 20px;
                    }
                    p {
                        margin: 0;
                        color: hubl("$main_font_color");
                    }
                }
            }
            .main {
                @media (min-width: 768px) {
                    width: auto;
                    margin-right: 0;
                    padding-right: 35px; // border-right: 1px solid rgba(hubl("$second_font_color"), .3);
                }
                @media (max-width: 767px) {
                    border-bottom: 1px solid hubl_rgba("$second_font_color", .3);
                }
                .post-header {
                    h2 {
                        color: hubl("$$main_font_color");
                        @extend p.big;
                        margin-bottom: 20px;
                        span {
                            color: inherit;
                        }
                    }
                }
                .post-body {
                    margin-bottom: 70px;
                    p {
                        &:last-of-type {
                            margin-bottom: 0px;
                        }
                    }
                }
                h5 {
                    @extend p.big;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
            }
        }
        .socials-wrapper {
            display: flex;
            .social-block {
                width: 20%;
                text-align: center;
                padding: 10px; // .no-base {
                //     // width: 40px;
                //     // height: 40px;
                //     // margin: 0 auto;
                //     // border-radius: 50%;
                //     // background-color: rgba(#165077, .2);
                //     // &:hover {
                //     //     &:before {
                //     //         content: none;
                //     //     }
                //     // }
                //     // i {
                //     //     color: #fff;
                //     //     width: inherit;
                //     //     height: inherit;
                //     //     line-height: 40px;
                //     // }
                // }
            }
            .fb {
                background-color: #4362a4;
            }
            .gplus {
                background-color: #df5440;
            }
            .twitter {
                background-color: #03b3f2;
            }
            .linkedin {
                background-color: #037eb2;
            }
            .pinterest {
                background-color: #d31f22;
            }
            .xing {
                background-color: #007465;
            }
            .instagram {
                background-color: #f4950d;
            }
            text-align: center;
            .social-block {
                position: relative;
                transition: .3s linear opacity;
                >.no-base {
                    width: 100%;
                    height: 100%;
                    line-height: inherit;
                    display: block;
                    i {
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        display: block;
                        color: rgba(255, 255, 255, 0);
                        transition: text-shadow .3s ease;
                        z-index: 1;
                        line-height: 40px;
                        font-size: rem(20);
                        text-shadow: 0px 0px #fff, 130px 0px #fff;
                    }
                    &:hover {
                        cursor: pointer;
                        i {
                            text-shadow: -130px 0px #fff, 0px 0px #fff;
                        }
                    }
                }
                &.wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    border: 0px;
                    .social-small {
                        flex-grow: 1;
                        width: 50%;
                        position: relative;
                        border: 1px solid #fff;
                        transition: .3s linear opacity;
                        >.no-base {
                            width: 100%;
                            height: inherit;
                            line-height: inherit;
                            display: block;
                            i {
                                position: relative;
                                overflow: hidden;
                                width: inherit;
                                height: inherit;
                                display: block;
                                color: rgba(255, 255, 255, 0);
                                transition: text-shadow .3s ease;
                                z-index: 1;
                            }
                        }
                    }
                }
                &.big {
                    height: 130px;
                    i {
                        line-height: 130px;
                        font-size: 60px;
                        text-shadow: 0px 0px #fff, 130px 0px #fff;
                    }
                    &:hover {
                        i {
                            text-shadow: -130px 0px #fff, 0px 0px #fff;
                        }
                    }
                }
                &.medium {
                    height: 65px;
                    i {
                        line-height: 65px;
                        font-size: 30px;
                        text-shadow: 0px 0px #fff, 130px 0px #fff;
                    }
                    &:hover {
                        i {
                            text-shadow: -130px 0px #fff, 0px 0px #fff;
                        }
                    }
                }
                .social-small {
                    height: 65px;
                    i {
                        line-height: 65px;
                        font-size: 25px;
                        text-shadow: 0px 0px #fff, 65px 0px #fff;
                    }
                    &:hover {
                        i {
                            text-shadow: -65px 0px #fff, 0px 0px #fff;
                        }
                    }
                }
                &.big,
                &.medium,
                .social-small {
                    &:hover {
                        cursor: pointer; // opacity: .75;
                    }
                }
            }
            .fb {
                background-color: #4362a4;
            }
            .gplus {
                background-color: #df5440;
            }
            .twitter {
                background-color: #03b3f2;
            }
            .linkedin {
                background-color: #037eb2;
            }
            .pinterest {
                background-color: #d31f22;
            }
            .xing {
                background-color: #007465;
            }
            .instagram {
                background-color: #f4950d;
            }
        }
    }
}

body.case-study-blog {
    &:not(.ms-browser) {
        article {
            &.post-item {
                .post-flipper {
                    perspective: 1800px;
                    .front,
                    .back {
                        backface-visibility: hidden;
                    }
                    .front {
                        transform: rotateY(0deg);
                        z-index: 2;
                    }
                    .back {
                        transform: rotateY(-180deg);
                        background-color: hubl("$dark");
                        perspective: 100px;
                        perspective-origin: 60% 10%;
                        transform-style: preserve-3d;
                        .wrapper {
                            transform-style: flat;
                            p,
                            h3 {
                                margin-left: 10px;
                                transform: scale(0.75, 0.75) translateZ(20px);
                                transform-origin: 50% 50%;
                            }
                        }
                    }
                    &:hover {
                        z-index: 9;
                        .front {
                            transform: rotateY(180deg);
                        }
                        .back {
                            transform: rotateY(0deg);
                        }
                    }
                }
            }
        }
    }
    &.ms-browser {
        article {
            &.post-item {
                .post-flipper {
                    .front,
                    .back {
                        transition: .3s linear opacity;
                    }
                    .front {
                        opacity: 1;
                        z-index: 4;
                    }
                    .back {
                        opacity: 0;
                        z-index: 3;
                        h3 {
                            margin-bottom: 25px;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        .front {
                            opacity: 0;
                            z-index: 3;
                        }
                        .back {
                            opacity: 1;
                            z-index: 4;
                        }
                    }
                }
            }
        }
    }
}