.blog {
    a.no-base {
        text-decoration: none;
        color: rgba(255, 255, 255, 0);
    }
    .sidebar {
        li {
            &:before {
                display: none;
            }
        }
        .input-wrapper {
            position: relative;
             ::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: hubl("$secondary_text");
            }
             ::-moz-placeholder {
                /* Firefox 19+ */
                color: hubl("$secondary_text");
            }
             :-ms-input-placeholder {
                /* IE 10+ */
                color: hubl("$secondary_text");
            }
             :-moz-placeholder {
                /* Firefox 18- */
                color: hubl("$secondary_text");
            }
            input {
                border: 0;
                outline: 0;
                border-radius: 0;
                font-size: rem(16);
                color: hubl("$dark");
                padding: 13px 0;
                border-bottom: 1px solid hubl("$lightGrey");
                transition: .2s border-bottom linear;
                &:focus {
                    border-bottom: 1px solid hubl("$first_color");
                    +#search-btn {
                        svg {
                            .st0 {
                                stroke: hubl("$first_color");
                            }
                        }
                    }
                }
            }
            #search-btn {
                position: absolute; // background-image: url(https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Mercuric/Blog-301/search-btn-img.png);
                // background-repeat: no-repeat;
                // background-position: center;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 15px;
                svg {
                    margin-top: 15px;
                    width: 17px;
                    height: 17px;
                    .st0 {
                        transition: .2s linear stroke;
                        stroke: #000000;
                        stroke-miterlimit: 10;
                    }
                }
                &:hover {
                    cursor: pointer;
                    svg {
                        .st0 {
                            stroke: hubl("$first_color");
                        }
                    }
                }
            }
        }
        h3 {
            font-weight: 400;
            margin-bottom: 25px;
            font-size: rem(25); // @media (max-width: 790px) and (min-width: 768px) {
            //     font-size: rem(30);
            // }
        }
        .sidebar-item {
            margin-bottom: 55px;
            &.archives {
                .filter-link-count {
                    display: none;
                }
            }
            &.categories,
            &.archives {
                ul {
                    li {
                        margin-bottom: 10px;
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                        a {
                            font-size: rem(16);
                        }
                    }
                }
            }
            &.follow-us {
                .socials-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    text-align: center;
                    max-width: 270px;
                    .social-block {
                        flex-grow: 1;
                        flex-basis: 100px;
                        min-height: 60px;
                        position: relative;
                        border: 1px solid #fff;
                        transition: .3s linear opacity;
                        >.no-base {
                            width: inherit;
                            height: inherit;
                            line-height: inherit;
                            display: block;
                            i {
                                position: relative;
                                overflow: hidden;
                                font-size: 60px;
                                width: inherit;
                                height: inherit;
                                line-height: inherit;
                                display: block;
                                color: rgba(255, 255, 255, 0);
                                transition: text-shadow .3s ease;
                                z-index: 1;
                            }
                        }
                        &.wrapper {
                            display: flex;
                            flex-wrap: wrap;
                            border: 0px;
                            .social-small {
                                flex-grow: 1; // min-height: 60px;
                                // flex-basis: 50%;
                                width: 50%;
                                position: relative;
                                border: 1px solid #fff;
                                transition: .3s linear opacity;
                                >.no-base {
                                    width: 100%;
                                    height: inherit;
                                    line-height: inherit;
                                    display: block;
                                    i {
                                        position: relative;
                                        overflow: hidden;
                                        width: inherit;
                                        height: inherit;
                                        display: block;
                                        color: rgba(255, 255, 255, 0);
                                        transition: text-shadow .3s ease;
                                        z-index: 1;
                                    }
                                }
                            }
                        }
                        &.big {
                            height: 130px;
                            i {
                                line-height: 130px;
                                font-size: 60px;
                                text-shadow: 0px 0px #fff, 130px 0px #fff;
                            }
                            &:hover {
                                i {
                                    text-shadow: -130px 0px #fff, 0px 0px #fff;
                                }
                            }
                        }
                        &.medium {
                            height: 65px;
                            i {
                                line-height: 65px;
                                font-size: 30px;
                                text-shadow: 0px 0px #fff, 130px 0px #fff;
                            }
                            &:hover {
                                i {
                                    text-shadow: -130px 0px #fff, 0px 0px #fff;
                                }
                            }
                        }
                        .social-small {
                            height: 65px;
                            i {
                                line-height: 65px;
                                font-size: 25px;
                                text-shadow: 0px 0px #fff, 65px 0px #fff;
                            }
                            &:hover {
                                i {
                                    text-shadow: -65px 0px #fff, 0px 0px #fff;
                                }
                            }
                        }
                        &.big,
                        &.medium,
                        .social-small {
                            &:hover {
                                cursor: pointer; // opacity: .75;
                            }
                        }
                    }
                    .fb {
                        background-color: #4362a4;
                    }
                    .gplus {
                        background-color: #df5440;
                    }
                    .twitter {
                        background-color: #03b3f2;
                    }
                    .linkedin {
                        background-color: #037eb2;
                    }
                    .pinterest {
                        background-color: #d31f22;
                    }
                    .xing {
                        background-color: #007465;
                    }
                    .instagram {
                        background-color: #f4950d;
                    }
                }
                i {
                    color: #fff;
                    line-height: 1;
                }
            }
        }
        a {
            &:not(.no-base) {
                font-size: rem(18);
                color: hubl("$secondary_text");
                font-weight: 300;
                &:hover {
                    color: hubl("$first_color");
                    &:before {
                        display: none;
                    }
                }
            }
        }
        li {
            margin-bottom: 15px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        .latest-posts {
            list-style-type: none;
            li {
                margin-bottom: 25px;
                &:last-of-type {
                    margin-bottom: 0;
                }
                a {
                    font-weight: 400;
                    color: hubl("$main_font_color");
                    &:hover {
                        color: hubl("$first_color");
                    }
                }
                .date {
                    color: hubl("$secondary_text");
                    font-size: rem(16);
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    .post-list,
    .sidebar {
        padding-top: 65px;
    }
    .post-list {
        @media (min-width: 768px) {
            // padding-right: 15px;
            // border-right: 1px solid hubl("$lightGrey");
        }
    }
    .post-listing,
    .blog-listing-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        li {
            &:before {
                display: none;
            }
        }
        >a {
            text-decoration: none;
            margin: 15px;
            width: 47%;
            margin-left: 1.5%;
            margin-right: 1.5%;
            margin-top: 15px;
            margin-bottom: 15px;
            @media (max-width: 767px) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            &:hover {
                &:before {
                    border-bottom: 0;
                }
            }
        }
        .post-item {
            width: 100%;
            height: 100%;
            max-width: 390px; // margin: 15px;
            margin: 0 auto;
            border-radius: 4px;
            overflow: hidden;
            border: 1px solid hubl("$lightGrey");
            transition: box-shadow linear .2s;
            min-height: 440px;
            &:hover {
                box-shadow: 0px 7px 19.44px 4.56px rgba(0, 0, 0, 0.05);
            }
            .image-wrapper {
                height: 240px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .post-date {
                font-size: rem(16);
                margin: 0;
                color: hubl("$secondary_text");
                position: relative;
                padding-left: 25px;
                line-height: 1;
                &:before {
                    font-family: 'ClickrayIcons';
                    content: "\e904";
                    // background-image: url(https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Mercuric/Blog-301/clock.png);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 15px;
                    height: 15px;
                } // &--fixed {
                //     position: absolute;
                //     right: 25px;
                //     top: 20px;
                //     font-size: 118px;
                //     font-weight: 500;
                //     line-height: 1;
                //     z-index: 1;
                //     color: rgba(hubl("$secondary_text"), .15);
                // }
            }
            .content-wrapper {
                position: relative;
                padding: 20px 25px;
                h2,
                p.post-body,
                .topics-wrapper,
                .post-date {
                    position: relative;
                    z-index: 2;
                }
                h2 {
                    font-size: rem(20);
                    color: hubl("$main_font_color");
                    margin-bottom: 5px;
                }
                p {
                    &.post-body {
                        color: hubl("$secondary_text");
                        margin-bottom: 15px;
                    }
                }
                .topics-wrapper {
                    li {
                        text-transform: uppercase;
                        font-weight: 400;
                        margin-bottom: 15px;
                        a {
                            text-transform: uppercase;
                            font-weight: 400;
                        }
                    }
                }
            }
            &.quote {
                padding: 20px 25px;
                background-color: hubl("$first_color");
                color: #fff;
                position: relative;
                display: flex;
                align-content: center;
                justify-content: center;
                flex-direction: column;
                p {
                    margin: 0;
                    position: absolute;
                    color: #fff;
                    &.quote-author {
                        top: 20px;
                        right: 25px;
                        font-style: italic;
                    }
                    &.post-date {
                        bottom: 20px;
                        left: 25px;
                        &:before {
                            // 
                            color: #fff;
                        }
                    }
                }
                h2 {
                    @extend h3;
                    text-align: center;
                    font-style: italic;
                    padding: 20px 0;
                }
                &:before {
                    content: '';
                    position: absolute;
                    background-image: url(https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Mercuric/Blog-301/quote-mark.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    nav.blog {
        width: 100%;
    }
    .pagination {
        display: flex;
        justify-content: flex-end;
        padding: 25px 25px 40px 0;
        li {
            width: 42px;
            height: 42px;
            line-height: 42px;
            margin-left: 15px;
            border-radius: 4px;
            border: 1px solid hubl("$lightGrey");
            text-align: center;
            transition: .3s linear all;
            padding: 0;
            &.disabled {
                display: none;
            }
            a {
                transition: inherit;
                color: hubl("$main_font_color");
                line-height: inherit;
                text-align: center;
                width: inherit;
                height: inherit; // padding: 13px 0;
                &:hover {
                    &:before {
                        border-bottom: 0;
                    }
                }
            }
            &:before {
                display: none;
            }
            &:hover,
            &.active {
                cursor: pointer;
                background-color: hubl("$first_color");
                color: #fff;
                a {
                    color: #fff;
                }
            }
        }
    }
    .blog-section {
        &.single {
            .hubspot-topics {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                color: hubl("$first_color");
                margin-bottom: 20px;
                li {
                    padding: 0;
                    &:before {
                        display: none;
                    }
                    margin: 0 3px;
                    a {
                        text-transform: uppercase;
                        font-weight: 400;
                        &:hover {
                            &:before {
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
            @media (min-width: 768px) {
                margin-right: 20px;
            }
            img {
                margin: 10px auto;
                height: auto;
                display: block;
            }
            h3 {
                font-size: rem(25);
                text-align: center;
                margin-bottom: 20px;
            }
            .publish-date {
                text-align: center;
                color: hubl("$secondary_text");
                margin-bottom: 40px;
            }
            .featured-image-wrapper {
                margin-bottom: 40px; // img {
                //     width: 100%;
                //     margin-left:0;
                //     margin-right: 0;
                // }
            }
            .post-upper,
            .post-bottom {
                border: 1px solid hubl("$lightGrey");
                border-radius: 5px;
            }
            .post-upper {
                margin-bottom: 30px;
                padding: 60px 40px 30px;
            }
            .post-bottom {
                padding: 30px 40px;
                display: flex;
                margin-bottom: 30px;
                @media (max-width: 600px) {
                    flex-direction: column;
                }
                .hs-author-avatar {
                    border-radius: 50%;
                    overflow: hidden;
                    width: 140px;
                    height: 140px;
                    img {
                        margin: 0;
                        width: 100%;
                    }
                    @media (max-width: 600px) {
                        margin: 0 auto 20px;
                    }
                }
                .author-info {
                    flex-grow: 3;
                    flex-basis: 250px;
                    margin-left: 30px;
                    @media (max-width: 600px) {
                        margin-left: 0;
                        flex-basis: auto;
                    }
                    h5 {
                        margin-bottom: 15px;
                        font-weight: 600;
                    }
                    p {
                        color: hubl("$secondary_text");
                        font-weight: 300;
                    }
                }
            }
            .post-body {
                color: hubl("$secondary_text");
                font-weight: 300;
                p {
                    color: inherit;
                    font-weight: inherit;
                    line-height: 1.7;
                }
            }
        }
    }
    .widget-type-blog_comments {
        .post-footer {
            @media (min-width: 768px) {
                margin-right: 20px;
            }
        }
        #comments-listing {
            margin-bottom: 35px;
            border: 1px solid hubl("$lightGrey");
            border-radius: 5px;
            display: block;
        }
        #comment-form {
            // border: 1px dotted hubl("$lightGrey");
            border-radius: 5px;
            margin-bottom: 40px;
            p {
                &.big {
                    font-weight: 600;
                }
            }
        }
        #comments-listing,
        #comment-form {
            padding: 30px 40px;
        }
        #comments-listing.no-comments {
            display: none;
        }
        .comment-from,
        .comment-date {
            display: block;
        }
        .comment {
            position: relative;
            margin-bottom: 30px;
            &.depth-1 {
                padding-left: 50px;
            }
        }
        .comment-from {
            h4 {
                position: relative;
                padding-left: 1.2rem;
                font-size: rem(20);
                font-weight: normal;
                margin-bottom: 7px;
                &:before {
                    position: absolute;
                    left: 0;
                    top: 2px;
                    content: "•";
                    display: inline-block;
                    width: .5rem;
                    height: .5rem;
                    font-size: .7em; // line-height: rem(36);
                    // vertical-align: middle;
                    color: hubl("$first_color");
                }
            }
        }
        .comment-date {
            font-size: rem(14);
            color: hubl("$secondary_text");
            margin-bottom: 15px;
        }
        .comment-body {
            font-size: rem(18);
            color: hubl("$secondary_text");
            font-weight: 300;
            p {
                font-weight: inherit;
                color: inherit;
                font-size: inherit;
            }
        }
        .comment-reply-to {
            position: absolute;
            top: 30px;
            right: 0;
            color: hubl("$first_color");
            font-size: rem(14);
            &:hover {
                cursor: pointer;
            }
        }
        .comment.depth-0 {
            border-top: 0;
        }
    }
    .fixed-socials-wrapper {
        position: relative;
        z-index: 3;
        .fixed-socials {
            position: absolute;
            left: 0;
            top: 270px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            overflow: hidden;
            text-align: center;
            display: none;
            @media (min-width: 1024px) {
                display: block;
            }
            .social-block {
                width: 50px;
                height: 50px;
                line-height: 50px;
                overflow: hidden;
                .no-base {
                    height: inherit;
                    width: inherit;
                    line-height: inherit;
                    display: block;
                    &:hover {
                        cursor: pointer;
                        &:before {
                            border-bottom: 0;
                        }
                    }
                    i {
                        width: inherit;
                        height: inherit;
                        line-height: inherit;
                        font-size: 20px;
                        color: #fff;
                        text-shadow: 0px 0px #fff, 65px 0px #fff;
                        transition: text-shadow .3s ease;
                        color: transparent;
                    }
                    &:hover {
                        i {
                            text-shadow: -65px 0px #fff, 0px 0px #fff;
                        }
                    }
                }
                &.fb {
                    background-color: #4362a4;
                }
                &.gplus {
                    background-color: #df5440;
                }
                &.twitter {
                    background-color: #03b3f2;
                }
                &.linkedin {
                    background-color: #037eb2;
                }
                &.pinterest {
                    background-color: #d31f22;
                }
                &.xing {
                    background-color: #007465;
                }
                &.instagram {
                    background-color: #f4950d;
                }
            }
            &.fixed {
                position: fixed;
                top: 150px;
            }
        }
    }
    @media all and (max-width: 500px) {
        /* beat recaptcha into being responsive, !importants and specificity are necessary */
        #recaptcha_area {
            width: 250px !important;
        }
        #recaptcha_area table#recaptcha_table {
            width: 250px !important;
        }
        #recaptcha_area table#recaptcha_table .recaptcha_r1_c1 {
            width: 250px !important;
        }
        #recaptcha_area table#recaptcha_table .recaptcha_r4_c4 {
            width: 67px !important;
        }
        #recaptcha_area table#recaptcha_table #recaptcha_image {
            width: 230px !important;
        }
    }
}