.blog {
    &.blog-302-me {
        nav {
            .pagination {
                padding-top: 0;
                padding-right: 0;
                justify-content: center;
                li {
                    margin: 0 7px;
                }
            }
        }
        .post-list {
            padding-top: 40px;
            border-right: 0;
            padding-right: 0;
            .post-listing {
                padding-bottom: 30px;
            }
            .post-listing,
            .blog-listing-wrapper {
                width: 100%;
                @media (min-width: 801px) {
                    >a {
                        max-width: 100%;
                        width: 32%;
                        margin: 1%;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        &:first-of-type,
                        &:nth-child(4),
                        &:nth-child(3n+6) {
                            margin-left: 0;
                        }
                        &:nth-child(3),
                        &:nth-child(3n+8) {
                            margin-right: 0;
                        }
                        &:last-of-type {
                            margin-right: 0;
                        }
                        &:nth-of-type(5) {
                            width: 66%;
                            margin-right: 0;
                            .post-item {
                                max-width: 100%;
                            }
                        }
                    }
                }
                @media (min-width: 601px) and (max-width: 800px) {
                    >a {
                        width: 49%;
                        &:nth-child(2n+1) {
                            margin-left: 0;
                            margin-right: 1%;
                        }
                        &:nth-child(2n+2) {
                            margin-right: 0;
                            margin-left: 1%;
                        }
                        &:nth-child(5) {
                            margin-left: 0;
                            margin-right: 0;
                            width: 100%;
                            .post-item {
                                max-width: 100%;
                            }
                        }
                    }
                }
                @media (max-width: 600px) {
                    >a {
                        width: 100%;
                        margin: 10px 0;
                    }
                }
            }
        }
        .top-group {
            margin-top: 45px;
            >div>div {
                display: flex;
                justify-content: space-between;
                @media (max-width: 600px) {
                    flex-wrap: wrap;
                    .search--wrapper {
                        margin-top: 15px;
                        max-width: 100%;
                        width: 100%;
                    }
                }
                &:before,
                &:after {
                    content: none;
                }
            }
            .categories--wrapper {
                .block {
                    display: flex;
                    align-items: center;
                    padding: 3px 0;
                    h3 {
                        font-size: rem(20);
                        margin-right: 15px;
                        padding-top: 5px;
                    }
                }
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        margin-right: 20px;
                        margin-top: 5px;
                        &:before {
                            content: none;
                        }
                        a {
                            @extend .btn-filter;
                            padding: 3px 20px;
                            border-width: 1px;
                            min-height: 0px;
                        }
                        .filter-link-count {
                            display: none;
                        }
                    }
                }
            }
            .search--wrapper {
                text-align: right;
                max-width: 320px;
                .input-wrapper {
                     ::-webkit-input-placeholder {
                        /* Chrome/Opera/Safari */
                        color: hubl("$secondary_text");
                    }
                     ::-moz-placeholder {
                        /* Firefox 19+ */
                        color: hubl("$secondary_text");
                    }
                     :-ms-input-placeholder {
                        /* IE 10+ */
                        color: hubl("$secondary_text");
                    }
                     :-moz-placeholder {
                        /* Firefox 18- */
                        color: hubl("$secondary_text");
                    }
                    position: relative;
                    input {
                        border: 0;
                        outline: 0;
                        border-radius: 0;
                        font-size: rem(16);
                        color: hubl("$dark");
                        padding: 13px 0;
                        border-bottom: 1px solid hubl("$lightGrey");
                        transition: .2s border-bottom linear;
                        &:focus {
                            border-bottom: 1px solid hubl("$first_color");
                            +#search-btn {
                                svg {
                                    .st0 {
                                        stroke: hubl("$first_color");
                                    }
                                }
                            }
                        }
                    }
                    #search-btn {
                        position: absolute; // background-image: url(https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Mercuric/Blog-301/search-btn-img.png);
                        // background-repeat: no-repeat;
                        // background-position: center;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        height: 100%;
                        width: 15px;
                        svg {
                            margin-top: 15px;
                            width: 17px;
                            height: 17px;
                            .st0 {
                                transition: .2s linear stroke;
                                stroke: #000000;
                                stroke-miterlimit: 10;
                            }
                        }
                        &:hover {
                            cursor: pointer;
                            svg {
                                .st0 {
                                    stroke: hubl("$first_color");
                                }
                            }
                        }
                    }
                }
            }
        }
        .blog-section {
            &.single {
                margin: 0 auto;
                max-width: 940px;
                h1 {
                    text-align: center;
                    margin-bottom: 20px;
                }
                .publish-date {
                    margin-bottom: 20px;
                }
                .hubspot-topics {
                    margin-bottom: 40px;
                }
                .post-body {
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        color: hubl("$main_font_color");
                        margin-bottom: 20px;
                        text-align: left;
                    }
                    img {
                        margin: 30px 0;
                    }
                }
                .post-upper {
                    padding: 60px 0 40px;
                    @media (max-width: 767px) {
                        padding: 40px 0 20px;
                    }
                }
                .post-upper,
                .post-bottom {
                    border: 0px;
                    border-bottom: 1px solid hubl("$lightGrey");
                    margin-bottom: 0;
                    border-radius: 0px;
                }
                .post-bottom {
                    padding: 50px;
                    @media (max-width: 767px) {
                        padding: 30px 20px;
                    }
                    .hs-author-avatar {
                        box-shadow: 0px 1px 16.38px 1.62px rgba(0, 0, 0, 0.14);
                    }
                    .author-info {
                        margin-left: 60px;
                        @media (max-width: 600px) {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .widget-type-blog_comments {
            #comments-listing,
            #comment-form {
                border: 0px;
                padding: 0 50px;
                @media (max-width: 767px) {
                    padding: 0 10px;
                }
            }
            .comment-reply-to {
                background: none;
            }
        }
        .section.post-footer {
            margin: 0 auto;
            max-width: 940px;
            padding: 20px 0 60px;
            @media (max-width: 767px) {
                padding: 20px 0 40px;
            }
        }
    }
}

// .filters-wrapper {
//     &.filters-wrapper-custom {
//         .filter-single {
//             margin-bottom: 30px;
//             padding: 0 10px;
//             h4 {
//                 font-weight: 400;
//             }
//             .list-wrapper {
//                 position: relative;
//                 ul {
//                     position: absolute;
//                     top: 46px;
//                     width: 100%;
//                     background-color: #fff;
//                     z-index: 7;
//                     &.filter-2 {
//                         z-index: 6;
//                     }
//                     &.filter-3 {
//                         z-index: 5;
//                     }
//                     &.filter-4 {
//                         z-index: 4;
//                     }
//                 }
//             }
//             a {
//                 padding: 10px 20px;
//                 border-bottom: 1px solid #f7f7f7;
//                 display: block;
//                 position: relative;
//                 text-decoration: none;
//                 color: inherit;
//                 &:before {
//                     position: absolute;
//                     content: '';
//                     background-image: url(https://cdn2.hubspot.net/hubfs/3455205/Icons/arrow-down.png);                        
//                     background-position: center;
//                     background-repeat: no-repeat;
//                     background-size: contain;
//                     width: 20px;
//                     height: 15px;
//                     right: 10px;
//                     top: calc(50% + 4px); 
//                     transform: translateY(-50%);
//                 }
//             }
//             ul {
//                 list-style-type: none;
//                 display: none;
//                 li {
//                     padding: 10px 20px;
//                     transition: .3s all linear;
//                     &.active,
//                     &:hover {
//                         background-color: hubl("$first_color");
//                         color: #fff;
//                     }
//                     &:hover {
//                         cursor: pointer;
//                     }
//                 }
//             }
//         }
//         @media (max-width: 767px) {
//             display: flex;
//             flex-wrap: wrap;
//             .filter-single {
//                 width: 50%;
//                 padding: 5px;
//                 margin-bottom: 20px;
//                 h4 {
//                     margin-bottom: 10px;
//                 }
//             }
//         }
//         @media (max-width: 449px) {
//             .filter-single {
//                 width: 100%;
//             }
//         }
//     }
// }
// .custom-header-categories {
//     h3 {
//         margin-left: 20px;
//     }
// }