.blog.blog-3 {

    // HERO BANNER
    .hero-banner{
        .content{
            max-width: 1085px;
            span{
                font-size: rem(20);
            }
            h1.single{
                margin: 35px 0px 45px 0px;
            }
            .tag-wrapper{
                a{
                    color: #fff;
                    text-transform: uppercase;
                    &:before{
                        display: none;
                    }
                }
            }
            .bottom{
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 50px;
                @media(max-width: 650px){
                   display: block;
                }
                .author{
                    display: flex;
                    align-items:center;
                    @media(max-width: 650px){
                       justify-content:center;
                    }
                    .avatar{
                        width: 44px;
                        height: 44px;
                        border-radius: 50%;
                        background-size: cover;
                        background-position: center center;
                        border: 2px solid #fff;
                    }
                    span{
                        margin-left: 10px;
                        font-size: rem(18);
                    }
                }
                .social{
                    min-width: 112px;
                    max-width: 112px;
                    height: 37px;
                    border-radius: 18.5px;
                    border: 1px solid #fff;
                    position: relative;
                    cursor: pointer;
                    display: inline-block;
                    background-color: hubl("$first_color");
                    background-color: #fff;
                    @media(max-width: 650px){
                        display: none;
                    }
                    .btn{
                            line-height: 34px;
                            pointer-events: none;
                            color: hubl("$first_color");
                            user-select: none;
                            font-size: rem(16);
                            display: inline;
                            &:before{
                                    content: "\e926";
                                    font-family: 'ClickrayIcons';
                                    font-weight: bold;
                            }
                            svg{
                                height: 13px;
                                width: 16px;
                                padding-right: 3px;
                                display: none;
                                path{
                                    fill: hubl("$first_color");
                                }
                            }
                        }
                    .item{
                        height: 37px;
                        min-width: 37px;
                        border-radius: 50%;
                        position: absolute;
                        background-color: #fff;
                        box-shadow: 0 2px 5px rgba(#000, .2);
                        transition: .3s;
                        animation: .3s down forwards;
                        opacity: 0;
                        z-index: -2;
                        will-change: animation;
                        top: 0px;
                       
                        a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            i{
                                color: #fff;
                                line-height: 39px;
                                font-size: rem(18);
                            }
                            &:before{
                                display: none;
                            }
                        }
                        &.fb {
                            background: #46629E;
                            left: -140px;
                        }
                        &.google {
                            background: #DB4437;
                            left: -98px;
                        }
                        &.twitter {
                            background: #1DA1F2;
                            left: -53px;
                        }
                        &.linkedin{
                            background: #0077b5;
                            left: -8px;
                        }
                        &.active {
                            z-index: 1;
                            animation: 0.5s up forwards;
                            &:nth-child(1) {
                              animation-delay: 0.4s ;
                            }
                            &:nth-child(2) {
                              animation-delay: 0.3s;
                            }
                            &:nth-child(3) {
                              animation-delay: 0.2s;
                            }
                            &:nth-child(4) {
                              animation-delay: 0.1s;
                            }
                        }
                        &.no {
                            animation: none;
                        }
                    }
                }
            }
        }
    }
    // LOAD MORE BTN
    .load-more-wrapper {
        text-align: center;
        margin-bottom: 45px;
        .load-more {
            font-size: rem(20);
            font-weight: 600;
            min-height: 60px;
            display: inline-block;
            padding: 14.5px 66px 14.5px 66px;
            border-radius: 50px;
            background-color: hubl("$first_color");
            color: #fff;
            cursor: pointer;
            margin-bottom: 0px;
            margin-top: 15px;
            position: relative;
            transition: 0.3s all;
            &.loading:after {
                content: '';
                display: block;
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: transparent;
                top: 17px;
                left: 25px;
                border-right: 2px solid rgba(255, 255, 255, 0.2);
                border-left: 2px solid rgba(255, 255, 255, 1);
                border-top: 2px solid rgba(255, 255, 255, 0.2);
                border-bottom: 2px solid rgba(255, 255, 255, 1);
                animation: loader .7s ease infinite;
            }
            &:hover {

                opacity: 0.8;
            }
        }
    } //NO RESULTS
    .no-post {
        text-align: center;
        margin-top: 60px;
        font-size: rem(32);
    } // SEARCH
    .search-blog {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        
        @media(max-width: 900px) {
            display: block;
            flex-wrap: wrap;
        }
        ::-webkit-scrollbar {
            width: 3px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        }

        ::-webkit-scrollbar-thumb {
            background-color: hubl("$first_color");
        }
        .dropdown-header {
            border: 1px solid #ebebeb;//hubl("$second_font_color");
            border-radius: 25px;
            min-width: 247px;
            &:after {
                top: 5px;
            }
        }
        .dropdown-list {
            min-width: 247px;
            width: auto;
            border: 1px solid #ebebeb;//hubl("$second_font_color");
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            background-color: #fff;
            overflow: auto;
            max-height: 216px;
            margin-top: 5px;
            @media(max-width: 900px) {
                min-width: calc(48% - 15px);
            }
            @media(max-width: 550px) {
                min-width: calc(100% - 30px);
            }
            li {
                background-color: transparent;
                &:hover {
                    background-color: #f9f9f9;
                }
            }
        }
        .wrap {
            @media(max-width: 900px) {
                min-width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            @media(max-width: 550px) {
                min-width: 100%;
                display: block;
            }
        } // TAG SELECT
        .tags-wrapper {
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 20px;
            @media(max-width: 900px) {
                min-width: 48%;
                margin-right: 0px;
            }
            @media(max-width: 550px) {
                min-width: 100%;
                display: block;
            }
        } // ATHORS SELECT
        .authors-wrapper {
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 20px;
            @media(max-width: 900px) {
                min-width: 48%;
                margin-right: 0px;
            }
             @media(max-width: 550px) {
                min-width: 100%;
                display: block;
            }
        } // SEARCH INPUT 
        .search-wrapper {
            @media(max-width: 900px) {
                min-width: 100%;
                margin-bottom: 65px;
            }
            .input-wrapper {
                position: relative;
                input {
                    appearance: none;
                    background-color: transparent;
                    margin: 0;
                    border: none;
                    color: hubl("$second_font_color");
                    font-size: rem(16);
                    border: 1px solid #ebebeb;//hubl("$second_font_color");
                    border-radius: 25px;
                    min-width: 247px;
                    line-height: rem(36);
                    padding: 5px 15px;
                    height: 46px;
                    @media(max-width: 850px) {
                        min-width: 100%;
                    }
                    &:focus {
                        border: 1px solid hubl("$first_color");
                    }
                    &::-webkit-input-placeholder {
                        color: hubl("$second_font_color");
                        font-family: hubl("$font");
                    }
                    &::-moz-placeholder {
                        color: hubl("$second_font_color");
                        font-family: hubl("$font");
                    }
                    &:-ms-input-placeholder {
                        color: hubl("$second_font_color");
                        font-family: hubl("$font");
                    }
                    &:-moz-placeholder {
                        color: hubl("$second_font_color");
                        font-family: hubl("$font");
                    }
                }
                .search-btn {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    width: 15px;
                    height: 15px;
                    svg path {

                        stroke: hubl("$first_color");
                        stroke-miterlimit: 10;
                        stroke-width: 2px;
                    }
                }
            }
        }
    } // LISTING
    .blog-listing {
        position: relative;
        z-index: 0;
        &.searching:after {
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: 1;
            content: '';
            width: 100%;
            height: 100%;
        } // POST ITEM
        .item {
            margin-bottom: 30px;
            display: flex;
            min-height: 450px;
            @media(max-width: 767px){
            	display: block;
            }
            .thumb-wrapper{
                width: 50%;
                position: relative;
                z-index: 1;
                overflow: hidden;
                 @media(max-width: 767px){
                        width: 100%;
                        height: 300px;
                    }
                &:hover{
                    .thumb{
                        transform: scale(1.1);
                    }
                }
                a.read-more{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                    top: 0px;
                    left: 0px;
                    &:before{
                        display: none;
                    }
                }
                .tags-list {
                        position: absolute; 
                        top: 10px;
                        left: 20px;
                        z-index: 10;
                        a {
                            border-radius: 18.5px;
                            padding: 6px 18px;
                            background-color: hubl("$first_color");
                            border: 1px solid hubl("$first_color");
                            color: #fff;
                            font-size: rem(14);
                            margin: 8px;
                            display: inline-block;
                            &:before {
                                display: none;
                            }
                            &:hover {
                                color: hubl("$first_color");
                                background-color: #fff;
                            }
                        }
                    }
                .thumb {
                     transition: transform 0.3s;
                    position: relative;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    padding: 17px 19px;
                    background-size: cover;
                    background-position: center center;
                   
                }
            }
            .content {
                width: 50%;
                padding: 35px;
                border-top: 1px solid #ebebeb;
                border-right: 1px solid #ebebeb;
                border-bottom: 1px solid #ebebeb;
                @media(max-width: 767px){
	            	width: 100%;
	            	border-top: none;
	            	border-left: 1px solid #ebebeb;
	            }
                .post-info {
                    span {
                        font-size: rem(16);
                        color: hubl("$second_font_color");
                        &:before {
                            font-family: 'ClickrayIcons';
                            content: "\e906";
                            line-height: rem(24);
                            padding-right: 18px;
                            display: inline-block;
                            transform: translateY(1px);
                        }
                    }
                }
                h2 {
                    font-size: rem(25);
                    margin: 25px 0px;
                    a {
                        font-size: rem(25);
                        color: hubl("$main_font_color");
                        &:hover {
                            color: hubl("$first_color");
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
                p {
                    font-size: rem(16);
                    color: hubl("$second_font_color");
                    margin-bottom: 30px;
                }
                .author-info {
                    display: flex;
                    align-items: center;
                    .avatar {
                        width: 48px;
                        height: 48px;
                        background-position: center center;
                        background-size: cover;
                        border-radius: 50%;
                        background-color: #ebebeb;
                        border: 1px solid #ebebeb;
                    }
                    span {
                        margin-left: 25px;
                    }
                }
            }
        }
    }
    // SINGLE POST
    .blog-single{
        
        max-width: 945px;
        margin: 0 auto;
        width: 100%;
  
        // 
        .post-body > span > div{
            display: flex;
            align-items: center;
            @media(max-width: 767px){
                display: block;
                margin-bottom: 30px;
            }
            span{
                font-size: rem(155);
               color: hubl("$lightGrey");
               padding: 0 55px;   
               @media(max-width: 767px){
                    padding: 0px; 
                    font-size: rem(25);
                    display: inline;
                } 
            }
            h4{
                margin-bottom: 0px;
                @media(max-width: 767px){
                    
                    display: inline;
                }
            }
           
        }
        // 

        .post-body{
            margin-bottom: 125px;
            img{
                margin: 30px 0px;
            }
            p{
                color: hubl("$second_font_color");
            }
             h4{
                font-size: rem(25);
                margin-bottom: 30px;
            }
            blockquote{
                font-size: rem(41);
                border: 1px solid hubl("$lightGrey");
                position: relative;
                margin: 60px 0px;
                padding: 40px 50px 40px 80px;
                text-align: right;
                @media(max-width: 767px){
                    padding: 20px;
                    text-align: center;
                }
                &:before{
                    content: '\e947';
                    font-family: 'ClickrayIcons';
                    position: absolute;
                    font-size: rem(80);
                    top: -60px;
                    left: 30px;
                    color: hubl("$lightGrey");
                    @media(max-width: 767px){
                        display: none;
                    }

                }
                small{
                    display: block;
                    font-size: rem(18);
                    color: hubl("$second_font_color");
                    margin-top: 20px;
                }
            }
        }
        
        .post-footer{
            margin: 60px 0px;
            display: flex;
            justify-content: space-between;
            @media(max-width: 486px){
                display: block;
            }
            .tags-wrapper{
                @media(max-width: 486px){
                   margin-bottom: 25px;
                }
                a {
                    border-radius: 18.5px;
                    padding: 7px 18px;
                    background-color: hubl("$first_color");
                    border: 1px solid hubl("$first_color");
                    color: #fff;
                    font-size: rem(14);
                    margin: 0px 16px 8px 0px;
                    display: inline-block;
                    &:before {
                        display: none;
                    }
                    &:hover {
                        color: hubl("$first_color");
                        background-color: #fff;
                    }
                }
            }
            .social-wrapper{
                > div{
                    display: inline-block;
                
                        height: 37px;
                        min-width: 37px;
                        border-radius: 50%;
                        transition: .3s;
                        text-align: center;
                        margin-bottom: 5px;
                        margin-left: 5px;
                        transition: 0.3s all;
                        a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            i{
                                color: #fff;
                                line-height: 37px;
                                font-size: rem(18);
                            }
                            &:before{
                                display: none;
                            }
                        }
                        &.fb {
                            background: #46629E;
                            border: 1px solid #46629E;
                            &:hover{
                                background-color: #fff;
                                i{
                                    color: #46629E;
                                }
                            }
                        }
                        &.google {
                            background: #DB4437;
                            border: 1px solid #DB4437;
                            &:hover{
                                background-color: #fff;
                                i{
                                    color: #DB4437;
                                }
                            }
                        }
                        &.twitter {
                            background: #1DA1F2;
                            border: 1px solid #1DA1F2;
                            &:hover{
                                background-color: #fff;
                                i{
                                    color: #1DA1F2;
                                }
                            }
                        }
                        &.linkedin{
                            background: #0077b5;
                            border: 1px solid #0077b5;
                            &:hover{
                                background-color: #fff;
                                i{
                                    color: #0077b5;
                                }
                            }
                        }                  
                    
                }
            }
        }
        .about-author{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid hubl("$lightGrey");
            border-bottom: 1px solid hubl("$lightGrey");
            padding: 50px 0px;
             margin-bottom: 40px;
             @media(max-width: 767px){
                       flex-direction: column;
                    }
            .hs-author-avatar{
                border-radius: 50%;
                box-shadow: 0px 1px 16.38px 1.62px rgba(0, 0, 0, 0.14);
                min-width: 161px;
                height: 161px;
                background-size: cover;
                background-position: center center;
                margin-right: 65px;
                 @media(max-width: 767px){
                    margin-right: 0px;
                    margin-bottom: 25px;
                 }
            }
            .author-info{
                width: 100%;
                h5{
                    font-size: rem(20);
                    margin-bottom: 10px;
                    font-weight: 400;
                    @media(max-width: 767px){
                    text-align: center;
                 }
                }
                p{
                    font-size: rem(16);
                    color: hubl("$second_font_color");
                }
            }
        }
        // RELATED POST
        .related-post{
            h3{
                font-size: rem(25);
                padding: 5px 0px 42px 50px;
            }
            border-bottom: 1px solid hubl("$lightGrey");
            padding-bottom: 30px;
            .wrapper{
                display: flex;
                flex-wrap:wrap;
                justify-content: space-between;
                .related-post-item{
                    width: 30%;
                    max-width: 290px;
                    margin-bottom: 25px;
                    @media(max-width: 767px){
                        width: 48%;
                        max-width: 48%;
                    }
                    @media(max-width: 486px){
                        width: 100%;
                        max-width: 100%;
                    }
                    .thumb{
                        width: 100%;
                        height: 240px;
                        background-size: cover;
                        background-position: center center;
                        display: block;
                        margin-bottom: 15px;
                        &:before{
                            display: none;
                        }
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                    .tags-wrapper{
                        a{
                            text-transform: uppercase;
                            font-size: rem(16);
                            margin-bottom: 5px;
                            &:before{
                                display: none;
                            }
                            &:hover{
                                opacity: .8;
                            }
                        }
                    }
                    h4{
                        a{
                            font-size: rem(20);
                            color: hubl("$main_font_color");
                            margin-bottom: 8px;
                            &:before{
                                display: none;
                            }
                            &:hover{
                                color: hubl("$first_color");
                            }
                        }
                    }
                    p{
                        color: hubl("$second_font_color");
                        font-size: rem(18);
                        margin-bottom: 13px;
                    }
                    span{
                        color: hubl("$second_font_color");
                        font-size: rem(15);
                         &:before {
                            font-family: 'ClickrayIcons';
                            content: "\e902";
                            line-height: rem(24);
                            padding-right: 10px;
                            display: inline-block;
                            transform: translateY(1px);
                        }
                    }
                }
            }
        }
    }
    // COMMENTS
    .comment-section{
        max-width: 835px;
        margin: 0 auto!important;
        float: none!important;
        padding-top: 30px;
        .post-footer{
            margin-right: 0px;
        }
        .comments-tilte{
            font-weight: 600;
            font-size: rem(25);
            margin-bottom: 0px;
        }
        #comments-listing{
            padding: 5px 0px 30px 0px;
            border: none;
            .comment{
                margin-bottom: 45px;
            }
            
            .comment-reply-to{
                background: none!important;
                font-family: hubl("$font");
                em{
                    display: none;
                }
            }        
        }
        #comment-form{
            padding: 30px 0px;
        }
        form{
            input, textarea{
                border-color: #ebebeb;
            }
        } 
    }
}

// ANMATIONS 
@keyframes loader {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes up {
  50% {
    transform: translateX(-130%);
  }
  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}

@keyframes down {
  0% {
    opacity: 1;
    transform: translateX(-130%);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
    top: 0;
  }
}





