.blog-5 {
	.hero-banner{
        .content{
            .bottom{
                 display: block;
                .author{
                    display: flex;
                    align-items:center;
                    margin: 0 auto;
                    @media(max-width: 650px){
                       justify-content:center;
                    }
                }
            }
        }
    }
    .post-list{
    	padding-top: 35px;
    }
    // FAST NAV
    .fast-nav{
    		border-bottom: 1px solid #ebebeb;
    		.container{
    			display: flex;
    			justify-content: space-between;
    			padding: 0px;
    		}
    		a{
    			padding: 25px 15px 15px 15px;
    			font-size: rem(18);
    			color: hubl("$main_font_color");
    			line-height: 1;
    			&:before{
    				display: none;
    			}
    			&:hover{
    				opacity: 0.8;
    			}
    			&.disable{
    				color: #ebebeb;
    				cursor: not-allowed;
    				  pointer-events: none;
    			}
    		}
    		.all{
    			border-left: 1px solid #ebebeb;
    			border-right: 1px solid #ebebeb;
    			padding: 25px 25px 15px 25px;
    		}
    	}
   	// BLOG LISTING
    .blog-listing {
        .item.right {
            .thumb-wrapper {
                order: 2;
                .tags-list {
                    right: 20px;
                    left: auto;
                    @media(max-width: 767px) {
                        text-align: left;
                    }
                }
            }
            .content {
                order: 1;
                border-left: 1px solid #ebebeb;
                border-right: none;
                @media(max-width: 767px) {
                    border-right: 1px solid #ebebeb;
                }
            }
        }
    }
}