.blog.blog-3.blog-4 {
    // LISTING
    .blog-listing {
        .item {
            .thumb-wrapper {
                order: 2;
                .tags-list {
                    right: 20px;
                    left: auto;
                    @media(max-width: 767px) {
                        text-align: left;
                    }
                }
            }
            .content {
                order: 1;
                border-left: 1px solid #ebebeb;
                border-right: none;
                @media(max-width: 767px) {
                    border-right: 1px solid #ebebeb;
                }
            }
        }
    } 
    // SINGLE POST 
    //Lightbox
    .hs_cos_gallery_lightbox_container {
        padding: 0px;
        a {
            &:before {
                display: none;
            }
        }
        img {
            margin: 0px;
        }
        .vex-close:hover::before,
        .vex-close:hover::after{
		    box-shadow: none!important;
		}
        .slick-arrow {
            width: 20px;
            height: 30px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            z-index: 6666;
              
            &:before {
                // display: none;
            }
        }
		.slick-next {
           
            right: 35px;
            &:before{
                        content: "\e93c";
                        font-family: 'ClickrayIcons';
                        color: #fff;
                        font-size: rem(30);
                        opacity: 1;
                       
                    }

           
        }
        .slick-prev {
         
            left: 35px;
             &:before{
                        content: "\e93d";
                        font-family: 'ClickrayIcons';
                        color: #fff;
                        font-size: rem(30);
                        opacity: 1;
                       
                    }
        } 
    } 
    // SLIDER WRAPPER
    .slider-wrapper {
        margin-bottom: 30px;
        .hs_cos_gallery {
            .slick-slider {
                padding: 0px;
                a {
                    &:before {
                        display: none;
                    }
                }
                img {
                    margin: 0px;
                } // ARROWS
                .slick-arrow {
                    width: 20px;
                    height: 30px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    z-index: 6666;
                    &:before {
                        // display: none;
                    }
                }
                .slick-next {
                    
                    right: 35px;
                    bottom: 55px;
                    top: auto;
                     &:before{
                        content: "\e93c";
                        font-family: 'ClickrayIcons';
                        color: #fff;
                        font-size: rem(30);
                        opacity: 1;
                       
                    }
                }
                .slick-prev {
                   
                    left: 35px;
                    bottom: 55px;
                    top: auto;
                    &:before{
                        content: "\e93d";
                        font-family: 'ClickrayIcons';
                        color: #fff;
                        font-size: rem(30);
                        opacity: 1;
                       
                    }
                } 
                // PAGINATION
                .slick-dots {
                    bottom: 50px;
                    li {
                        width: 10px;
                        height: 10px;
                        &:before {
                            display: none;
                        }
                        button {
                            width: 10px;
                            height: 10px;
                            margin-right: 0px;
                            &:before {
                                content: '';
                                width: 10px;
                                height: 10px;
                                display: block;
                                border-radius: 50%;
                                background-color: #fff;
                                opacity: 0.75;
                            }
                        }
                        &.slick-active {
                            button {
                                &:before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}