.brand-background{
	background: linear-gradient(57deg, hubl("$second_color") 20%, hubl("$first_color") 80%);
	.brands-slider{
		padding:65px 0;
		border-bottom:1px solid #fff;
		.slick-slide img{
			margin:0 auto;
		}
	}
.contact-us-service{
	padding:100px 0 130px;
	color:#fff;
	text-align:center;
	h3{
		font-size:20px;
		margin-bottom:30px;
		text-transform:uppercase;
	}
	h2{
		margin-bottom:50px;
	}
}
}