.brands-slider__slide {
    text-align: center;
    a {
        display: block;
        text-align: center;
        width: 100%;
        height: 100%;
        transition: opacity .3s;
        &:before {
            display: none;
        }
        &:hover{
        	opacity: 0.9;
        }
    }
    img {
        margin: 0 auto;
    }
}