.buy-now-single {
    width: 24%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    margin: 0 0 70px 0;
    border-right: 1px solid hubl("$lightGrey");
    padding: 45px 0 50px 0;
    transition: .3s linear all;
    @media (max-width: 991px) {
        width:50%;
    }
    @media (max-width: 600px) {
        width: 100%;
        border: none;
    }
    h2 {
        font-size: 18px;
        color: hubl("$first_color");
        text-transform: uppercase;
    }
    i {
		font-size: 32px;
    }
    p.price {
        font-size: 64px;
        line-height: 1.2;
        padding: 10px 0;
        margin: 0;
        font-weight: 900;
        color: hubl("$dark");
        display: inline-block;
        position: relative;
        span {
            font-size: 32px;
            position: absolute;
            right: -20px;
            top: 20px;
        }
        &:after {
            content: "/MO.";
            display: inline-block;
			color: hubl("$dark");
            font-size: 10px;
        }
    }
    ul {
        font-size: 18px;
        padding: 0;
        list-style-type: none;
        color: hubl("$second_font_color");
        padding: 0 0 40px 0;
        li {
			padding: 5px 0;
			&:hover {
				text-decoration: none;
				
			}
			&:before {
				display: none;
				
			}
        }
    }
    a {
        padding: 20px 50px;
		border-radius: 50px;
		&:before {
			display: none;
			
		}
    }
}

.buy-now-boxes>div>span>div:nth-child(2) .buy-now-single {
    border-right: 1px solid hubl("$second_color");
    width: 28%;
    border-radius: 10px;
    background-color: hubl("$second_color");
    transition: .3s linear all;
    background-image: url("https://cdn2.hubspot.net/hubfs/685080/Mercuric/Servises/backgroundphoto.png");
    background-repeat: no-repeat;
    @media (max-width: 991px) {
        width:50%;
    }
    @media (max-width: 600px) {
        width: 100%;
        border: none;
    }
    h2,
    p.price,
    p.price:after,
    i,
    ul,
    a {
        color: #fff;
    }
    a {
        background: transparent;
        border: 2px solid #fff;
    }
}

.buy-now-boxes>div>span>div {
    .buy-now-single {
        p {
            margin: 0;
        }
    }
    &:last-of-type {
        .buy-now-single {
            border-right: 0px;
        }
    }
}

@media (max-width: 991px) {
    .buy-now-boxes>div>span>div:nth-child(1) .buy-now-single,
    .buy-now-boxes>div>span>div:nth-child(2) .buy-now-single,
    .buy-now-boxes>div>span>div:nth-child(4) .buy-now-single {
        border: none!important;
    }
}