.column-text-cta{
	.subheading{
		text-transform:uppercase;
		color:#ed145b;

	}
	h2{
		margin-top:30px;
		font-size:41px;
		margin-bottom:30px;
		max-width:300px;
	}
	p{
		color:#626262;
		font-size:16px;
		text-align:center;

	}
	.cta_button{
		margin-top:30px;
		background-color: #ed145b;
	    color: white;
	    border-color: #ed145b;
	}
}