.company-facts {
    padding: 10px 0;
    display: flex;
    i {
        color: hubl("$first_color");
        font-size: 70px;
    }
    .text-wrapper {
        padding: 4px;
    }
    .icon-wrapper {
        width: 75px;
        img {
            max-width: 100%;
        }
    }
    p {
        margin: 0;
        color: hubl("$main_font_color");    
        line-height: 1;    
        &.title {
            @extend p.subheading;
            font-weight: 600;
            padding-bottom: 6px;
        }
        &.num {
            font-size: rem(41);
            font-weight: 900;
        }
    }
}