section.contact-us-banner {
    padding: 70px 0;
    background-color: hubl("$first_color");
    h5 {
        font-weight: 400;
        margin-bottom: 15px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 767px){
            flex-wrap: wrap;
            justify-content: center;
            .right-side {
                margin-top: 30px;
            }
        }
    }
}