.counter-box-wrapper > span{
	margin-top: 45px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	@media (max-width: 767px){
		justify-content: space-between;
	}
	& > div{
		margin-right: 60px;
		@media (max-width: 767px){
			margin: 0px;
		}
		@media (max-width: 600px){
			max-width: 100%;
			width: 100%;
			margin-right: 0px;
		}

	}
}


.counter-box{
	max-width: 290px;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	@media (max-width: 600px){
		margin: 20px auto;
		justify-content: center;
	}
	.icon{
		margin-right: 20px;
		i{
			color: #fff;
			font-size: rem(75);
		}
	}
	h5{
		font-size: rem(20);
		font-weight: 400;
	}
	span{
		font-size: rem(42);
		font-weight: 900;
		line-height: 48px;
	}

}