.customer-services-worker-wrapper > span {

}

.customer-services-worker{
	display: flex;
	margin-bottom: 50px;
	@media (max-width: 486px){
		flex-wrap: wrap;
		justify-content: center;
		& > div{
			width: 100%;
		}
	}
	.avatar{
		min-width: 120px;
		width: 120px;
		height: 120px;
		margin-right: 25px;
		border-radius: 50%;
		background-size: cover;
		background-position: center center;
		@media (max-width: 486px){
			margin-right: 0px;
		}
	}
	.content{
		@media (max-width: 486px){
			text-align: center;
			margin-top: 30px;
		}
		h3{
			margin-top: 0px;
			margin-bottom: 12px;
			font-size: rem(25);
			font-weight: 600;
		}
		p{
			font-size: rem(18);
			margin-bottom: 5px;
			font-weight: 300;
			color: hubl("$second_font_color");
			&:last-child{
				margin-bottom: 0px;
			}
		}
	}
}