.custom-social-icon-wrapper>span {
    display: flex;
    //reszte stylowac przez strony
}

.custom-social-icon {
    a {
        display: block;
        min-width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: hubl("$first_color");
        border: 1px solid hubl("$first_color");
        text-align: center;
        i{
        	color: #fff;
        	line-height: 50px;
        	font-size: rem(26);
        	transition: 0.3s color;
        }
        &:before{
            display: none;
        }
        &:hover{
        	background-color: transparent;
        	i{
        		color: hubl("$first_color");
        	}
        }
    }
}