.faq {
    .panel-group{
        & > .panel:last-child{
            border-bottom: 0px;
        }
    }
}

section.question {
    counter-reset: sekcja;
    padding: 107px 0 100px;
    @media (max-width: 1700px) {
        background-size:contain!important;
    }
    @media (max-width: 1024px) {
        background: none!important;
    }
    .header {
        text-align: center;
        margin-bottom: 30px;
        h2 {
            margin-bottom: 30px;
        }
        p {
            color: hubl("$second_font_color");
            font-size: rem(18);
        }
    }
}

.faq-box {
    border-bottom: 1px solid #ebebeb;
    h4 {
        @extend p.subheading;
        &.panel-title {
            position: relative;
            padding: 34px 0;
            a {
                color: hubl("$main_font_color");
                text-decoration: none;
                // text-transform: uppercase;
                font-size: inherit;
                font-weight: bold;
                display: block;
                position: relative;
                padding-right: 50px;
                font-weight: normal;
                &:after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 18px;
                    right: -1px;
                    top: 8px;
                    display: block;
                    background: hubl("$first_color");
                }
                &:before {
                    content: "";
                    position: absolute;
                    height: 18px;
                    width: 2px;
                    right: 7px;
                    top: 0px;
                    display: block;
                    background: hubl("$first_color");
                    opacity: 0;
                    transition: all ease-in-out 0.3s;
                    transform: rotate(90deg);
                }
                &.collapsed {
                    &:before {
                        content: "";
                        position: absolute;
                        height: 18px;
                        width: 2px;
                        right: 7px;
                        top: 0px;
                        display: block;
                        background: hubl("$first_color");
                        opacity: 1;
                        transition: all ease-in-out 0.3s;
                        transform: rotate(0deg);
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 18px;
                        right: -1px;
                        top: 8px;
                        display: block;
                    }
                }
            }
        }
    }
    .panel-collapse {
        transition: all ease-in-out 0.3s;
        overflow: hidden;
    }
    .panel-body {
        color: hubl("$second_font_color");
        font-size: rem(18);
        font-weight: 300;
        margin-bottom: 20px;
    }
}

section.question.form {
    counter-reset: sekcja;
    padding: 100px 0;
    .header {
        text-align: left;
    }
}

.FAQ-form {
    background: #fbfbfb;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #e6e6e6, -5px 5px 5px #e6e6e6;
    padding: 55px 40px;
    border-radius: 6px;
    p {
        color: hubl("$first_color");
        ;
        text-transform: uppercase;
    }
    h2 {
        margin-bottom: 10px;
    }
    form {
        .hs-form-field {
            &:first-of-type {
                margin-top: 10px;
            }
        }
    }
}


/* Services acordieon*/

.half-width {
    width: 50%;
    @media (max-width: 1024px) {
        width:100%;
    }
    .faq-box {
        border: none;
        h4.panel-title {
            padding: 0;
            a {
                background: hubl("$first_color");
                box-shadow: 0px 0px 16.56px 1.44px rgba(100, 22, 48, 0.4);
                padding: 25px 45px;
                color: #fff;
                text-transform: uppercase;
                border-radius: 100px;
                font-size: 16px;
                margin-bottom: 30px;
                &:before, &:after {
                    display: none;
                }
                &.collapsed {
                    background: transparent;
                    padding: 0;
                    color: #000;
                    text-transform: uppercase;
                    border-radius: 0px;
                    padding: 30px 0;
                    border-bottom: 1px solid #f2f2f2;
                    box-shadow: none;
                }
            }
        }
    }
}
// .stl-product-video-slider {
//     display: none !important;
// }