.fast-contact-banner{
	background-color: hubl("$first_color");
	padding: 80px 0px;
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media(max-width: 767px){
			flex-wrap:wrap;
		}
		.widget-type-rich_text{
			color: #fff;
			h4{
				font-size: rem(20);
				font-weight: 400;
				margin-bottom: 20px;
			}
			
		}
		.cta-wrapper{
			padding-left: 20px;
			@media(max-width: 767px){
				margin-top: 30px;
				padding-left: 0px;
			}
		}
	}
}