.feature-item {
    display: flex;
    margin-bottom: 30px;
    .num {
        font-size: 31px;
        color: hubl("$first_color");
        flex: 1 0 65px;
        text-align: center;
    }
    .content-wrapper {
        padding: 5px 0;
        p {
            color: hubl("$secondary_text");
            &.subheading {
                font-weight: 400;
                color: inherit;
            }
        }
    }
}