.form-map-customize {
    width: 100%;
    display: flex;
    @media (max-width: 1024px) {
        flex-wrap: wrap;
    }
    .form-wrapper {
        min-height: 410px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: 1024px) {
            width: 100%!important;
            order: 2;
        }
        .half-container {
            // max-width: calc(585px + 10%);
            padding: 20px 60px 20px 20px;
            width: 100%;

            @media (max-width: 1024px) {
                padding: 40px 15px;
                max-width: 100%;
            }
            h2 {
                font-weight: 400;
                font-size: 52px;
                margin-bottom: 45px;

            }

            h4 {
                 margin-top: 55px;
                font-weight: 400;
                font-size: 20px;
                margin-bottom: 10px;
                color: hubl("$first_color");
            }
            .hs_cos_wrapper_type_form{
                .hs-form-field{
                    margin-bottom: 40px;
                    @media(max-width: 767px){
                        display: inline-block;
                    width: 100%;
                    }
                }
                form input[type=submit]{
                    margin-top: 30px;
                    margin-bottom: 70px;
                }
            }
        }
    }
    .map-wrapper {
        min-height: 410px;
        @media (max-width: 1024px) {
            width: 100%!important;
            order: 1;
        }
        #map {
            height: 780px;
            @media (max-width: 1024px) {
                height: 450px!important;
            }
        }
    }
    &.reverse {
        .map-wrapper {
            order: 1;
        }
        .form-wrapper {
            order: 2;
            justify-content: flex-start;
            @media (max-width: 1024px) {
                justify-content: flex-start;
            }
            .half-container {
                padding: 20px 15px 20px 50px;
            }
        }
    }
}