// IF iOS
body.iso{
    .hero-banner-text-image.parallax{
        background-attachment: scroll;
    }
}
.hero-banner-text-image {
    width: 100%;
    min-height: 520px;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    // IE 11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height: 520px;
            } 
    // EDGE
    @supports (-ms-ime-align:auto) {
        height: 520px;
    }
    &.parallax{
        background-attachment: fixed;
    }
    @media (max-width: 1024px){
        padding: 45px 0px;
    }
    .mask {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(57deg, hubl("$second_color") 20%, hubl("$first_color") 80%);
        z-index: 2;
    }
    .container{
    	position: relative;
    	z-index: 3;
    	display: flex;
    	align-items: center;
        @media (max-width: 1024px){
            display: block;
        }
    	&> div{
    		width: 50%;
    	}
    	.left{
    		color: #fff;
            @media (max-width: 1023px){
               width: 100%;
            }
    		h1{
                margin-top: 30px;
				margin-bottom: 50px;
				font-weight: 300;
    		}
    		p{

    		}
           .hs-cta-wrapper{
                a{
                     margin-top: 30px;
                        min-width: 210px;
                        min-height: 60px;
                        border-radius: 50px;
                        text-align: center;
                        line-height: 56px;
                        padding: 0px 50px;
                }
            }

    	}
    	.right{
    		height: 100%;
 			z-index: 10;
 			// transform:translateY(155px);
 			text-align: right;
 			position: relative;

            position: absolute;
            right: 0px;
            top: -50px;

            height: auto;
            // background: red;
            // opacity: 0.7;
            @media (max-width: 1024px){
               width: 100%;
               position: static;
            }
 			img{
 				margin: 0px 0px 0px auto;
 				display: block;
                height: auto;
                @media (max-width: 1024px){
                   margin: 40px auto 0px auto;
                }
 			}
    	}
    }
}

// 

