.hero-banner-no-image {
    width: 100%;
    min-height: 590px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(57deg, hubl("$second_color") 20%, hubl("$first_color") 80%);
    &.parallax{
	    background-attachment: fixed;
	}
    // IE 11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height: 590px;
    } 
    // EDGE
    @supports (-ms-ime-align:auto) {
        height: 590px;
    }
    .container{
    	color: #fff;
    	text-align: center;
        // IE 11
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            max-width: 100%;     } 
        // EDGE
        @supports (-ms-ime-align:auto) {
            max-width: 100%; 
        }
    	h1,h2{
    		font-weight: 400;
    		margin-bottom: 40px;
    	}
    	p{
            font-size: rem(20);
    		font-weight: 300;
    	}
    	p:last-child{
    		margin-bottom: 0px;
    	}
        a{
            color: #fff;
            cursor: pointer;
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                bottom: 0px;
                border-bottom: 1px dashed #fff;
            }
        }
        ul{
            display: inline-block;
            li{
                padding-left: 20px;
                &:before{
                    color: #fff;
                }
            }
        }
    }
}
body.ios{
	.hero-banner-no-image {
	    &.parallax{
		    background-attachment: scroll;
		}
	}
}