.icon-list {
    // p, a {
    //     font-size: rem(1)
    
    // }
    p {
        font-weight: 400;
    }
    li {
        font-weight: 300;
        margin-bottom: 11px;
    }
    i {
        font-size: 70px;
        margin-bottom: 25px;
        color: hubl("$first_color");
    }
    li {
        color: hubl("$secondary_text");
        padding-left: 20px;
    }

}