.text-bg-img {
    background-position: right;
    background-repeat: no-repeat;
    padding: 20px 0 70px;
    p {
        &.subheading {
            margin-bottom: 25px;
            color: hubl("$first_color");
        }
    }
    h2 {
        font-weight: 400;
    }
}