.image-and-text-customize {
    width: 100%;
    display: flex;
    min-height: 500px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height: 500px;
            } 
    // EDGE
    @supports (-ms-ime-align:auto) {
        height: 500px;
    }
    @media (max-width: 1024px) {
        flex-wrap: wrap;
    } 
    .image {
        background-size: cover;
        background-position: center center;
        position: relative;
        @media (max-width: 1024px) {
            width: 100%!important;
            order: 2;
        }
        .mask {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: linear-gradient(57deg, hubl("$second_color") 20%, hubl("$first_color") 80%);
        }
    }
    .text-content {
        min-height: 410px;
        background-color: hubl("$dark");
        color: #fff;
        display: flex;
        align-items: center;
        @media (max-width: 1024px) {
            width: 100%!important;
            order: 1;
        }
        .half-container {
            max-width: 585px;
            padding: 20px 15px 20px 50px;
            width: 100%;
            justify-content: flex-start;
            @media (max-width: 1024px) {
                padding: 20px 15px;
                max-width: 100%;
            }
            h1,h2 {
                margin-bottom: 45px;
                font-weight: 400;
            }
            p{
                  font-size: rem(20);
            }
            p:last-child {
                margin-bottom: 0px;

            }
        }
    }
    &.reverse {
        .image {
            order: 2;
        }
        .text-content {
            order: 1;
            justify-content: flex-end;
            @media (max-width: 1024px) {
                     justify-content: flex-start;
                }
            .half-container {
                padding: 20px 50px 20px 15px;
            }
        }
    }
}