section.image-and-text-module {
    display: flex;
    @media (max-width: 800px) {
        flex-direction: column;
    }
    .image-wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    @media (min-width: 801px) {
        .image-wrapper,
        .content-wrapper {
            width: 50%;
        }
    }
    .content-wrapper {
        background-color: hubl("$second_color");
        color: #fff;
        padding: 30px 0;
        @media (min-width: 1025px) {
            padding: 120px 0;
        }
        @media (min-width: 800px) and (max-width: 1024px) {
            padding: 60px 0;
        }
        .text-wrap {
            padding: 0px 15px;
            @media (min-width: 801px) {
                max-width: 585px;
            }
            @media (min-width: 1025px) {
                padding: 0 15px 0 100px;
            }
            @media (min-width: 801px) and (max-width: 1024px) {
                padding: 0 15px 0 50px;
            }
        }
        p,
        h2,
        .h1 {
            color: inherit;
        }
        p {
            font-size: rem(18);
            p {
                margin: 0;
                font-size: inherit;
                &.subheading {
                    margin-bottom: 20px;
                    font-weight: 400;
                }
            }
        }
        .h1 {
            margin-bottom: 35px;
            font-weight: 400;
        }
    }
}