.red-section {
    background: hubl("$first_color");
    position: relative;
    .gradient-mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, hubl_rgba("$second_color", .9) 0%, hubl_rgbal("$second_color", .5) 50%, hubl_rgba("$second_color", 0) 100%);
    }
}

.job-contact-section {
    min-height: 500px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    position: relative;
    .photo {
        width: 50%;
        display: flex;
        img {
            position: absolute;
            left: -25px;
            bottom: 0;
            width: 50%;
            height: auto;
        }
    }
    .text {
        width: 50%;
        @media (min-width: 1024px) {
            padding: 130px 0 50px;
        }
        @media (max-width: 1023px) {
            padding: 50px 0;
        }
        p,
        h2 {
            display: block;
            // margin: 0;
            color: #fff;
            padding-left: 40px;
        }
        ul {
            padding-left: 40px;
            margin-bottom: 15px;
        }
        p.subheader {
            text-transform: uppercase;
            @extend p.subheading;
        }
        .text-content {
            >p {
                font-size: rem(20);
            }
        }
        h2 {
            line-height: 1em;
            margin: 20px 0 25px;
        }
    }
}

@media screen and (max-width: 991px) {
    .job-contact-section {
        min-height: 500px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row;
        position: relative;
        .photo {
            display: none;
        }
        .text {
            width: 100%;
            p,
            h2 {
                padding: 0 15px;
            }
        }
    }
}