.me-banner-with-form {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    min-height: 450px;
    padding: 80px 0;
    .mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: hubl_rgba("$dark", .78);
    }
    .container {
        position: relative;
        text-align: center;
        @include makeTypoInColor(#fff);
        h5 {
            font-weight: 400;
            margin-bottom: 15px;
        }
    }
    .form-wrapper {
        margin-top: 60px;
        padding: 0 50px;
        @media (max-width: 1170px) {
            padding: 0 15px;
        }
    }
    form {
        @media (max-width: 1059px) {
            max-width: 500px;
            margin: 0 auto;
            .hs_submit {
                input[type=submit] {
                    min-width: 260px;
                }
            }
        }
        @media (min-width: 1060px) {
            display: flex;
            justify-content: space-between;
            .hs-form-field {
                margin: 0 15px 0 0;
                @media (max-width: 1170px) {
                    width: 28%;
                    input {
                        min-width: 100px;
                    }
                }
            }
            input {
                width: 260px;
                max-width: 100%;
                &[type=submit] {
                    margin: 0;
                    width: auto;
                }
            }
        }
    }
}