.me-case-study{
	p{
		margin-bottom:30px;
		margin-top:30px;
	}
	figure.case-study {
    margin: 0;
    overflow: hidden;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    padding-bottom:50px;
    border-bottom:1px solid #ebebeb;
}
.case-study{
			img{
				  background-color: rgb(255, 255, 255);
				  box-shadow: 0px 5px 19.11px 1.89px rgba(0, 0, 0, 0.08);
			}
}
 figure.case-study .feature-image {
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    position: relative;
}
figure.case-study .company-logo {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    background-color: rgba(255, 196, 0,0.65);
    position: absolute;
    bottom: 0;
}

figure.case-study .description {
    width: 100%;
    padding: 20px;
    background-color: #fff;
}
figure.case-study .description p {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    margin-bottom:30px;
}
}
.me-case-study:not(:first-child) figure.case-study h3{
	margin-top:50px;
}
.me-case-study:last-child figure.case-study{
	border-bottom:none;
	padding-bottom:0px;
}