.me-counter-section {

	.counter-section-wrapper {
        display: flex;
        flex-wrap: wrap;
        background-color: hubl("$first_color");
        color: #fff;

        .background-wrapper {
            width: 40%;

            .image {
	            height: 100%;
	            width: 100%;
	            background-size: cover;
	            background-position: left center;
	            background-repeat: no-repeat;
	        }

            @media (max-width: 1024px) {
                display: none;
            }
        }

        .counter-section {
            width: 60%;
            padding: 105px 15px 65px 60px;
            max-width: 975px;

            @media (max-width: 1024px) {
                width: 100%;
                max-width: 1024px;
                padding: 105px 15px 65px 15px;

            }
        }

        .counter-div {
	    	display: flex;
	    	margin-top: 50px;
	    }

	    @media(max-width:620px) {

	    	.counter-div {
				display:block;
	    	}

	    	.counter-box {
				text-align:center;
				margin-left:auto;
				margin-right:auto;
	    	}
	    }
    }

	.counter-box {
		max-width: 290px;
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		
		@media (max-width: 600px){
			margin: 20px auto;
			justify-content: center;
		}

		.icon {
			margin-right: 20px;
			i {
				color: #fff;
				font-size: rem(75);
			}
		}

		p {
			margin-bottom: 5px;
		}

		span {
			font-size: rem(42);
			line-height: rem(48);
			font-weight: 900;
		}
	}
}