.me-client-review{
	background-color: white;
    padding: 30px;
.up {
    display: inline-block;
    width: 100%;
}
p {
    font-size: 16px;
    font-weight: 300;
    color: #6a6a6a!important;
}
.author {
    display: inline-block;
    margin-top: 10px;
}
.stars {
    display: inline-flex;
}
}