
.me-client-slide{

			text-align:center;
			img{
				display:inline!important;
			}
			i{
				color:#ed145b;
				font-size:62px;
				margin-bottom:20px;
			}
			
			.text{
				font-size:36px;
				max-width:420px;
				margin:auto;
				margin-bottom:20px;

			}
		
			@media(max-width:768px){
				.text{
					max-width:100%;
				}
			}
}



