.turbo-mercuric {
    .me-footer-social-icons {
        display: flex;
        justify-content: flex-start;

        li {
            padding: 0 10px;
            &:before {
                display: none;
            }
            a {
                color: #fff;
                text-decoration: none;
                &:before {
                    display: none;
                }
            }
            &:hover {
                a {
                    color: hubl("$first_color");
                }
            }
        }
    }
}