/* 
ZLEEEEEEEEEE
to cssy do feature box z home - modul me - Feature Box v1!
*/
.me-feature-box{
	.ms-browser {
        .feature-box-redirect {
            .feature-box {
                overflow: hidden;
            }
        } 
    }

    .icon {
    	i {
    		font-size:52px;
    		color:#ed145b;
    	}
    }

    .feature-box-redirect {
        overflow: hidden;
        height: 100%;
        width: 100%;
        display: flex;
        &:hover {
            &:before {
                display: none;
            }
            .background-holder {
                transform: scale(1.05);
            }
            .feature-box {
                .mask-hover {
                    background-color: rgba(#363636, 0.1);
                }
            }
        }

        .feature-box {
            width: 100%;
            height: 100%;
            padding: 50px 0;
            position: relative;
            z-index: 1;
            transition: .3s all linear;
            @media (min-width: 768px) {
                padding: 90px 0;
            }
            .mask,
            .mask-hover,
            .background-holder {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transition: inherit;
            }
            .background-holder {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .mask {
                background-color: rgba(#363636, .3);
            }
            .mask-hover {
                background-color: rgba(#363636, 0);
            }
            h2,
            h3,
            p {
                font-weight: 400;
                color: #fff
            }
            p {
                font-size: rem(18);
                font-weight: 300;
            }
            .subheading,
            h3 {
                margin-bottom: 25px;
            }
            &.main {
                background-color: hubl("$first_color");
            }
            &.secondary {
                background-color: hubl("$second_color");
            }
            .content-wrapper {
                position: relative;
                z-index: 1;
                max-width: 600px;
                padding: 0 50px;
                margin: 0 auto;
                @media (max-width: 767px) {
                    padding: 0 25px;
                }
            }
            .icon-wrapper {
                margin-bottom: 35px;
            }
            [class^="ni-icon-"],
            [class*=" ni-icon-"] {
                font-size: 70px;
            }
        }
    }
    //feature-boxes-wrapper needs to be class on wrapper
    .feature-boxes-wrapper {
        >span {
            display: flex;
            // justify-content: center;
            // align-content: center;
            flex-wrap: wrap;
            >div {
                min-height: 300px;
                &.quarter {
                    // flex: 0 1 25%;
                    // flex-grow: 1.25;
                    flex: 1.25 0px;
                    flex-basis: 475px;
                }
                &.one-fifth {
                    // flex: 0 1 20%;
                    // flex: 1 0px;
                    flex-grow: 1;
                    flex-basis: 380px;
                }
                &.thirty {
                    // flex: 0 1 30%;
                    // flex: 1.5 0px;
                    flex-grow: 1.5;
                    flex-basis: 570px;
                }
                &.fourty {
                    // flex: 0 1 40%;
                    // flex: 2 0px;
                    flex-grow: 2;
                    flex-basis: 700px;
                }
                &.seventy {
                    // flex: 0 1 70%;
                    // flex: 3.5 0px;
                    flex-grow: 3.5;
                    flex-basis: 1250px
                }
                &.half {
                    // flex: 0 1 50%;
                    // flex: 2.5 0px;
                    flex-grow: 2.5;
                    flex-basis: 900px;
                }
            }
        }
    }
}