.me-footer-blog-feed {
    list-style: none;

    li {
        margin-bottom: 15px;

        &:before {
            display: none;
        }
        
        a {
            padding: 0;
            color: #fff;
            &:hover {
                color: hubl("$first_color");
                &:before {
                    display: none;
                }
            }
        }
    }
    p {
        margin: 0;
        &.date {
            color: hubl("$secondary_text");
            font-size: 16px;
        }
    }
}