.turbo-mercuric {
    .me-header-social-icons {
        display: flex;
        justify-content: flex-end;
        margin: 12px 0;

        li {
            margin-left: 30px;

            a, i {
                color: hubl("$dark");
                transition: .3s linear color;

                &:hover {
                    color: hubl("$first_color");
                }
            }

            a {

                &:hover {

                    &:before {
                        content: none;
                    }
                }
            }

            &:before {
                display: none;
            }
        }

        @media (max-width: 849px) {
        
            li {

                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }

    header.header-transparent {

        .me-header-social-icons {

            li {

                a, i {
                    color: #fff;

                    &:hover {
                        color: hubl("$first_color");
                    }
                }
            }
        }
    }

    header.header-scroll,
    header.permanent-white {

        .me-header-social-icons {

            li {

                a, i {
                    color: hubl("$dark");

                    &:hover {
                        color: hubl("$first_color");
                    }
                }
            }
        }
    }
}