.me-header-popup-search {

    .input-wrapper {
        padding-left: 45px;
        @media (max-width: 450px) {
            padding-left: 15px;
        }
        #search-btn {
            &:hover {
                cursor: pointer;
            }
        }
        svg {
            margin-top: 5px;
            width: 20px;
            height: 20px;
            .st0 {
                transition: .2s linear stroke;
                stroke: hubl("$dark");
                stroke-miterlimit: 10;
            }
        }
        .search-popup {
            display: none;
            position: fixed;
            z-index: 8;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: hubl_rgba("$dark", .95);
            .popup-inner {
                position: absolute;
                padding: 10px 15px;
                max-width: 100%;
                width: 700px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: flex-end;
                >span:not(.h4) {
                    width: 100%;
                }
                .input {
                    display: flex;
                    align-items: flex-end;
                    width: 100%;
                }
                .hs-button {
                    &:hover {
                        cursor: pointer;
                    }
                }
                h4, .h4 {
                    color: #fff;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-right: 20px;
                    line-height: 1;
                    @media (max-width: 450px) {
                        font-size: rem(20);
                        margin-right: 15px;
                    }
                }
                svg {
                    width: 50px;
                    height: 50px;
                    margin-left: 20px;
                    margin-top: 0;
                    margin-bottom: -10px;
                    @media (max-width: 450px) {
                        width: 35px;
                        height: 35px;
                        margin-left: 15px;
                        margin-bottom: -8px;
                    }
                    .st0 {
                        stroke: #fff;
                        fill: #fff;
                    }
                }
                input {
                    background-color: transparent;
                    color: #fff;
                    border-radius: 0;
                    border: 0px;
                    outline: none;
                    border-bottom: 2px solid #fff;
                    font-size: rem(25);
                    padding: 3px 10px;
                    line-height: 1;
                }
                 ::-webkit-input-placeholder {
                    color: rgba(#fff, .7);
                }
                 ::-moz-placeholder {
                    color: rgba(#fff, .7);
                }
                 :-ms-input-placeholder {
                    color: rgba(#fff, .7);
                }
                 :-moz-placeholder {
                    color: rgba(#fff, .7);
                }
            }
        }
    }
}