.me-hero-banner-slide.small{
    min-height:400px!important;
}

.me-hero-banner-slide .content h1, .me-hero-banner-slide .content .h1{
    text-transform: none;
    font-size: 34px;

    @media (max-width: 600px) {
        font-size: 26px !important;
    }
}
.turbo-mercuric .me-big, .turbo-mercuric .big, .turbo-mercuric .big p, .turbo-mercuric .big span, .turbo-mercuric .me-big p, .turbo-mercuric .me-big span{
        color: inherit;
    margin: 20px 0;
    font-weight: 400;
}
.me-hero-banner-slide .content{
    max-width:815px!important;
}
.me-hero-banner-slider{

    > span > div {
        display: none;

        &:first-of-type {
            display: block;
        }
    }

      .slick-arrow.slick-next{
        right:15%;
    }
    .slick-arrow.slick-prev{
        left:15%;
    }
    @media(max-width:1500px){
          .slick-arrow.slick-next{
            right:5%;
     }
        .slick-arrow.slick-prev{
            left:5%;
        }

    }
     @media(max-width:1300px){
        .slick-arrow.slick-next{
            right:0%;
        }
        .slick-arrow.slick-prev{
            left:0%;
        }
    
    }
    @media(max-width:600px){
        .slick-arrow.slick-prev, .slick-arrow.slick-next{
            display:none!important;
        }

        

    }
    ul{
        margin-top:-110px;
        position:relative;
        margin-bottom:80px;
    }
    ul li:before{
        top:2px;
        left:5px;
        color:rgba(255,255,255,0.15);
        font-size:20px;
    }
  .slick-dots li button:before{

  }
  .hs_notification_frequency_ span{
        color:black;
  }
  .slick-dots li button:before{
    opacity:0;
  }
  .slick-dots li.slick-active button:before{
    opacity: 1 !important;
    content: "•";
    position: absolute;
    top: 9px;
    left: 6px;
    width: 10px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    color:white;
  }
    .testi ul li:before{
    font-size:20px;
    top:3px;
  }
.slick-arrow.slick-next:before{
      width:30px!important;
    height:30px!important;
    background-size:contain!important;

}

.slick-arrow.slick-prev:before{
   
    width:30px!important;
    height:30px!important;
    background-size:contain!important;
}
}
.me-hero-banner-slide {
        background-size:cover;
        background-position:top;
        background-attachment:initial;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100px;

    &--element {
        padding: 30px;
        border: 1px solid hubl("$lightGrey");
        transition: .3s linear all;

        @media (max-width: 1000px) {
            padding: 15px;
        }
        &__inner {
            max-width: 480px;
            margin: 0 auto;
            display: flex;
            @media (max-width: 1000px) {
                flex-wrap: wrap;
            }
        }
        &.slick-current,
        &:hover {
            background-color: hubl("$first_color");
            border-color: hubl("$first_color");
            
            * {
                color: #fff
            }
        }
        &:hover {
            cursor: pointer;
        }

    }
    &__icon {
        min-width: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        
        i, svg {
            color: hubl("$dark");
            transition: all .2s linear;
        }
    }
    &__text {
        @media (min-width: 1001px) {
            padding-left: 30px;
        }
        h5 {
            margin-bottom: 10px;
        }
    }
}

.me-hero-banner-nav-slider {
    .slick-list {
        padding: 0 !important;
    }
    .slick-track {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.me-hero-banner-slide {

    .opacity-gradient-mask {
        position: absolute;
        z-index: 2;
        width: 100%;
        top:0px;
        left:0px;
        height: 100%;
        opacity: .87;
        background:#203FA4;
         }
    .background-video-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        video {
            position: relative;
            min-width: 100%;
            height: 100%;
            max-width: none;
            &::-webkit-media-controls {
                display: none;
            }
        }
    }
    &.small {
        min-height: 400px;
    }
    &.big {
        min-height: 800px;
        .cta-wrapper {
            .cta_button {
                font-size: rem(20);
                min-width: 210px;
                padding: 13px 40px;
                border-radius: 30px;
            }
        }
        .content {
            h1 {
                @media (min-width: 992px) {
                    margin-bottom: 35px;
                }
                @media (max-width: 991px) {
                    margin-bottom: 30px;
                }
            }
            .cta-wrapper {
                @media (min-width: 992px) {
                    margin-top: 30px;
                }
                @media (max-width: 991px) {
                    margin-top: 25px;
                }
            }
        }
    }
    &.mask {
        background-color: hubl_rgba("$first_color", .7);
    }
    .content {
        position: absolute;
        z-index: 3;
        padding: 0 15px;
        color: #fff;
        top: 50%;
        left: 50%;
        text-align: center;
        width: 90%;
        max-width: 670px;
        transform: translate(-50%, -50%);
        h1,
        .h1 {
            color: inherit;
            margin: 0;
            line-height: 1.05;
            @media (min-width: 992px) {
                margin-bottom: 25px;
            }
            @media (max-width: 991px) {
                margin-bottom: 20px;
            }
            @media (max-width: 500px) {
                font-size: rem(42);
            }
            &.no-margin {
                margin: 0;
            }
        }

        &.big, .big {
            p {
                font-size: inherit;
                font-weight: inherit;
            }

            @media (max-width: 600px) {
                font-size: 16px;
            }

        }

        &.subheading {
            margin-bottom: 25px;
        }
        
    }
    .cta-wrapper {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        >span {
            margin: 10px;
        }
    }
}

.ios {
    .me-hero-banner-slide{
        background-attachment: scroll;
    }
}