.turbo-mercuric {
    section.me-hero-banner-oval-gradient {
        padding: 140px 0 220px;
        background-color: hubl("$dark");
        position: relative;
        min-height: 800px;
        .oval-gradient {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: radial-gradient( 50% 50%, circle closest-side, rgba(255, 255, 255, .15) 0%, rgba(176, 176, 227, 0) 100%);
        }
        .me-container {
            position: relative;
            display: flex;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            li,
            ul,
            blockquote {
                color: #fff;
            }
            h1,
            h2 {
                font-weight: 300;
                margin-bottom: 20px;
            }
            a:not(.cta_button) {
                color: #fff;
            }
            .image-wrapper {
                text-align: center;
            }
            .image-wrapper,
            .text-wrapper {
                width: 50%;
            }
            .text-wrapper {
                display: flex;
                align-items: center;
            }
            .cta-wrapper {
                margin-top: 40px;
                p {
                    display: flex;
                    flex-wrap: wrap;
                }
                .hs-cta-wrapper {

                    .cta_button {
                        margin-bottom: 20px;
                        margin-right: 20px;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            padding-top: 70px;
            .me-container {
                flex-wrap: wrap;
                .image-wrapper,
                .text-wrapper {
                    width: 100%;
                }
                .text-wrapper {
                    margin-top: 20px;
                }
            }
        }
    }
}