.turbo-mercuric {
    .me-header-contact {
        display: none;
        margin: 12px 0;

        i, a, p {
            color: hubl("$dark");
            transition: color .3s linear;
        }

        a {

            &:hover {
                color: hubl("$first_color");
            }
        }

        > p {
            margin-bottom: 0;
            font-weight: 600;
            font-size: rem(16);
        }

        @media (min-width: 850px) {
            display: block;
        }
    }

    header.header-transparent {

        .section-top {

            .me-header-contact {

                i, a, p {
                    color: #fff;
                }

                a {

                    &:hover {
                        color: hubl("$first_color");
                    }
                }
            }
        }
    }

    header.header-scroll,
    header.permanent-white {

        .section-top {

            .me-header-contact {

                i, a, p {
                    color: hubl("$dark");
                }

                a {
                    &:hover {
                        color: hubl("$first_color");
                    }
                }
            }
        }
    } 
}