@mixin pos {
    position: absolute;
    left: 50%;
    top: 50%;
}
$border:2px;
$time:.2s;

.me-header-search {
    position: relative;
    height: 90px;
    max-width: 300px;
    padding-top: 25px;
    padding-bottom: 150px;
    @media (max-width: 767px) {
        padding-bottom: 80px;
    }
    .search-button-wrapper {
        height: 50px;
        width: 250px;
        max-width: 100%;
        position: relative;
    }

       .search {
        // @include pos;
        position: absolute;
        top: 0; // margin: -3rem 0 0 -15rem;
        width: 250px;
        height: 40px;
        #search {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        .search-init {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 50%;
            height: 40px;
            width: 40px;
            transform: translateX(-50%); // width: 7rem;
            // height: 7rem;
            cursor: pointer;
        }
        .search-border {
            @include pos;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            border: $border solid white;
            border-radius: 25px;
            transition: width $time*2 $time*2;
            &:after {
                content: "";
                position: absolute;
                right: -28px;
                bottom: -33px;
                width: 15px;
                height: $border;
                transform-origin: 100% 50%;
                transform: rotate(225deg) translatex(3rem);
                background: white;
                border-radius: $border;
                transition: width $time $time*4;
            }
        }
        .search-field {
            position: relative;
            z-index: -1;
            width: 210px;
            height: 40px;
            padding: 10px 0 10px 25px;
            background: transparent;
            border: 0 none;
            outline: none;
            font-size: rem(16);
            color: white;
            opacity: 0;
            transition: opacity $time;
        }
        .search-active {
            position: absolute;
            z-index: 3;
            top: 0;
            right: 10px;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transform: scale(0);
        }
        .close-search {
            position: absolute;
            z-index: -1;
            top: 5px;
            right: 10px;
            width: 30px;
            height: 30px;
            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 15px;
                width: 30px;
                height: $border;
                background: white;
                border-radius: $border;
                opacity: 0;
            }
            &:before {
                transform: rotate(-45deg) translatex(2rem);
                transition: transform $time, opacity ($time - .1) ($time - .1);
            }
            &:after {
                transform: rotate(45deg) translatex(2rem);
                transition: transform $time $time, opacity ($time - .1) ($time + .1);
            }
        }

        #search:checked~.search-init {
            transform: scale(0);
        }
        #search:checked~.search-border {
            width: 100%;
            transition: width $time*2 $time;
        }
        #search:checked~.search-border:after {
            width: 0;
            transition: width $time cubic-bezier(0.42, -0.7, 0.62, 1.25);
        }
        #search:checked~.search-field {
            z-index: auto;
            opacity: 1;
            transition: opacity $time $time*3;
        }
        #search:checked~.close-search {
            z-index: auto;
        }
        #search:checked~.close-search:before {
            opacity: 1;
            transform: rotate(-45deg);
            transition: transform $time $time*3 cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity ($time - .1) $time*3;
        }
        #search:checked~.close-search:after {
            opacity: 1;
            transform: rotate(45deg);
            transition: transform $time $time*4 cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity ($time - .1) $time*4;
        }
        #search:checked~.search-active {
            transform: scale(1);
        }
    }
}