.me-icon-text {
	display: flex;
	flex-wrap: nowrap;
	margin: 20px 0;

	&__icon {
		width: 80px;
		font-size: rem(52);
	}

	&__content {
		width: 100%;
		padding-left: 15px;
		color: hubl("$second_font_color");
	}
}