.me-icon{
	.subheading{
		text-transform:uppercase;
		color:#ed145b;

	}
	h2{
		margin-top:30px;
		font-size:41px;
		margin-bottom:30px;
		max-width:300px;
	}
	p{
		color:#626262;
		font-size:16px;
		text-align:center;
		margin-bottom:30px!important;
	}
	.cta_button{
		margin-top:30px;
		background-color: #ed145b;
	    color: white;
	    border-color: #ed145b;
	}
	.container-img{
		min-height: 120px;
		text-align:center;
	}
	@media(max-width:767px){
		
			margin-top:30px;
	
	}
	.column-text-cta{
		padding-top:40px;
		padding-bottom:40px;
		border-radius:20px;
	}
	.column-text-cta:hover{
	
		-webkit-box-shadow: 0px 0px 37px 10px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 0px 37px 10px rgba(0,0,0,0.15);
		box-shadow: 0px 0px 37px 10px rgba(0,0,0,0.15);

}

}
