
    .turbo-mercuric.me-icon-list-company {
        width: 33.33333%;
        position: relative;
        float: left;
        @media (max-width: 991px) {
            width: 50%;
        }
        @media (max-width: 650px) {
            width: 100%;
        }
        .icon-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            box-sizing: border-box;
            padding: 45px;
            img {
                margin-top: 25px;
            }
            h2 {
                font-size: 20px;
                font-weight: 400;
                margin: 15px 0;
                color: hubl("$first_color");
            }
            p {
                color: hubl("$second_font_color");
            }
            i {
                font-size: 70px;
                color: hubl("$dark");
            }
        }
    }

.turbo-mercuric {
    .me-icon-list-company-wrapper {
        position: relative;
        box-shadow: 0px 5px 9.9px 0.1px rgba(35, 31, 32, 0.11);
        margin-top: -150px;
        background-color: #fff;

        .me-icon-list-company {
            width: 100%;
            float: none;
            background-color: #fff;
        }

        >span {
            display: flex;
            @media (max-width: 950px){
                flex-wrap: wrap;

            }
            @media (max-width: 950px) and (min-width: 550px){
                >div {
                    width: 50%;
                }
            }
            @media (max-width: 549px){
                >div {
                    width: 100%;
                    .me-icon-list-company {
                        .icon-wrapper {
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}