section.latest-posts-module {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .post-single {
        width: calc(100% /3);
        position: relative;
        padding: 30px;
        border-right: 1px solid hubl("$outline_text");
        border-bottom: 1px solid hubl("$outline_text");
        transition: .3s linear all;
        &:last-of-type {
            border-right: 0px;
        }
        @media (max-width: 1024px) {
            width: 100%;
            // max-width: 600px;
            border-right: 0px;
            border-top: 1px solid hubl("$outline_text");
            &:first-of-type {
                margin-top: 0px;
            }
        }
        @media (min-width: 992px) {
            padding: 100px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            padding: 60px;
        }
        .post-day {
            // display: none;
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 160px;
            z-index: 1;
            color: hubl_rgba("$secondary_text", .15);
            @media (max-width: 1500px) {
                font-size: 140px;
            }
        }
        .post-content {
            position: relative;
            z-index: 2;
            h3 {
                font-weight: 400;
                margin-bottom: 15px;
            }
        }
        p {
            color: hubl("$secondary_text");
            font-weight: 300;
            &.subheading {
                margin-bottom: 30px;
            }
        }
        a {
            font-size: 20px;
            &:hover {
                text-decoration: none;
                color: inherit;
                &:before {
                    display: none;
                }
            }
        }
        a.read-more {
            color: hubl("$main_font_color");
        }
        .date {
            margin-bottom: 20px;
        }
        .topics-wrapper {
            padding: 0;
            margin: 0;
            text-transform: uppercase;
            font-size: 20px;
            color: hubl("$first_color");
            margin-bottom: 25px;
            padding-right: 100px;
            li {
                a {
                    font-weight: 500;
                }
            }
        }
        .bg-image-placeholder,
        .topics-wrapper,
        .post-content,
        .post-day,
        ul,
        li,
        a,
        p {
            transition: .3s linear all;
        }
        .bg-image-placeholder {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            .mask {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(#2b2a2b, .77);
            }
        }
        &:hover {
            cursor: pointer;
            .bg-image-placeholder {
                opacity: 1;
            }
            color: #fff;
            h3,
            p,
            a,
            ul {
                color: #fff;
            }
            .post-day {
                opacity: 0;
            }
        }
    }
}