	.person-container div span{
		    justify-content: left;
    		flex-wrap: wrap;
    		display:flex;
		 .hs_cos_wrapper_type_custom_widget{
		 	width:25%;
		 }
		 @media(max-width:992px){
		 	 .hs_cos_wrapper_type_custom_widget{
		 		width:50%;
		 	}
		 }
		  @media(max-width:768px){
		 	 .hs_cos_wrapper_type_custom_widget{
		 		width:100%;
		 	}
		 }
	}
	
.me-text-image-cta{
		.column-text-cta{
			padding-top:50px;
			padding-bottom:50px;
			border-radius:20px;
	h4,.h4{
		font-size:25px;
	}
	.subheading{
		color:#8E00AD;
		text-align:center;
		text-transform:none;
		text-align:center;
    	margin: auto;
    	margin-top:20px;
    	display: block;
    	width: 100%;
    	font-size:16px;
	}
	img{
		margin-bottom: 30px;
		display:block;
		margin:auto;
	}
	.h4{
		margin-bottom:30px;
	}
	h2{
		margin: auto;
		margin-top:0px;
		font-size:24px;
		margin-bottom:30px;
		max-width:300px;
		color: #203FA4;
		text-transform:none;
	}
	p{
		color:#626262;
		font-size:16px;
		max-width: 300px;
		margin:auto;

	}
	.cta_button{
		margin-top:30px;
		background-color: #ed145b;
	    color: white;
	    border-color: #ed145b;
	}
	@media(max-width:767px){

			margin-top:30px;
	
	}
}
}
.me-logo{
	max-width: 320px;
    margin: auto!important;
	position:relative;
	i{
		font-style:normal!important;
	}
	h2{
		margin-top:20px!important;
		margin-bottom:0px!important;
	}
	img{
		border-radius:0px!important;
		transition: all .3s linear;
	}
	.subheading{
		margin-top:0px!important;
		margin-bottom:20px!important;
	}
	.socials{
		width: 100%;
    	position: absolute;
    	top: 45px!important;
    	opacity:0;
    	transition: all 1s linear;
	}
	.me-footer-social-icons{
		float: left;
    	display:flex;
    	width: 40%;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    	margin-left: 30%;
    	margin-right: 30%;
    	flex-wrap:wrap;
	}
	.me-footer-social-icons .brd{
	    background-color:#203FA4;
	    border-radius:100px;
	     padding:10px 13px !important;
	     max-width:46px;
	     transition: all 0.5s linear;

	}
	.me-footer-social-icons .brd:hover{
 			background-color:#8E00AD;
	}
	.me-footer-social-icons .brd a{
	    height:20px;
	    width:20px;
	    text-align:center;
	}
	.me-footer-social-icons div{
	    font-size:17px!important;
	}
	.lope{
		display:inline-block;
		width:48%;
		margin-top:8px;
	}

	

}

.me-logo:hover{
	i:before{
		color:white!important;
	}
	a:before{
		content:"";
		display:none!important;
	}

	img{
  		filter: blur(10px);
	}
}

