.me-person{
	max-width: 320px;
    margin: auto!important;
	position:relative;
	i{
		font-style:normal!important;
	}
	h2{
		margin-top:20px!important;
		margin-bottom:0px!important;
	}
	img{
		border-radius:100%;
	}
	.subheading{
		margin-top:0px!important;
		margin-bottom:20px!important;
	}

	.me-footer-social-icons{
		float: left;
    	display:flex;
    	width: 40%;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    	margin-left: 30%;
    	margin-right: 30%;
    	flex-wrap:wrap;
	}
	.me-footer-social-icons .brd{
	    background-color:#203FA4;
	    border-radius:100px;
	     padding:10px 13px !important;
	     max-width:46px;
	     transition: all 0.5s linear;

	}
	.me-footer-social-icons .brd:hover{
 			background-color:#8E00AD;
	}
	.me-footer-social-icons .brd a{
	    height:20px;
	    width:20px;
	    text-align:center;
	}
	.me-footer-social-icons div{
	    font-size:17px!important;
	}
	.lope{
		display:inline-block;
		width:48%;
		margin-top:8px;
	}
}

.image-container{
  	height:200px;
  	width:200px;
  	background-repeat:no-repeat;
  	background-position:center;
  	background-size:cover;
  	border-radius:100px;
  	margin:auto!important;
}

.me-person:hover{
	i:before{
		color:white!important;
	}
	a:before{
		content:"";
		display:none!important;
	}
}
	.person-container div span{
		    justify-content: left;
    		flex-wrap: wrap;
    		display:flex;
		 .hs_cos_wrapper_type_custom_widget{
		 	width:25%;
		 }
		 @media(max-width:992px){
		 	 .hs_cos_wrapper_type_custom_widget{
		 		width:50%;
		 	}
		 }
		  @media(max-width:768px){
		 	 .hs_cos_wrapper_type_custom_widget{
		 		width:100%;
		 	}
		 }
	}