.turbo-mercuric {
	.me-photo-3d-effect{
		position: relative;
		z-index: 1;
	    margin-bottom: rem(25);

		.tilt{
			display: block;
			position: relative;
			z-index: -1;
		    transition: 0.3s box-shadow linear;
		    &:hover {
		        box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.2);
		    }
		}
		 img {
	       @media (max-width: 767px){
		        width: 100%;
		    }
	    }
	}
}