.turbo-mercuric {
    section.me-subscribe-module {
        color: #fff;
        padding: 70px 0;
        background-color: hubl("$first_color");
        .me-container {
            display: flex;
            flex-wrap: wrap;
        }
        form {
            display: flex;
            // align-items: center;
            margin: 0;
            padding-top: 31px;
            .hs-form-required {
                display: none;
            }
            .hs-form-field {
                margin-top: 0;
                margin-bottom: 20px;
            }
            input {
                margin-top: 0;
                &[type='submit'] {
                    margin-left: 40px; // margin-top: 0;
                    margin-bottom: 20px;
                    margin-top: 0;
                    font-size: rem(20);
                    @extend a.me-cta-white;
                    padding-left: 60px;
                    padding-right: 60px;
                    &:hover {
                        color: hubl("$cta_background");
                    }
                }
            }
            .hs-form-field {
                width: 100%;
                max-width: 430px;
                input, .fake-placeholder {
                    font-size: rem(20);
                }
                .fake-placeholder {
                    &.has-value {
                        bottom: -36px;
                    }
                }
                input {
                    margin-top: 4px;
                    &:focus {
                        &+.fake-placeholder {
                            bottom: -36px;
                        }
                    }
                }
            }
            @media (max-width: 550px) {
                flex-direction: column;
                .hs-form-field {
                    max-width: 100%;
                }
                .hs_submit {
                    // text-align: center;
                }
                input {
                    &[type='submit'] {
                        margin: 50px 0 0;
                    }
                }
            }

        }
        .submitted-message {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                margin: 0;
                line-height: 1.1;
                // padding: 20px 0;
            }
        }
        h3 {
            margin-bottom: 20px;
            &.form-title {
                display: none;
            }
        }
        h3,
        h5 {
            font-weight: 400;
            line-height: 1.1
        }
        .text-wrapper {
            width: 100%;
            @media (min-width: 768px) {
                padding-right: 25px;
                width: 39%;
            }
        }
        .form-wrapper {
            width: 100%;
            @media (min-width: 768px) {
                width: 60%;
            }
        }
    }
}