.me-testimonials-slide {
    width: 100%;
    text-align: center;
    
    .quota {
        i {
            font-size: rem(60);
            color: hubl("$first_color");
        }
    }
    .content {
        p {
            font-size: rem(36);
            line-height: 45px;
            font-style: italic;
        }
    }
}



.me-testimonials-slider {

    .me-testimonials-main-slider {
        margin: 0px auto 70px;
        max-width: 450px;
        padding: 0px;
        width: 100%;
        .content {
            margin-top: 25px;
            padding: 0 20px;
        }
    }

    .me-testimonials-nav-slider {
        margin: 0 auto;
        max-width: 1170px;
        padding: 0 15px;
        width: 100%;
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #e8e9ed;
            position: absolute;
            top: 130px;
            left: 50%;
            transform: translateX(-50%);
        }
        .slick-list {
           padding: 0px!important;
        } 
    }

    .pagination-element {
        text-align: center;
        padding-top: 20px;
        position: relative;
        cursor: pointer;
        -webkit-transform: translate3d(0,0,0);

        &:after {
            content: '';
            display: block;
            width: 100px;
            height: 2px;
            background-color: hubl("$first_color");
            position: absolute;
            top: 130px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: opacity 0.6s;
        }

        .avatar {
            margin: 0 auto;
            background-size: cover;
            width: 65px;
            height: 65px;

            background-position: center center;
            border-radius: 50%;
            margin-bottom: 75px;
            transform: scale(1);
            transition: transform 0.3s ease;
        }

        .description {
            opacity: 0;
            transition: opacity 0.3s;

            h5, p {
                margin-bottom: 0;
            }
        }

        &.slick-current, &.fake-current {
            .avatar {
                transform: scale(1.6);
            }
            .description {
                opacity: 1;
                transition: opacity 0.3s;
            }
              &:after{
                opacity: 1;
              }
        }
    }
}
