.me-tab-panels-wrapper {

	.nav-container {
        margin: auto;
    }

    .me-tab-panels {
	    width: 100%;
	    padding-top: 90px;
	    padding-bottom: 90px;
	    margin: 0;
	    margin-left: 0 !important;

		> .me-tab-panel  {
		    display: none;
		}

		> .active {
		    display: flex;
		}

		@media (max-width: 767px) {
			padding-top: 40px;
	    	padding-bottom: 40px;
		}
	}

    .nav-tabs {
        border-bottom: none;
        text-align: center;

        >li {
            border-bottom: 1px solid #ebebeb;
            display: inline-block;
            transition: all .3s linear;

            &:before {
            	display: none;
            }

            i, svg {
            	color: hubl("$second_font_color");
            	font-size: inherit;
            	margin-right: 10px;
            	line-height: inherit;
            	vertical-align: bottom;
            	transition: all .3s linear;
            }

            a {
            	position: relative;
                color: hubl("$second_font_color");
                border: none;
                margin: 0;
        		padding: 15px 45px;

                &:hover {
	                color: hubl("$first_color");

	                i, svg {
	                	color: hubl("$first_color");
	                }
                }

                &:before {
                	display: none;
                }
            }

            &:hover {
            	border-bottom: 1px solid hubl("$first_color");
            }
        }

        >li.active {
            border-bottom: 1px solid hubl("$first_color");
            a, i, svg {
                color: hubl("$first_color");
            }
        }

    }
}

.me-tab-panel {
	display: flex;
	flex-wrap: wrap;

	.image-wrapper {
		width: 50%;
		padding: 0 10px;
		text-align: center;

		img {
			box-shadow: 0px 5px 19.11px 1.89px rgba(0, 0, 0, 0.11);
		}

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	.text-wrapper {
		color: hubl("$main_font_color");
		width: 50%;
		padding: 30px 20px 0px;

		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 20px;
		}

		p {
			color: hubl("$second_font_color");
			margin-bottom: 20px;
		}

		@media (max-width: 767px) {
			width: 100%;
		}
	}

&.image-position-left {
	.image-wrapper {
		order: 1;
	}

	.text-wrapper {
		order: 2;
	}
}

&.image-position-right {
	.image-wrapper {
		order: 2;
	}

	.text-wrapper {
		order: 1;
	}
}

}