.me-text-image-cta {

	.column-text-cta {
		padding-top:50px;
		padding-bottom:50px;
		border-radius:20px;
		transition: all .3s linear;
		box-shadow: none;
	
		h4,.h4{
			font-size:25px;
		}
		.subheading{
			color:#8E00AD;
			text-align:center;
			text-transform:none;
			text-align:center;
	    	margin: auto;
	    	margin-top:20px;
	    	display: block;
	    	width: 100%;
	    	font-size:16px;
		}
		img{
			margin-bottom: 30px;
			display:block;
			margin:auto;
		}
		.h4{
			margin-bottom:30px;
		}
		h2{
			margin: auto;
			margin-top:0px;
			font-size:24px;
			margin-bottom:30px;
			max-width:300px;
			color: #203FA4;
			text-transform:none;
		}
		p{
			color:#626262;
			font-size:16px;
			max-width: 300px;
			margin:auto;

		}
		.cta_button{
			margin-top:30px;
			background-color: #ed145b;
		    color: white;
		    border-color: #ed145b;
		}

		.socials {
			width: 100%;
	    	position: absolute;
	    	top: 90px;
	    	opacity:0;
	    	transition: all .3s linear;
		}

		.image-container {
	    	transition: all .3s linear;
		}

		@media(max-width:767px){
			margin-top:30px;
		}

		&:hover{
			box-shadow: 0px 0px 37px 10px rgba(0,0,0,0.15);

			.socials {
				opacity: 1;
			}

			.image-container {
		  		filter: blur(10px);
			}
		}
	}
}