.parallax-banner {
    height: 565px;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

body.ios {
    .parallax-banner {
        background-attachment: scroll;
    }
}