

.portfolio-item-v1-wrapper, 
.portfolio-item-filter-wrapper{
	
   // display: flex!important;
   // flex-wrap:wrap;
   background-color: hubl("$dark");
   display: block;
   width: 100%;
   height: auto;    &>section{
        &.one-to-one {
            width: 25%;
            padding-bottom: 25%;
            @media(max-width: 1300px){
            	width: 50%;
            	padding-bottom: 50%;
            }
            @media(max-width: 767px){
            	width: 100%;
            	padding-bottom: 100%;
            }

        }
        &.one-to-two{
            width: 25%;
            padding-bottom: 50%;
             @media(max-width: 1300px){
            	 width: 50%;
            	padding-bottom: 50%;
            }
            @media(max-width: 767px){
            	width: 100%;
            	padding-bottom: 100%;
            }
        }
        &.two-to-one{
            width: 50%;
            padding-bottom: 25%;
            @media(max-width: 767px){
            	width: 50%;
            	padding-bottom: 50%;
            }
            @media(max-width: 767px){
            	width: 100%;
            	padding-bottom: 100%;
            }
        }
    }
}

.portfolio-item-v1 {
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
    padding-bottom: 100%;
    overflow: hidden;
    display: block;
    .image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-size: cover;
        background-position: center center;
        z-index: 1;
        transition: all 0.9s ease;
        transform: scale(1);
        .mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 2;
            background-color: hubl_rgba("$dark", 0.78);
            transition: opacity 0.7s;
            opacity: 0;
        }
        .content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 50px;
            text-align: center;
            color: #fff;
            transform: scale(0);
            transition: all 0.6s;
            transition-delay: 0s;
            text-decoration: none;
            &:before{
                display: none;
            }
            h4{
                margin-bottom: 15px;
            }
            p{
                font-size: rem(18);
            }
        }
    }
    &:hover {
        .image {
            transform: scale(1.1);
            .mask {
                opacity: 1;
            }
            .content {
                transform: scale(0.9);
                transition-delay: 0.4s;
            }
        }
    }
}