.portfolio-item-v2-wrapper span {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    &>div {
        width: 33.33%;
        padding-bottom: 33.33%;
        position: relative;
        @media(max-width: 1024px){
            width: 50%;
            padding-bottom: 50%;
        }
        @media(max-width: 700px){
            width: 100%;
            padding-bottom: 100%;
        }
        // MOZ fix
        @supports (-moz-appearance:meterbar) and (background-blend-mode:difference,normal) {
            display: table;
        }
        // EDGE fix
        @supports (-ms-ime-align:auto) {
             display: table;
        }
    }
}


.portfolio-item-v2 {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 0;
    width: calc(100% - 30px);
    height: auto;
    padding-bottom: calc(100% - 30px);
    overflow: hidden;
    display: block;
    transition: box-shadow .3s;
    .image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-size: cover;
        background-position: center center;
        z-index: 1;
        transition: all 0.9s ease;
        .mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 2;
            background-color: hubl_rgba("$dark", 0.78);
            transition: opacity 0.7s;
            opacity: 0;
        }
        .content {
            position: absolute;
            width: 100%;
            height: 100px;
            bottom: -100px;
            left: 0px;
            background-color: #fff;
            z-index: 3;
            padding: 0px 25px;
            display: flex;
            justify-content:center;

            flex-direction: column;
            text-align: left;
            color: #000;
            transition: all 0.4s;
            transition-delay: 0s;
            text-decoration: none;
            overflow: hidden;

            &:before {
                display: none;
            }
            h4{
                margin: 0px;
                font-size: rem(20);
               
            }
            p{
                font-size: rem(16);
                margin-bottom: 0px;
            }
        }
    }
    &:after,
    &:before {
        display: block;
        background-color: #fff;
        content: '';
        position: absolute;
        top: calc(50% - 19px);
        left: calc(50% - 19px);
        z-index: 150;
      	opacity: 0;
        transition: 0.6s all;

        

    }
    &:after {
        width: 38px;
        height: 2px;
    }
    &:before {
         width: 38px;
        height: 2px;
    }
    &:hover {
        box-shadow: 0px 7px 11.96px 1.04px rgba(0, 0, 0, 0.14);
        &:after {
            width: 38px;
            height: 2px;
            transform: rotate(-180deg);
            opacity: 1;
        }
        &:before {
            width: 38px;
            height: 2px;
             transform: rotate(90deg);
             opacity: 1;
         
        }
        .mask {
            opacity: 1;
        }
        .content {
            bottom: 0px; 
            transition-delay: 0.5s;
        }
    }
}