.portfolio-item-v3 {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: auto;
    padding-bottom: 100%;
    overflow: hidden;
    display: block;
    .image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-size: cover;
        background-position: center center;
        z-index: 1;
        transition: all 0.9s ease;
        .mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 2;
            // background-color: rgba(0, 0, 0, .75);
            background: hubl_rgba('$dark',.78);
            transition: opacity 0.7s;
            opacity: 0;
        }
        .content {
            position: relative;
            width: 100%;
            height: 100%;
            left: 0px;
            background-color: transparent;
            z-index: 3;
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            margin-top: 25px;
            margin-left: 25px;
            color: #fff;
            transition: all 0.7s;
            text-decoration: none;
            display: block;
            transform: scale(0);
            &:before{
                display: none;
            }
            div{
                border: 10px solid hubl("$first_color");
                
                border-image: linear-gradient(to left, hubl("$first_color") 0%, hubl("$second_color") 100%);
                border-image-slice: 1;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 25px;
                text-align: center;
                &:before {
                    display: none;
                }
                h4{
                    margin: 0px;
                    font-size: rem(20);
                    margin-bottom: 20px;
                   
                }
                p{
                    font-size: rem(18);
                    margin-bottom: 0px;
                }
            }
        }
    }
    &:hover {
        .mask {
            opacity: 1;
        }
        .content {
            transform: scale(1);

        }
    }
}