.portfolio-item-v4 {
    a.content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        min-height: 450px;
        border: 1px solid #ebebeb;
        &:hover{
            box-shadow: 0px 7px 11.96px 1.04px rgba(0, 0, 0, 0.14);
        }
       &:before{
        display: none;
       }
        & > div{
            width: 50%;
            @media(max-width: 767px){
                width: 100%;
            }
        }
    }
    .image {
        min-height: 450px;
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center center;
         @media(max-width: 767px){
                min-height: 300px;
                height: 300px;
            }
        
    }
    .description{
        color: hubl("$second_font_color");
        padding: 35px 35px;
         @media(max-width: 767px){
            padding: 35px 15px;
         }

        h5{
            text-transform: uppercase;
            color: hubl("$first_color");
            font-weight: 500;
            margin-bottom: 5px;
        }
        h3{
            margin-bottom: 30px;
             color: hubl("$main_font_color");
        }
        p{
            font-size: rem(16);
            line-height: rem(24);
            font-weight: 400;
        }
    }
    &.reverse{
        .image {
            order: 2;
        }
        .description{
            order: 1;
            @media(max-width: 767px){
                order: 3;
            }

        }
    }


}