.portfolio-nav{
 	position: absolute;
 	right: -85px;
 	top: calc(50% - 50px);
 	transform: translateY(-50%);
    max-width: 60px;
    width: 100%;
    margin: 0 auto;
    @media(max-width: 1200px){
    	right: 0px;
    	top: 760px;
    	transform: translateY(0);
    	max-width: 300px;
    }
    @media(max-width: 1060px){
        right: 7%;
    }
    @media(max-width: 1024px){
        top: 630px;
    }
    @media(max-width: 767px){
		top: 460px;
		display: none!important;
	}
	@media(max-width: 486px){
		display: block!important;
        top: 400px;
        right: 50%;
        transform: translateX(50%);
    }
    span{
    	text-align: center;
		cursor: pointer;
		padding: 10px 5px;
		margin: 0px;
		height: auto;
		width: auto;
		border: none;
	    border-bottom: 1px solid transparent;
	    display:block;
	    color: #fff;
    }
    .slick-center{
		border-bottom: 1px solid #fff;
		opacity: 0.6;
    }
    .slick-current{
    		border-bottom: 1px solid #fff;
		opacity: 0.6;
    }
}

.portfolio-blur-slider-wrapper {
    background-size: cover;
    background-position: center center;
    width: 100%;
    // min-height: 100vh;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    overflow: hidden;
    &:after{
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 1;
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		background-color: rgba(0,0,0,.77);
		background-color: hubl_rgba("$dark",.77);
    }
    div{
    	background-size: cover;
	    background-position: center center;
	    width: calc(100% + 200px);
	    margin-left: -100px;
	    margin-top: -100px;
	    height: calc(100vh + 200px);
	    filter: blur(10px);

    }
}

.portfolio-slider-wrapper{
	margin-left: 0px!important;
}
.portfolio-slider {
	 min-height: 100vh;
	 width: 100%;
	 padding: 100px 0px;
	 display: flex!important;
	 justify-content: center;
	 align-items: center;
	 position: relative;
	 z-index: 5;
	  max-width: 945px;
	  margin: 0 auto!important;
	  float: none!important;
	  position: relative;
    &>span {
        max-width: 945px;
        width: 100%;
        margin: 0 auto;
        @media(max-width: 1060px){
        	max-width: 85%;
        }
    }


	.slick-prev{
		top: 10px;
		right: -35px;
		left: auto;
		background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Mercuric/Portfolio%20/arrow-up.svg');
    	background-repeat: no-repeat;
    	width: 20px;
    	height: 30px;
    	transition: 0.3s top;
    	@media(max-width: 580px){
	        	right: -25px;
	        }
		&:before{
    		display: none;
    	}
    	&:hover{
    		top: 5px;
    	}
	}
    .slick-next{
    	top: 625px;
    	right: -35px;
    	background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Mercuric/Portfolio%20/arrow-up.svg');
    	background-repeat: no-repeat;
    	width: 20px;
    	height: 30px;
    	transform: rotate(180deg);
    	transition: 0.3s top;
    	@media(max-width: 1024px){
		        top: 480px;
		    }
		@media(max-width: 767px){
		    top: 325px;
		}
		@media(max-width: 580px){
	        	right: -25px;
	        }
		@media(max-width: 486px){
        	top: 280px
        }
    	&:before{
    		display: none;
    	}
    	&:hover{
    		top: 630px;
    		@media(max-width: 1024px){
		        top: 485px;
		    }
		    @media(max-width: 767px){
		        top: 330px;
		    }
		    
		    @media(max-width: 486px){
	        	top: 285px
	        }

    	}
    }
}

.portfolio-slide {
    position: relative;
    z-index: 10;
    .slide {
        width: 100%;
        height: 645px;
        background-size: cover;
        background-position: center center;
        @media(max-width: 1024px){
        	height: 500px
        }
        @media(max-width: 767px){
        	height: 350px
        }
         @media(max-width: 486px){
        	height: 300px
        }
    }
    span{
    	color: #fff;
    	font-size: rem(41);
    	text-align: center;
    	display: block;
    	margin-top: 30px;
    	@media(max-width: 1200px){
    		text-align: left;
    		width: calc(100% - 320px);
    	}
    	@media(max-width: 767px){
		    margin-top: 20px;
		    text-align: center;
		    width: 100%;
		}
		@media(max-width: 486px){
		   margin-top: 60px;
		}
    }
}