.privacy-policy {
    margin: 80px auto 35px;
    .privacy-policy-text {
        padding-bottom: 30px;
        .header {
            font-size: 20px;
            color: #292935;
            line-height: 1.6em;
        }

        p,
        ul {
            color: #b7b7b7;
        }
        li {
            margin-bottom: 20px;
        }
    }
}