.question-v2 {
    display: flex;
    @media (max-width: 1023px) {

        flex-wrap:wrap;
    }

    .left {
        width: 50%;
        padding: 95px 0px;
        @media (max-width: 1023px) {
            width: 100%;
            padding: 95px 0px 0px 0px;
        }
        .half-container {
            margin-right: 0px;
            margin-left: auto;
            @media (max-width: 1023px) {
                max-width: 100%;
                margin: 0 auto;
            }
        }

        .widget-type-rich_text {
            margin-bottom: 35px;
            h4 {
                color: hubl("$first_color");
                font-weight: 400;
                font-size: rem(20);
                margin-bottom: 20px;
            }
            h2 {
                font-weight: 400;
                line-height: rem(52);
                margin-bottom: 30px;
            }
            p {
                color: hubl("$second_font_color");
            }
        }

        
    }
    .right {
        margin-left: 60px;
        width: 50%;
        background-position: center right;
        background-size: 100%;
        background-repeat: no-repeat;
        .inner-img {
            display: none;
        }
        @media (max-width: 1023px) {
            width: 100%;
            margin-left: 15px;
            background: none!important;
            margin-bottom: 50px;
            .inner-img {
                display: block;
                margin-right: 0px;
                margin-left: auto;
            }
        }
    }
}

.accordion-wrapper {

    & > span > div {
        &:after {
            display: block;
            content: '';
            border-bottom: 1px solid #f2f2f2;
        }

        &:last-of-type {
            &:after {
                display: none;
                content: '';
                border-bottom: 0px;
            }
        }

        &:first-of-type {
            .accordion-panel.open  {
                .header {
                    margin-top: 0;
                }
            }
        }
    }
}

.accordion-panel {
    width: 100%;

    .header {
    	cursor: pointer;
        max-width: 100%;
        border-radius: 0px;
	    padding: 0;
	    text-transform: uppercase;
	    padding: 25px 45px;
	    box-shadow: none;
	    transition: 0.3s all linear;
	    margin-bottom: 0px;
	    display: inline-block;
        border-radius: 50px;
        h3{
        	text-transform: uppercase;
		    font-size: 16px;
        }
    }
    .body {
        display: none;
        padding: 0px 15px;
        max-width: 100%;
        margin: 0 auto;
        p,
        span,
        ul,
        ol {
            width: 100%;
            display: block;
            color: hubl("$second_font_color");
        }
    }
    &.open {
        .header {
           background: hubl("$first_color");
	        box-shadow: 0px 0px 16.56px 1.44px rgba(100, 22, 48, 0.4);
	        padding: 25px 45px;
	        border-radius: 50px;
	        margin-bottom: 30px;
            margin-top: 30px;
	        border:none;
	        h3 {
	        	color: #fff;
	            font-size: 16px;
	        }
        }
    }
}