/*** Resources category  ***/

.resources-page {
    .resources-upper {
        display: flex;
        justify-content: center;
        align-items: center;
        .filters-header {
            padding-right: 10px;
        }
        .widget-type-header {
            h3 {
                font-size: rem(25);
            }
        }
    }
}

.resource-categories__container {
    ul {
        &.resource-categories__list {
            >div>span {
                padding: 50px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: wrap;
            }
        }
    }
    li {
        &.resource-categories__element {
            background: hubl("$cta_background");
            display: inline-block;
            margin: 10px;
            color: #fff;
            border-radius: 30px;
            min-width: 110px;
            transition: linear .3s;
            // border: 2px solid hubl("$cta_background");
            cursor: pointer;
            text-align: center;
            min-height: 0;
            @extend a.btn-filter;
            &:before {
                display: none;
            }
            &:hover,
            &:active {
                color: hubl("$cta_background");
                background: transparent;
                // border: 2px solid hubl("$cta_background");
            }
            &.resource-categories__element--active {
                color: hubl("$cta_background");
                background: transparent;
                // border: 2px solid hubl("$cta_background");
            }
        }
    }
}

.resource {
    display: flex;
    margin-top: 50px;
    width: 50%;
    padding: 10px 15px;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
    @media screen and (max-width: 620px) {
        flex-direction: column;
        margin: 0;
    }
}

.resource__container {
    padding-top: 50px;
    padding-bottom: 50px;
    >span {
        padding-top: 50px;
        padding-bottom: 50px;
        display: block;
    }
}

.resource__container--vertical {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

.resource--vertical {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 30px 0;
    width: 33.333%;
    @media screen and (max-width: 1170px) {
        width: 50%;
    }
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    &.invis {
        display: none !important;
    }
    .resource__image-container {
        margin: 0 auto -40px;
        transition: linear 0.3s;
        width: auto;
        height: 365px;
        margin: 0 auto -40px;
        box-shadow: 0px 0px 39.56px 3.44px rgba(100, 22, 48, 0.1);
        &:hover {
            transform: scale(1.05);
            transition: linear 0.3s;
            box-shadow: 0px 0px 39.56px 3.44px rgba(100, 22, 48, 0.2);
        }
        .resource__effects-wrapper {
            a:hover:before {
                display: none;
            }
            .mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                .button_resources {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .play_icon {
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        background-image: url(https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Mercuric/Services/play-btn-resources.png);
                        position: relative;
                        height: 100px;
                        width: 100px;
                        i {
                            display: none;
                            color: #fff;
                            font-size: 50px;
                            line-height: 1;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-left: 5px;
                            transform: translate(-50%, -50%);
                            transition: all .2s linear;
                        }
                    }
                }
            }
        }
    }
    .resource__details {
        background: hubl("$cta_background");
        border-radius: 6px;
        color: #fff;
        max-width: 360px;
        width: 100%;
        padding: 65px 0 30px 0;
        text-align: center;
        margin: 0 auto;
        h3.resource__title {
            font-size: rem(20);
            font-weight: 400;
            line-height: 1em;
            margin-bottom: 3px;
        }
        p.resource__description {
            font-size: rem(18);
            margin: 0;
        }
    }
}

.single_button {
    text-align: center;
    a {
        margin: 40px auto 80px;
        padding: 15px 60px;
        border-radius: 60px;
    }
}