.what-we-do-section {
    .header {
        margin: 0 0 60px 0;
        text-align: center;
    }
    .what-we-do-single {
        width: 33.333%;
        float: left;
        display: flex;
        box-sizing: border-box;
        @media (max-width: 768px) {
            width:100%;
            padding: 30px 0;
        }
        .icon-wrap {
            min-width: 55px;
            i {
                font-size: 60px;
                color: hubl("$first_color");
                &[class^="ni-icon-"],
                &[class*=" ni-icon-"] {
                    margin-top: -4px;
                }
            }
        }
        .text {
            padding: 0 25px;
            h2 {
                font-size: 20px;
                padding: 0 0 10px 0;
            }
            p {
                color: hubl("$second_font_color");
            }
        }
    }
}

.line {
    border: 1px solid #ebebeb;
}