.single-person-box-wrapper > span {
	display: flex;
	flex-wrap: wrap;
	&> div{
		width: 33.33%;
		@media (max-width: 1024px){
			width: 50%;
		}
		@media (max-width: 650px){
			width: 100%;
		}

	}
}



.single-person-box{
	width: calc(100% - 30px);
	left: 15px;
	position: relative;
	.avatar-wrapper{
		border-radius: 0px;
		position: absolute;
		width: 100%;
		top: 0px;
		left: 0px;
		overflow: hidden;
		transition: box-shadow 0.4s;
		.avatar{
			background-size: cover;
			background-position: center center;
			transition: all 0.6s;
			width: 100%;
			padding-bottom: 100%;
			display: block;
		&:before{
			display: none;
		}

		}
		.social{
			position: absolute;
			z-index: 500;
			background-color: hubl("$first_color");
			left: 50%;
			bottom: -30px;
			opacity: 0;
			transition: 0.4s all 0s;
			transform: translateX(-50%);
			padding: 0px 30px;
			border-radius: 50px;
			z-index: 100;
			ul{
				list-style: none;
				display: flex;	
				li{
					margin: 0 5px;
					
					&:before{
						display: none;
					}
					a{
						padding: 23px 5px;
						display: block;
						i{
							color: #fff;
							font-size: rem(20);
							display: block;
						}
						&:hover{
							
							transform: translateY(-5px);
							@media(max-width: 767px){
								transform: translateY(0px);
							}
							
				
						}
					}
				}
			}
		}
	}
	.description-wrapper{
		padding-top: 100%;
		padding-bottom: 40px;
		text-align: center;
		h5{
			font-weight: 400;
			padding-top: 30px;
			font-size: rem(20);
		}
		h3{
			padding-top: 10px;
			color: hubl("$first_color");
			font-size: rem(20);
			a{
				&:before{
					display: none;
				}
			}
		}
	}
	&:hover,
	&:active{
		.avatar-wrapper{
			box-shadow: 0px 5px 9.9px 0.1px rgba(35, 31, 32, 0.19);
			.social{
				transition: 0.4s ease 0.3s;
				bottom: 25px;
				opacity: 1;

			}
		}
		.avatar{
			transform: scale(1.1);
		}
	}
}

