.single-person-row-wrapper>span {}

.single-person-row {
    display: flex;
    flex-wrap: wrap;
    min-height: 615px;
     // IE 11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height: 615px;
            } 
    // EDGE
    @supports (-ms-ime-align:auto) {
        height: 615px;
    }
    &>div {
        width: 50%;
        @media (max-width: 1024px){
        	width: 100%;
        }
    }
   .half-container{
   	 	@media (max-width: 1024px){
        	max-width: 100%;
        }
   } 
    .avatar{
    	background-size: cover;
    	background-position: center center;
    	@media (max-width: 1024px){
    		height: 350px;
    	}
    }
    .description-wrapper{
    	display: flex;
    	align-items: center;
    	justify-content: flex-start;
    	padding: 50px 0px;
    	h5{
    		margin-top: 15px;
			margin-bottom: 27px;
			font-weight: 400;
    	}
    	h3{
			margin-bottom: 43px;
    	}
    	.content{
			margin-left: 50px;
			@media (max-width: 1024px){
				margin-left: 0px;
			}
			p,ul,ol,blockquote{
				font-size: rem(18);
				color: hubl("$second_font_color");
			}
    	}
    	&.light{
			background-color: #fff;
			h5{
				color: hubl("$first_color");
			}
			.social li a{
				color: hubl("$main_font_color");
				&:hover{
					color: hubl("$first_color");
				}
			}
    	}
    	&.dark{
    		background-color: hubl("$dark");
    		color: #fff;
    		p{
    			color: #fff;
    		}
    	}
    }
	.social{
		margin-top: 55px;
		li{
			display: inline-block;
			margin-right: 30px;
			margin-bottom: 15px;
			&:last-child{
				margin-right: 0px;
			}
			&:before{
				display: none;
			}
			a{
				color: #fff;
				&:before{
					display: none;
				}
				&:hover{
					color: hubl("$first_color");
				}
				i{
					font-size: rem(32);
				}

			}
		}
	}
    &.reverse{
    	.avatar{
			order: 2;
			@media (max-width: 1024px){
				order:0;
			}
    	}
    	.description-wrapper{
			justify-content: flex-end;
			@media (max-width: 1024px){
				justify-content: flex-start;
			}

			.content{
				margin-left: 0px;
				margin-right: 50px;
				@media (max-width: 1024px){
					margin-right: 0px;
				}
	    	}
    	}
    }
    &.featured-item{
    	.description-wrapper{
	    	background-color: hubl("$first_color");
	    	color: #fff;
	    	h5{
				color: #fff;
			}
			.social li a{
				color: #fff;
				&:hover{
					color: hubl("$main_font_color");
				}
			}
	    }
    }
}



