.skill-progress-bar{
	
	h6{
		margin-bottom: 25px;
		font-size: rem(16);
		font-weight: 400;
	}
	.progress-bar{
		width: 100%;
		height: 4px;
		background-color: hubl("$lightGrey");
		border-radius: 3px;
		position: relative;
		.dot{
			width: 10px;
			height: 10px;
			background-color: hubl("$first_color");
			border-radius: 50%;
			display: block;
			position: absolute;
			left: 0px;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			small{
				position: absolute;
				top: -20px;
				left: 50%;
				transform: translateX(-50%);
				font-size: rem(14);
			}

		}
	}
}

