.square-box-wrapper > span{
	display: flex;
	flex-wrap: wrap;
	& > div{
		// set width in website sheet style Example: width: 25%
	}
}

.square-box{
	// display: table;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	background-size: cover;
	overflow: hidden;
	.mask{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		background-color: #000;
	}
	.content-wrapper{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		left: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		// background-color: rgba(0,0,0,0.55);
		  background: hubl_rgba('$dark',.78);
		transition: 0.3s all ease-out;
		text-decoration: none;
		&:before{
			display: none;
		}
		.content{
			color: #fff;
			padding: 20px 60px;
			text-align: left;
			@media (max-width: 1450px){
				padding: 15px;
			}
			h5{
				margin-bottom: 10px;
				font-weight: 400;
			}
			h3,h4{
				margin-bottom: 25px;
			}
			p{
				line-height: 24px;
				font-size: 20px;
				&:last-child{
					margin-bottom: 0px;
				}
			}
		}
	}
	&:hover{
		.content-wrapper{
			top: 0px;
		}

	}
}