.subscription-preferences {
	.show-text{
		padding:80px 0 ;
	}
	.page-header{
		padding:0 0 20px 0;
		h1{
			color: hubl("$first_color");
			font-size:20px;
			text-transform:uppercase;
			margin:0 0 45px 0;
		}
		h2{
			margin:0 0 25px 0;
			// color: hubl("$secondary_text");
			font-size:25px;
		}
		p{
			// color: hubl("$main_font_color");
			font-size: rem(18);
			font-weight: 300;
			margin:0;
			padding:0;
		}
	}
	.email-prefs{
		p.header{
			// color: hubl("$main_font_color");
			font-size:20px;
			padding:0 0 45px 0;
			margin:0;
		}
		.item{
			width:46%;
			float:left;
			box-sizing: border-box;
			margin: 0 2% 2% 0;
			@media (max-width: 991px) {
     		width:100%;
   			}
   			.item-inner.selected{
   					background:#f9f9f9;
   				}
   			.item-inner{

   				* {
   					color: inherit !important;
   				}

   				background:#f9f9f9;
				border-color: transparent;
				padding: 35px 25px;
   				.checkbox-row{
   					.fakelabel{

   						input[type="checkbox"] {
   							display: block;
   							visibility: visible;
   							opacity: 0;
   							cursor: pointer;
   							position: absolute;
   							top: 0;
   							left: 0;
   							width: 100%;
   							height: 100%;
   							z-index: 2;
   						}

						span {
						    margin-left: 30px;
						    font-size: 20px;
						    position: relative;
						    z-index: 1;
							&:before{
								background:#fff;
							}
						}
   					}
   				}
   				p{
				margin-left: 30px;
				font-size: 16px;
				font-weight: 300;
				}
   			}

   		&.disabled {
   			.item-inner {
   				.checkbox-row {
   					.fakelabel {
   						input[type="checkbox"] {
   							cursor: not-allowed;
   						}
   					}
   				}
   			}
   		}
		}
		.subscribe-options{
			display:block;
			width: 100%;
			p.header{
				// color:#000;
				margin:50px 0 0 0 ;
				font-size:20px;
				font-weight:400;
				padding:0;
			}
			p{
				margin:0 0 20px 0;
				padding:0;
				label{
					span{
						// color:#000;
						font-size:20px;
						font-weight:400;
					&:after{
						top:5px;
					}
					}
				}
			}
			.hs-button{
				margin-top:30px;
			}
			
		}
		.hs-button{
			margin-top:0px;
			white-space: normal;
			word-break: break-word;
		}
	}
}

.subscription-confirmation{
	.email-prefs{
		display:none;
	}
	.page-header{
		text-align:center;
		padding:100px 0 0 0 ;
		h2{
			// color:#ed145b;
			font-size:25px;
			margin:0;
			padding:0 0 35px 0;
		}
		p{
			// color:#b7b7b7;
			font-size:20px;
			margin:0;
			padding:0;
		}
	}
	.success{
		text-align:center;
		padding:35px 0 100px 0 ;
		font-size:20px;
		margin:0;
	}
}

.unsubscribe-backup{
	.unsubscribe-section{
		padding:70px 0 80px;
	}
	.page-header{
		padding:0;
		h1{
			font-size:51px;
			text-align:center;
			line-height: 70px;
			margin:0;
			padding: 0 0 30px 0 ;
		}
	}
	form{
		text-align:center;
		padding:0;
		h3{
			padding-bottom:51px;
			// color:#000;
		}

		.hs-input{
			max-width:500px;
			width:auto;
			@media (max-width: 600px) {
     			max-width:280px;
   			}
		}
	}
}
.header-transparent{
	//display:none;
}