// @media (max-width: 768px) {
//     .team-photo-box-wrapper {
//         padding-top: 100px;
//     }
// }
.team-photo-box-wrapper>span {
    display: flex;
    @media (max-width: 1360px) {
        flex-wrap:wrap;
    }
    &>div {
        width: 25%;
        display: table;
        @media (max-width: 1360px) {
            width: 33.33%;
        }
        @media (max-width: 1024px) {
            width: 50%;
        }
        @media (max-width: 675px) {
            width: 100%;
        }
    }
}

.team-photo-box {
    width: 100%;
    height: 100%;
    .box {
        padding-bottom: 100%;
        width: 100%;
        background-position: center center !important;
        background-size: cover !important;
        background-repeat: no-repeat;
        position: relative;
        opacity: 1;
        z-index: 0;
        display: table;
        .mask {
            background-color: rgba(0, 0, 0, 0);
            transition: background-color 0.7s;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 2;
        }
        .content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 50px;
            text-align: center;
            color: #fff;
            transform: scale(0);
            transition: all 0.6s;
            transition-delay: 0s;
            text-decoration: none;
            h3.name {
                margin: 0 0 5px;
                font-size: rem(25);
            }
            p.position {
                font-size: rem(20);
                margin: 0 0 25px;
            }
            ul {
                li {
                    display: inline-block;
                    margin: 0 5px;
                    a:before {
                        display: none;
                    }
                    i {
                        font-size: rem(25);
                        color: #fff;
                        transition: linear 0.3s;
                        &:hover {
                            color: hubl("$first_color");
                        }
                    }
                }
                li:before {
                    display: none;
                }
            }
        }
    }
    &:hover {
        position: relative;
        .mask {
            background-color: hubl_rgba("$dark", .78);
        }
        .content {
            transform: scale(0.9);
            transition-delay: 0.4s;
        }
    }
}