.image-video-text-module {
    &.img-right {
        .left-side {
            order: 1;
            @media (min-width: 1025px) {
                justify-content: flex-end;
                &__inner {
                    padding-right: 50px;
                    padding-left: 15px;
                }
            }
        }
        .right-side {
            order: 2;
        }
    }
    &.img-left {
        .left-side {
            order: 2;
            @media (min-width: 1025px) {
                justify-content: flex-start;
                &__inner {
                    padding-left: 50px;
                    padding-right: 15px;
                }
            }
        }
        .right-side {
            order: 1;
        }
    }
    display: flex;
    .popup-outer {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 1001;
        background-color: hubl_rgba("$dark", .8);
        .popup-inner {
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 0 15px;
            transform: translate(-50%, -50%);
            iframe {
                height: 100%;
                width: 100%;
            }
            @media (min-width: 992px) {
                width: 920px;
                height: 518px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                width: 720px;
                height: 405px;
            }
            @media (min-width: 480px) and (max-width: 767px) {
                width: 420px;
                height: 236px;
            }
            @media (max-width: 479px) {
                width: 300px;
                height: 169px;
            }
        }
        .exit-popup {
            background-image: url(https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Mercuric/Product/exit-btn-diamond.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            width: 18px;
            height: 18px;
            @media (min-width: 992px) {
                top: 30px;
                right: 30px;
            }
            @media (max-width: 991px) {
                top: 10px;
                right: 10px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .left-side {
        background-color: hubl("$first_color");
        color: #fff;
        &__inner {
            padding: 0 15px;
            h2 {
                margin-bottom: 25px;
            }
            p, .video-popup-btn {
                font-size: rem(18);
            }
            .video-popup-btn {
                margin-top: 80px;
                padding-left: 80px;
                position: relative;
                transition: .2s linear opacity;
                &:before {
                    content: url(https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Mercuric/Product/video_play_btn.png);
                    position: absolute;
                    left: 0;
                    top: -20px;
                }
                &:hover {
                    cursor: pointer;
                    opacity: .7;
                }
            }
        }
    }
    .right-side {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    @media (min-width: 1025px) {
        .left-side {
            // width: 56%;
            width: 47%;
            display: flex;
            padding: 150px 0;
            &__inner {
                // max-width: 695px;
                max-width: 540px;
            }
        }
        .right-side {
            // width: 44%;
            width: 53%;
        }
    }
    @media (max-width: 1024px) {
        .left-side {
            width: 100%;
            padding: 100px 0;
        }
    }
    @media (max-width: 1024px) {
        flex-direction: column;
        .left-side,
        .right-side {
            width: 100%;
        }
        .right-side {
            height: 450px;
            z-index: 4;
        }
    }
}

.image-text-person-opt {
    display: flex;
    .left-side {
        // width: 44%;
        width: 53%;
        background-repeat: no-repeat;
        background-size: cover;
        &.left {
            background-position: bottom left;
        }
        &.center {
            background-position: bottom center;
        }
        &.right {
            background-position: bottom right;
        }
    }
    .right-side {
        // width: 56%;
        width: 47%;
        padding: 50px 0;
        &__inner {
            padding: 0 15px;
        }
        @media (min-width: 1025px) {
            display: flex;
            padding: 100px 0;
            &__inner {
                // max-width: 695px;
                max-width: 540px;
                
                h5 {
                    font-weight: 400;
                    &:first-of-type {
                        margin-bottom: 15px;
                    }
                }
                p {
                    font-size: rem(18);
                }
                h2 {
                    margin-bottom: 25px;
                }
                .cta_button {
                    &:first-of-type {
                        margin-top: 40px;
                    }
                }
            }
        }
        @media (max-width: 1024px) {
            width: 100%;
        }
        p {
            color: hubl("$secondary_text");
        }
        .person-info {
            margin-top: 60px;
            display: flex;
            align-items: center;
            .person-details {
                margin-left: 20px;
                p {
                    margin: 0;
                    &.name {
                        font-size: rem(20);
                        color: hubl("$dark");
                    }
                    &.position {
                        color: hubl("$first_color");
                        font-weight: 400;
                    }
                }
            }
        }
    }
    @media (min-width: 1025px) {
        &.img-right {
            .left-side {
                order: 2;
            }
            .right-side {
                order: 1;
            }
        }
        &.img-left {
            .left-side {
                order: 1;
            }
            .right-side {
                order: 2;
            }
        }
    }
    &.img-right {
        .right-side {
            justify-content: flex-end;
            @media (min-width: 1025px) {
                justify-content: flex-end;
                &__inner {
                    padding-right: 50px;
                    padding-left: 15px;
                }
            }
        }
    }
    &.img-left {
        .right-side {
            justify-content: flex-start;
            @media (min-width: 1025px) {
                justify-content: flex-start;
                &__inner {
                    padding-left: 50px;
                    padding-right: 15px;
                }
            }
        }
    }
    @media (max-width: 1024px) {
        flex-direction: column;
        .left-side,
        .right-side {
            width: 100%;
        }
        .left-side {
            order: 4;
            height: 450px;
            background-size: cover;
            &.left, &.right, &.center {
                background-position: bottom center;
            }
        }
    }
}