.text-and-subscribe-full-box{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	// IE 11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height: 100vh;
            } 
    // EDGE
    @supports (-ms-ime-align:auto) {
        height: 100vh;
    }
	& > div{
		width: 50%;
		padding: 40px 0px;
		@media (max-width: 767px){
			width: 100%;
		}
	}
	.half-container{
		width: 100%;
		max-width: 585px;
		padding: 0 15px;
		@media (max-width: 767px){
			max-width: 100%;
		}
	}
	.left{
		background: linear-gradient(57deg, hubl("$second_color") 20%, hubl("$first_color") 80%);
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media (max-width: 767px){
			justify-content: flex-start;
		}
		.icon-wrapper{
			img,i{
				margin-bottom: 80px;
				@media (max-width: 767px){
					margin-bottom: 40px;
				}
			}
			i {
				color: #fff;
			}
		}
		.content{
			color: #fff;
			padding-right: 50px;
			@media (max-width: 767px){
				padding-right: 0px;
			}
			h1,h2{
				font-size: 41px;
				font-weight: 400;
				margin-bottom: 30px;
			}
			p:last-child{
				margin-bottom: 0px;
			}
			a{
            color: #fff;
            cursor: pointer;
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                bottom: 0px;
                border-bottom: 1px dashed #fff;
            }
        }
        ul{
            display: inline-block;
            li{
                padding-left: 20px;
                &:before{
                    color: #fff;
                }
            }
        }
		}
	}
	.right{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 50px;
		@media (max-width: 767px){
				padding-left: 0px;
			}
		 h4 {
            color: hubl("$first_color");
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 8px;
        }
        h2 {
            font-weight: 400;
        }
		form{
			max-width: 460px;
			@media (max-width: 767px){
				max-width: 100%;
			}

		}
		form input[type=submit]{
			    margin: 55px 0 0px 0;
                    min-width: 210px;
                    border-radius: 50px;
                    text-align: center;
                    line-height: 54px;
                    padding: 0px 50px;
			}
		

	}
}







