.timeline-item-wrapper>span {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    &>div {
        width: 100%;
        position: relative;
        z-index: 5;
        &:not(:first-child) {
            .timeline-item {
                transform: translateY(-150px);
                margin-bottom: -150px;
                @media (max-width: 1180px) {
                    transform: translateY(0px);
                    margin-bottom: 0px;
                }
            }
        }
    }
    .progress-bar {
        position: absolute;
        left: calc(50% + 1px);
        top: 0px;
        width: 2px;
        height: 0px;
        background-color: hubl("$first_color");
        z-index: 1;
        @media (max-width: 1180px) {
            display: none;
        }
    }
    .dot-end {
        position: absolute;
        bottom: 133px;
        left: calc(50% - 7px);
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: hubl("$first_color");
        border: 1px solid hubl("$first_color");
        z-index: 20;
        @media (max-width: 1180px) {
            display: none;
        }
    }

    .text-end {
        position: absolute;
        bottom: 110px;
        left: calc(50%);
        padding-left: 50px;
        font-size: rem(51);
        font-weight: 600;
        max-width: 575px;
        @media (max-width: 1180px) {
            display: none;
        }
    }
}


.timeline-item {
    max-width: 495px;
    width: 100%;
    position: relative;
    @media (max-width: 1180px) {
        max-width: 100%;
        .wrapper{
            display: flex;
            margin-bottom: 50px;
            .text-content{
                width: 50%;
            }
            .photo-3d-effect{
                width: 50%;
            }
            @media (max-width: 767px){
                flex-wrap: wrap;
                // margin-bottom: 25px;
                .text-content{
                    width: 100%;
                    margin-bottom: 0px;
                }
                .photo-3d-effect{
                    min-width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .text-content {
        margin-bottom: 40px;
        h3 {
            font-size: rem(25);
            margin-bottom: 15px;
        }
        p,
        ol,
        ul {
            color: hubl("$secondary_text");
        }
    }
    .dot-point {
        position: absolute;
        display: block; // content: '';
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 0px;
        background-color: hubl("$first_color");
        border: 1px solid hubl("$first_color");
        z-index: 20;
        animation-name: colorBg;
        animation-delay: 0.4s;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        @media (max-width: 1180px) {
            display: none;
        }
    }


    &.left {
        float: left;
        .text-content {
            text-align: right;
        }
        .dot-point {
            right: -86px;
        }
        @media (max-width: 1180px) {
            float: none;
            .wrapper{
                .text-content{
                    text-align: left;
                    margin-left: 25px;
                    order: 2;
                    @media (max-width: 767px){
                        margin-left: 0px;
                        
                    }
                
                }
            }


        }
    }
    &.right {
        float: right;
        @media (max-width: 1180px) {
            float: none;
            .wrapper{
                .text-content{
                    text-align: left;
                    margin-right: 25px;
                    @media (max-width: 767px){
                        margin-right: 0px;
                        order: 2;
                    }
                
                }
            }

        }
        .dot-point {
            left: -82px;
        }
    }
}



@keyframes colorBg {
    from {
        background-color: #fff;
    }
    to {
        background-color: hubl("$first_color");
    }
}