.timeline-item-wrapper-v2>span {
    display: flex;
    flex-wrap: wrap; 
    position: relative;
    z-index: 0;
    &>div {
        width: 100%;
        position: relative;
        z-index: 5;
    }
    .progress-bar {
        position: absolute;
        left: calc(50% + 1px);
        top: 15px;
        width: 1px;
        height: 0px;
        background-color: transparent;
        border-right: 1px dashed hubl("$lightGrey");
        z-index: 1;
        @media (max-width: 1180px) {
            display: none;
        }
    }
}


.timeline-item-v2 {
    max-width: 475px;
    width: 100%;
    position: relative;
    @media (max-width: 1180px) {
        max-width: 100%;
        .wrapper{
            display: block;
            margin-bottom: 0px;
             padding: 25px 0px 50px;
            .text-content{
                width: 100%;

            }
            @media (max-width: 767px){
                flex-wrap: wrap;
                .text-content{
                    width: 100%;
                    margin-bottom: 0px;
                }
                .photo-3d-effect{
                    min-width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .wrapper{
         background-repeat: no-repeat;
        .text-content {
            margin-bottom: 0px;
            padding-left: 100px;
            padding-right: 0px;
            padding-bottom: 30px;
            h3 {
                font-size: rem(51);
                margin-bottom: 15px;
            }
            p,
            ol,
            ul {
                color: hubl("$secondary_text");
            }
        }
        .dot-point{
            position: relative;
            padding-left: 20px;
            font-size: 20px;
            color: hubl("$first_color");
            margin-bottom: 15px;
            @media (max-width: 1180px) {
                padding-left: 0px;
            }
            span{
                display: block;
                position: absolute;
                width: 50px;
                height: 1px;
                background-color: transparent;
                border-bottom: 1px dashed hubl("$lightGrey");
                top: 50%;
                transform: translateY(-50%);
                left: -44px;
                @media (max-width: 1180px) {
                    display: none;
                }
            }
            &:before {
                content: '';
                position: absolute;
                display: block; // content: '';
                width: 9px;
                height: 9px;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
                left: 0px;
                background-color: hubl("$first_color");
                border: 1px solid hubl("$first_color");
                z-index: 20;
                @media (max-width: 1180px) {
                    display: none;
                }
            }
            &:after {
                content: '';
                position: absolute;
                display: block; // content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
                right: -44px;
                background-color: hubl("$first_color");
                border: 1px solid hubl("$first_color");
                z-index: 20;
                @media (max-width: 1180px) {
                    display: none;
                }
            }
        }
    }
    &.left {
        float: left;
        .text-content {
            text-align: right;
        }
        .dot-point {
            text-align: right;
            padding-right: 20px;
             @media (max-width: 1180px) {
                    padding-right: 0px;
                    text-align: left;

                }
            &:before{
                right: 0px;
                left: auto;
            }
            span{
                right: -44px;
                left: auto;
            }
        }
        @media (max-width: 1180px) {
            float: none;
            .wrapper{
                @media (max-width: 1180px){
                    background-position-x: right;
                }
                .text-content{
                    text-align: left;
                    margin-left: 25px;
                    order: 2;
                     @media (max-width: 1180px){
                        padding-left: 0px;
                        margin-left: 0px;
                     }
                    @media (max-width: 767px){
                        margin-left: 0px;
                        
                    }
                
                }
            }


        }
    }
    &.right {
        float: right;
        .wrapper{
            background-position-x: right;
            .text-content{
                padding-left: 0px;
                padding-right: 100px;
                 @media (max-width: 1180px) {
                    padding-right: 0px;
                 }
            }
        }
        @media (max-width: 1180px) {
            float: none;
            .wrapper{
                .text-content{
                    text-align: left;
                    margin-right: 25px;
                    @media (max-width: 767px){
                        margin-right: 0px;
                        order: 2;
                    }
                
                }
            }

        }
        .dot-point {
            left: 0px;
            &:after {
                right: auto;
                left: -41px;
            }
        }
    }
}

