.stl-product-video-slider .slick-slider {
    margin-bottom: 0;
}

.stl-product-video-slider .slick-track {
    margin: auto;
}

.stl-product-video-slider .stl-product-video-slide,
.stl-product-video-slide {
    position: relative;
    width: 25vw;
    height: 480px;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .stl-product-video-slider .stl-product-video-slide,
    .stl-product-video-slide {
        width: 33.33vw;
        min-width: 480px;
    }
}

.stl-product-video-slider .stl-product-video-slide:hover .stl-product-video-slide__mask,
.stl-product-video-slide:hover .stl-product-video-slide__mask {
    opacity: 1;
    visibility: visible;
}

.stl-product-video-slider .stl-product-video-slide__mask,
.stl-product-video-slide__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hubl_rgba("$dark", 0.78);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
}

.stl-product-video-slider .stl-product-video-slide__button,
.stl-product-video-slide__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stl-product-video-slider .stl-product-video-slide__button a,
.stl-product-video-slide__button a {
    display: inline-block;
    color: #fff;
    text-align: center;
    &:hover {
        &:before {
            content: none;
        }
    }
    img {
        margin: 0 auto 15px;
    }
}

.stl-product-video-slider .stl-product-video-slide__button a .play-icon,
.stl-product-video-slide__button a .play-icon {
    position: relative;
    height: 130px;
    width: 130px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin-bottom: 30px;
    transition: all .2s linear;
}

.stl-product-video-slider .stl-product-video-slide__button a .play-icon:hover,
.stl-product-video-slide__button a .play-icon:hover {
    background-color: #fff;
    transform: scale(1.1);
    transition: all .2s linear;
}

.stl-product-video-slider .stl-product-video-slide__button a .play-icon:hover i,
.stl-product-video-slide__button a .play-icon:hover i {
    cursor: pointer;
    color: hubl("$first_color");
}

.stl-product-video-slider .stl-product-video-slide__button a .play-icon i,
.stl-product-video-slide__button a .play-icon i {
    font-size: 60px;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 5px;
    transform: translate(-50%, -50%);
    transition: all .2s linear;
}

.stl-product-video-slider .stl-product-video-slide__button a .play-text,
.stl-product-video-slide__button a .play-text {
    font-size: rem(25);
    // text-transform: uppercase;
}

.stl-product-video-slider .stl-product-video-slide__bg-image,
.stl-product-video-slide__bg-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.stl-product-video-slider .stl-product-video-slide video,
.stl-product-video-slider .stl-product-video-slide iframe,
.stl-product-video-slide video,
.stl-product-video-slide iframe {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    max-width: none;
    transform: translate(-50%, -50%);
}

.stl-product-video-slider .stl-product-video-slide video,
.stl-product-video-slide video {
    width: auto;
    height: 480px;
}

.stl-product-video-slider .stl-product-video-slide iframe,
.stl-product-video-slide iframe {
    pointer-events: none;
    width: 960px;
    height: 480px;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.iframe-container iframe,
.iframe-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}