section.view-video {
    background: hubl("$first_color");
    .content {
        padding: 70px 0;
        color: #fff;
        text-align: center;
        h2 {
            font-size: 41px;
            margin-bottom: 45px;
        }
        p {
            font-size: 25px;
            position: relative;
            @media (max-width: 768px) {
                margin-left:0;
            }
        }
    }
}